<!DOCTYPE html>
<html class="fancyScroll">
<head>
  <meta charset="utf-8">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900|Material+Icons" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
  
  <link href="../../../../../css/vuetify.css" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">

  <title>Pymesh BLE </title>
  <meta name="description" content="">

  <script src="../../../../../js/smooth-scroll.js"></script>
  <link href="../../../../../css/doc-theme.css%3F.css" rel="stylesheet">
  <link rel="icon" href="../../../../../favicon.ico">
  
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/docsearch.js@2/dist/cdn/docsearch.min.css" />
</head>
<body>
</script>
<v-app id="app" class=""  v-cloak style="background-color: white;">
   <v-navigation-drawer
  v-model="drawer"
  fixed
  app
  class="lighten-4 pt-0"
  style="overflow-y: hidden; overflow-x: hidden;margin-top:68px;"
>

  <div class="fancyScroll pa-0 ma-0" style="overflow-y: scroll; overflow-x: hidden;
      max-height: 100%;" >

    <v-divider class="mr-2 ml-1 mb-4" style="border: 0"></v-divider>

      <ul class="lefttree">
        <li class="lefttree">
            <a href="../../../../../index.html" class="beba" style="color: #1E1E3C; text-decoration: none;" >
              <v-icon style="color: #1E1E3C;">home</v-icon> Introduction</a>
        </li>
      </ul>

    


<ul class="lefttree ">

  
  
  
  
  


    <li class="lefttree ">
      <v-icon style="color: transparent; display: hidden;" >done</v-icon>
      <a href="../../../../../gettingstarted/registration/lora/helium_hotspot_registration/index.html" class="">Pycom Helium Miner</a>
    </li>

  

  
  
  
  
  


    <li class="lefttree ">
      <v-icon style="color: transparent; display: hidden;" >done</v-icon>
      <a href="../../../../../products/index.html" class="">Pycom Products</a>
    </li>

  

  
  
  
  
  

  
    <li class="lefttree " >
      <v-icon style="color: transparent; display: hidden;" >done</v-icon>
      <a href="../../../../../gettingstarted/index.html" class="">  Getting Started</a>
      
      

      

  

  
  
  
  
  

  
    <li class="lefttree " >
      <v-icon style="color: transparent; display: hidden;" >done</v-icon>
      <a href="../../../../../tutorials/index.html" class="">  Tutorials &amp; Examples</a>
      
      

      

  

  
  
  
  
  

  
    <li class="lefttree padleft hot" >
      <v-icon style="color: transparent; display: hidden;" >done</v-icon>
      <a href="../../../../index.html" class="hot">  Firmware &amp; API Reference</a>
      
      
        


<ul class="lefttree ">

  
  
  
  
  

  
    <li class="lefttree padleft hot" >
      <v-icon style="color: transparent; display: hidden;" >done</v-icon>
      <a href="../../../index.html" class="hot">  Pycom Modules</a>
      
      
        


<ul class="lefttree ">

  
  
  
  
  

  
    <li class="lefttree " >
      <v-icon style="color: transparent; display: hidden;" >done</v-icon>
      <a href="../../../machine/index.html" class="">  machine</a>
      
      

      

  

  
  
  
  
  

  
    <li class="lefttree padleft hot" >
      <v-icon style="color: transparent; display: hidden;" >done</v-icon>
      <a href="../../index.html" class="hot">  network</a>
      
      
        


<ul class="lefttree ">

  
  
  
  
  


    <li class="lefttree ">
      <v-icon style="color: transparent; display: hidden;" >done</v-icon>
      <a href="../../wlan/index.html" class="">WLAN</a>
    </li>

  

  
  
  
  
  


    <li class="lefttree ">
      <v-icon style="color: transparent; display: hidden;" >done</v-icon>
      <a href="../../coap/index.html" class="">CoAP</a>
    </li>

  

  
  
  
  
  


    <li class="lefttree ">
      <v-icon style="color: transparent; display: hidden;" >done</v-icon>
      <a href="../../server/index.html" class="">Server</a>
    </li>

  

  
  
  
  
  

  
    <li class="lefttree padleft hot" >
      <v-icon style="color: transparent; display: hidden;" >done</v-icon>
      <a href="../index.html" class="hot">  Bluetooth</a>
      
      
        


<ul class="lefttree ">

  
  
  
  
  


    <li class="lefttree ">
      <v-icon style="color: transparent; display: hidden;" >done</v-icon>
      <a href="../gatt/index.html" class="">GATT</a>
    </li>

  

  
  
  
  
  


    <li class="lefttree ">
      <v-icon style="color: transparent; display: hidden;" >done</v-icon>
      <a href="../gattcconnection/index.html" class="">GATTCConnection</a>
    </li>

  

  
  
  
  
  


    <li class="lefttree ">
      <v-icon style="color: transparent; display: hidden;" >done</v-icon>
      <a href="../gattccservice/index.html" class="">GATTCService</a>
    </li>

  

  
  
  
  
  


    <li class="lefttree ">
      <v-icon style="color: transparent; display: hidden;" >done</v-icon>
      <a href="../gattccharacteristic/index.html" class="">GATTCCharacteristic</a>
    </li>

  

  
  
  
  
  


    <li class="lefttree ">
      <v-icon style="color: transparent; display: hidden;" >done</v-icon>
      <a href="../gattsservice/index.html" class="">GATTSService</a>
    </li>

  

  
  
  
  
  


    <li class="lefttree ">
      <v-icon style="color: transparent; display: hidden;" >done</v-icon>
      <a href="../gattscharacteristic/index.html" class="">GATTSCharacteristic</a>
    </li>

  

  
  
  
  
  


    <li class="lefttree hot">
      <v-icon style="color: transparent; display: hidden;" >done</v-icon>
      <a href="index.html" class="hot">Pymesh BLE</a>
    </li>

  

</ul>

      

      
    </li>
      

  

  
  
  
  
  

  
    <li class="lefttree " >
      <v-icon style="color: transparent; display: hidden;" >done</v-icon>
      <a href="../../lora.html" class="">  LoRa</a>
      
      

      

  

  
  
  
  
  


    <li class="lefttree ">
      <v-icon style="color: transparent; display: hidden;" >done</v-icon>
      <a href="../../sigfox/index.html" class="">Sigfox</a>
    </li>

  

  
  
  
  
  


    <li class="lefttree ">
      <v-icon style="color: transparent; display: hidden;" >done</v-icon>
      <a href="../../lte/index.html" class="">LTE</a>
    </li>

  

  
  
  
  
  


    <li class="lefttree ">
      <v-icon style="color: transparent; display: hidden;" >done</v-icon>
      <a href="../../mdns/index.html" class="">MDNS</a>
    </li>

  

  
  
  
  
  


    <li class="lefttree ">
      <v-icon style="color: transparent; display: hidden;" >done</v-icon>
      <a href="../../eth/index.html" class="">Ethernet</a>
    </li>

  

</ul>

      

      
    </li>
      

  

  
  
  
  
  


    <li class="lefttree ">
      <v-icon style="color: transparent; display: hidden;" >done</v-icon>
      <a href="../../../aes.html" class="">AES</a>
    </li>

  

  
  
  
  
  


    <li class="lefttree ">
      <v-icon style="color: transparent; display: hidden;" >done</v-icon>
      <a href="../../../pycom.html" class="">Pycom</a>
    </li>

  

  
  
  
  
  

  
    <li class="lefttree " >
      <v-icon style="color: transparent; display: hidden;" >done</v-icon>
      <a href="../../../expansionboards/index.html" class="">  Shields</a>
      
      

      

  

</ul>

      

      
    </li>
      

  

  
  
  
  
  

  
    <li class="lefttree " >
      <v-icon style="color: transparent; display: hidden;" >done</v-icon>
      <a href="../../../../micropython/index.html" class="">  MicroPython Modules</a>
      
      

      

  

  
  
  
  
  


    <li class="lefttree ">
      <v-icon style="color: transparent; display: hidden;" >done</v-icon>
      <a href="../../../../notes.html" class="">Interrupts</a>
    </li>

  

</ul>

      

      
    </li>
      

  

  
  
  
  
  

  
    <li class="lefttree " >
      <v-icon style="color: transparent; display: hidden;" >done</v-icon>
      <a href="../../../../../datasheets/index.html" class="">  Product Info, Datasheets</a>
      
      

      

  

  
  
  
  
  

  
    <li class="lefttree " >
      <v-icon style="color: transparent; display: hidden;" >done</v-icon>
      <a href="../../../../../updatefirmware/index.html" class="">  Update Firmware</a>
      
      

      

  

  
  
  
  
  

  
    <li class="lefttree " >
      <v-icon style="color: transparent; display: hidden;" >done</v-icon>
      <a href="../../../../../pybytes/index.html" class="">  Pybytes</a>
      
      

      

  

  
  
  
  
  

  
    <li class="lefttree " >
      <v-icon style="color: transparent; display: hidden;" >done</v-icon>
      <a href="../../../../../cellularservices/index.html" class="">  Cellular Services</a>
      
      

      

  

  
  
  
  
  

  
    <li class="lefttree " >
      <v-icon style="color: transparent; display: hidden;" >done</v-icon>
      <a href="../../../../../pylife/index.html" class="">  Pylife</a>
      
      

      

  

  
  
  
  
  

  
    <li class="lefttree " >
      <v-icon style="color: transparent; display: hidden;" >done</v-icon>
      <a href="../../../../../pymesh.html" class="">  Pymesh</a>
      
      

      

  

  
  
  
  
  

  
    <li class="lefttree " >
      <v-icon style="color: transparent; display: hidden;" >done</v-icon>
      <a href="../../../../../docnotes/index.html" class="">  Micropython Support</a>
      
      

      

  

  
  
  
  
  

  
    <li class="lefttree " >
      <v-icon style="color: transparent; display: hidden;" >done</v-icon>
      <a href="../../../../../advance/downgrade.html" class="">  Advanced topics</a>
      
      

      

  

  
  
  
  
  


    <li class="lefttree ">
      <v-icon style="color: transparent; display: hidden;" >done</v-icon>
      <a href="../../../../../license/index.html" class="">License</a>
    </li>

  

</ul>


    <v-divider class="grey lighten-1 ma-2 mt-4 mb-4"></v-divider>

    <ul class="lefttree" >Have a question ?
      <li class="lefttree">  <a href="https://forum.pycom.io">Ask on the forum</a>
    </ul>
    <p>&nbsp;</p>
      <p>&nbsp;</p>
  </div>
</v-navigation-drawer>
<v-toolbar
  app
  fixed
  height=68
  class="pr-3 pl-2 navbar"
  dark
  style="background-color: #171730;"
  flat
>
  <v-toolbar-title style="width: 260px; " class="ml-4 pl-0  pt-2 text-xs-center hidden-sm-and-down">
    <v-img class="ml-4"  height=48 width=190  src="/logo.svg" class="">
  </v-toolbar-title>

    <v-btn icon @click.stop="drawer = !drawer" style="z-index: 1200;">
      <v-icon>toc</v-icon>
    </v-btn>
    <span class="beba" style="font-size: 1.6rem; opacity: 0.85;">
        Pymesh BLE
    </span>

  <v-text-field
    style="max-width: 650px"
    class="ml-3 algolia-search-field"
    light
    hide-details
    label="Search the docs..."
    solo
    append-icon="search"
  ></v-text-field>

  <v-spacer></v-spacer>
  
  <div style="width: 240px;">
  <v-select :items="branches" v-model="branch" width=120 class="mono">
  </v-select>
  </div>
  <v-btn icon ref="tocBtn" @click.stop="drawer2 = !drawer2" >
    <v-icon style="color: rgb(23, 255, 189);">more_vert</v-icon>
  </v-btn>
  
</v-toolbar>
<v-content >
      <v-container class="fluid pa-4" style="padding-top: 0 !important;">
          <v-container class="ma-1 pa-1"><v-slide-y-transition>
    <v-card class="menu-contextual" v-if="drawer2" @click.stop="drawer2 = !drawer2">
      <v-card-title class="beba" style="height: 68px; background-color: #1E1E3C; color: #17FFBD">
        What's in this document
        <v-btn icon @click.stop="drawer2 = !drawer2" style="color: #17FFBD; position: absolute; right: 0; top: 4px;;">
          <v-icon>more_vert</v-icon>
        </v-btn>


      </v-card-title>
      <v-card-text class="fancyScroll righttree">
    <nav id="TableOfContents">
  <ul>
    <li class="righttree"><a href="index.html#methods-of-ble_mesh-class">Methods of BLE_Mesh class</a>
      <ul>
        <li class="righttree"><a href="index.html#ble_meshinitnamepycom-esp-ble-mesh--auth0-callbacknone">BLE_Mesh.init(name="PYCOM-ESP-BLE-MESH&rdquo;, *, auth=0, callback=None)</a></li>
        <li class="righttree"><a href="index.html#ble_meshset_node_provbearerble_meshprov_none-">BLE_Mesh.set_node_prov(bearer=BLE_Mesh.PROV_NONE, *)</a></li>
        <li class="righttree"><a href="index.html#ble_meshreset_node_prov">BLE_Mesh.reset_node_prov()</a></li>
        <li class="righttree"><a href="index.html#ble_meshcreate_element-primary-feature0-beacontrue-ttl7">BLE_Mesh.create_element(*, primary, feature=0, beacon=true, ttl=7)</a></li>
      </ul>
    </li>
    <li class="righttree"><a href="index.html#methods-of-ble_mesh_element-object">Methods of BLE_Mesh_Element object</a>
      <ul>
        <li class="righttree"><a href="index.html#ble_mesh_elementadd_modeltypeble_meshgen_onoff-server_clientble_meshserver--callbacknone-valuenone-sen_min-100-sen_max100-sen_res01">BLE_Mesh_Element.add_model(type=BLE_Mesh.GEN_ONOFF, server_client=BLE_Mesh.SERVER, *, callback=None, value=None, sen_min=-100, sen_max=100, sen_res=0.1)</a></li>
      </ul>
    </li>
    <li class="righttree"><a href="index.html#methods-of-ble_mesh_model-object">Methods of BLE_Mesh_Model object</a>
      <ul>
        <li class="righttree"><a href="index.html#ble_mesh_modelget_stateaddrble_meshaddr_all_nodes-app_idx0-state_typenone">BLE_Mesh_Model.get_state(addr=BLE_Mesh.ADDR_ALL_NODES, app_idx=0, state_type=None)</a></li>
        <li class="righttree"><a href="index.html#ble_mesh_modelset_statestate-addrble_meshaddr_all_nodes-app_idx0-state_typenone">BLE_Mesh_Model.set_state(state, addr=BLE_Mesh.ADDR_ALL_NODES, app_idx=0, state_type=None)</a></li>
        <li class="righttree"><a href="index.html#ble_mesh_modelstatus_stateaddrble_meshaddr_all_nodes-app_idx0-state_typenone">BLE_Mesh_Model.status_state(addr=BLE_Mesh.ADDR_ALL_NODES, app_idx=0, state_type=None)</a></li>
      </ul>
    </li>
    <li class="righttree"><a href="index.html#constants">Constants</a></li>
  </ul>
</nav>
      </v-card-text>
    </v-card>
</v-slide-y-transition>





<v-card flat class="DocSearch-content">
  <v-card-text>
    
    








  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
      
        








  
  

  

  
    

      

  
  






  
  

  

  
      
        








  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  


</ul>

    

  






  
  

  

  
      
        








  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  


</ul>

    

  






  
  

  

  
      
        








  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
      
        








  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  


</ul>

    

  


</ul>

    

  


</ul>

    

  






  
  

  

  
      
        








  
  

  

  
      
        








  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  


</ul>

    

  






  
  

  

  
      
        








  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  


</ul>

    

  






  
  

  

  
      
        








  
  

  

  
    

      

  
  






  
  

  

  
      
        








  
  

  

  
    

      

  
  


</ul>

    

  






  
  

  

  
      
        








  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  


</ul>

    

  






  
  

  

  
      
        








  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  


</ul>

    

  






  
  

  

  
      
        








  
  

  

  
    

      

  
  


</ul>

    

  






  
  

  

  
    

      

  
  


</ul>

    

  






  
  

  

  
      
        








  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  


</ul>

    

  






  
  

  

  
      
        








  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  


</ul>

    

  






  
  

  

  
      
        








  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  


</ul>

    

  






  
  

  

  
      
        








  
  

  

  
    

      

  
  


</ul>

    

  


</ul>

    

  






  
  

  

  
      

      <a href="../../../../index.html" class="bread hot">  Firmware &amp; API Reference</a>
        >
      
        








  
  

  

  
      

      <a href="../../../index.html" class="bread hot">  Pycom Modules</a>
        >
      
        








  
  

  

  
      
        








  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  


</ul>

    

  






  
  

  

  
      

      <a href="../../index.html" class="bread hot">  network</a>
        >
      
        








  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
      

      <a href="../index.html" class="bread hot">  Bluetooth</a>
        >
      
        








  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      <a href="index.html" class="bread">Pymesh BLE </a>

      

      
      

        

  
  


</ul>

    


    

  






  
  

  

  
      
        








  
  

  

  
    

      

  
  


</ul>

    

  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  


</ul>

    


    

  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
      
        








  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  


</ul>

    

  


</ul>

    


    

  






  
  

  

  
      
        








  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  


</ul>

    

  






  
  

  

  
    

      

  
  


</ul>

    


    

  






  
  

  

  
      
        








  
  

  

  
      
        








  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  


</ul>

    

  






  
  

  

  
      
        








  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  


</ul>

    

  






  
  

  

  
      
        








  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  


</ul>

    

  






  
  

  

  
    

      

  
  






  
  

  

  
      
        








  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  


</ul>

    

  






  
  

  

  
      
        








  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  


</ul>

    

  






  
  

  

  
    

      

  
  


</ul>

    

  






  
  

  

  
      
        








  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  


</ul>

    

  






  
  

  

  
      
        








  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
      
        








  
  

  

  
      
        








  
  

  

  
    

      

  
  


</ul>

    

  






  
  

  

  
      
        








  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  


</ul>

    

  


</ul>

    

  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
      
        








  
  

  

  
    

      

  
  


</ul>

    

  






  
  

  

  
      
        








  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  


</ul>

    

  






  
  

  

  
      
        








  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  


</ul>

    

  






  
  

  

  
      
        








  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  


</ul>

    

  






  
  

  

  
      
        








  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  


</ul>

    

  






  
  

  

  
      
        








  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  


</ul>

    

  


</ul>

    

  






  
  

  

  
      
        








  
  

  

  
      
        








  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  


</ul>

    

  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  


</ul>

    

  






  
  

  

  
      
        








  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  


</ul>

    

  






  
  

  

  
      
        








  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  


</ul>

    

  






  
  

  

  
      
        








  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  


</ul>

    

  






  
  

  

  
      
        








  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  


</ul>

    

  






  
  

  

  
    

      

  
  


</ul>

    
    <h1 class="mt-0 pt-0">Pymesh BLE</h1><p>The Pymesh BLE library provides support for connecting to a BLE Mesh Network with various Server and Client models.</p>
<p>For examples, please check the section <a href="../../../../../tutorials/networkprotocols/blemesh/index.html">Pymesh BLE Examples</a>.</p>
<p>Pymesh BLE features:</p>
<ul>
<li>Supported Models:</li>
<li>Configuration Server Model (automatically generated together with primary Element)</li>
<li>Generic OnOff Server Model</li>
<li>Generic OnOff Client Model</li>
<li>Generic Level Server Model</li>
<li>Generic Level Client Model</li>
<li>Sensor Server Model</li>
<li>Sensor Client Model</li>
<li>Supported OOB authentication types:</li>
<li>No OOB</li>
<li>Output OOB</li>
<li>Supported Node Features:</li>
<li>GATT Proxy</li>
<li>Relay</li>
<li>Only one Element (primary) can be added to the Node.</li>
<li>Node cannot be configured as Provisioner and a mobile application should be used for Provisioning process</li>
<li>nRF Mesh (iOS and Android)</li>
<li>Silicon Labs Bluetoth Mesh (iOS)</li>
<li>ST BLE Mesh (Android)</li>
<li>EspBLEMesh (Android)</li>
</ul>
<h2 id="methods-of-ble_mesh-class">Methods of BLE_Mesh class</h2>
<h3 id="ble_meshinitnamepycom-esp-ble-mesh--auth0-callbacknone">BLE_Mesh.init(name=&quot;PYCOM-ESP-BLE-MESH&rdquo;, *, auth=0, callback=None)</h3>
<p>Initializes the BLE Mesh module with the pre-configured Elements and Models.</p>
<ul>
<li><code>name</code> is the name which will be used to identify the device during Provisioning</li>
<li><code>auth</code> is the Out-Of-Band (OOB) method. Currently <code>BLE_Mesh.OOB_OUTPUT</code> is supported. Without specifying this argument, <code>NO_OOB</code> will be used during provisioning.</li>
<li><code>callback</code> is the callback to be registered. It must have the following arguments:
<ul>
<li><code>event</code> returns current event of provisioning.</li>
<li><code>oob_pass</code> returns the generated pass in case of <code>BLE_Mesh.OOB_OUTPUT</code>.</li>
</ul>
</li>
</ul>
<h3 id="ble_meshset_node_provbearerble_meshprov_none-">BLE_Mesh.set_node_prov(bearer=BLE_Mesh.PROV_NONE, *)</h3>
<p>Enable provisioning bearers to get the device ready for provisioning. If OOB is enabled, the callback is used to inform the user about OOB information.</p>
<ul>
<li><code>bearer</code> is the transport data protocol between endpoints, can be <code>BLE_Mesh.PROV_ADV</code> and/or <code>BLE_Mesh.PROV_GATT</code>.</li>
</ul>
<h3 id="ble_meshreset_node_prov">BLE_Mesh.reset_node_prov()</h3>
<p>Resets the Node Provisioning information.</p>
<h3 id="ble_meshcreate_element-primary-feature0-beacontrue-ttl7">BLE_Mesh.create_element(*, primary, feature=0, beacon=true, ttl=7)</h3>
<p>This API creates a new BLE_Mesh_Element object. The BLE_Mesh_Element on concept level is equivalent to the Element in the BLE Mesh terminology.</p>
<ul>
<li><code>primary</code> shows whether this new Element will act as the Primary Element of the Node. When a Primary Element is created, the corresponding Configuration Server Model is also automatically created. There can only be 1 Primary Element per Node.</li>
<li><code>feature</code> shows what features to enable on the new Element. It is an ORED combination of <code>BLE_Mesh.RELAY</code>, <code>BLE_Mesh.LOW_POWER</code>, <code>BLE_Mesh.GATT_PROXY</code>, <code>BLE_Mesh.FRIEND</code></li>
<li><code>ttl</code> is the default Time To Live value of the packets belonging to the new Element</li>
</ul>
<h2 id="methods-of-ble_mesh_element-object">Methods of BLE_Mesh_Element object</h2>
<h3 id="ble_mesh_elementadd_modeltypeble_meshgen_onoff-server_clientble_meshserver--callbacknone-valuenone-sen_min-100-sen_max100-sen_res01">BLE_Mesh_Element.add_model(type=BLE_Mesh.GEN_ONOFF, server_client=BLE_Mesh.SERVER, *, callback=None, value=None, sen_min=-100, sen_max=100, sen_res=0.1)</h3>
<p>This API creates a new BLE_Mesh_Model object. The BLE_Mesh_Model on concept level is equivalent to the Model in the BLE Mesh terminology.</p>
<ul>
<li><code>type</code> is the type of the new Model.</li>
<li><code>server_client</code> shows whether the new Model will act as a Server or Client.</li>
<li><code>callback</code> is the user defined callback to call when any event happens on the Model. It accepts 3 parameters: <code>new_state</code>, <code>event</code>, <code>op_code</code>. The <code>new_state</code> is the corresponding state of BLE_Mesh_Model, the <code>event</code> and the <code>op_code</code> are belonging of the BLE Mesh packet received.</li>
<li><code>value</code> is the initial value represented by the Model.</li>
<li><code>sen_min</code> is the minimum value of Sensor State in case of Sensor Model.</li>
<li><code>sen_max</code> is the maximum value of Sensor State in case of Sensor Model.</li>
<li><code>sen_res</code> is the resolution of Sensor State in case of Sensor Model.</li>
</ul>
<h2 id="methods-of-ble_mesh_model-object">Methods of BLE_Mesh_Model object</h2>
<h3 id="ble_mesh_modelget_stateaddrble_meshaddr_all_nodes-app_idx0-state_typenone">BLE_Mesh_Model.get_state(addr=BLE_Mesh.ADDR_ALL_NODES, app_idx=0, state_type=None)</h3>
<p>Gets the State of the Sensor Model. If called from Server Model, returnes with State, in case of Client Model, it sends a Get Message, and returns State through the registered callback.</p>
<ul>
<li><code>addr</code> is the address of the remote Node to send the update message.</li>
<li><code>app_idx</code> is the index of one of the registered Application IDs to use when sending out the message.</li>
<li><code>state_type</code> is the type of Get State.</li>
</ul>
<h3 id="ble_mesh_modelset_statestate-addrble_meshaddr_all_nodes-app_idx0-state_typenone">BLE_Mesh_Model.set_state(state, addr=BLE_Mesh.ADDR_ALL_NODES, app_idx=0, state_type=None)</h3>
<p>Sets the State of the Sensor Model. If called from Server Model, sets State directly, in case of Client Model, it sends a Set Message, and updates State.</p>
<ul>
<li><code>state</code> is the new value to update the current value with.</li>
<li><code>addr</code> is the address of the remote Node to send the update message.</li>
<li><code>app_idx</code> is the index of one of the registered Application IDs to use when sending out the message.</li>
<li><code>state_type</code> is the type of Set State.</li>
</ul>
<h3 id="ble_mesh_modelstatus_stateaddrble_meshaddr_all_nodes-app_idx0-state_typenone">BLE_Mesh_Model.status_state(addr=BLE_Mesh.ADDR_ALL_NODES, app_idx=0, state_type=None)</h3>
<p>Calling this function only makes sense when the BLE_Mesh_Model is a Server Model. It sends a Status message with the State to the Client Model(s).</p>
<ul>
<li><code>addr</code> is the address of the remote Node to send the update message.</li>
<li><code>app_idx</code> is the index of one of the registered Application IDs to use when sending out the message.</li>
<li><code>state_type</code> is the type of Status State.</li>
</ul>
<h2 id="constants">Constants</h2>
<ul>
<li>Advertisement options: <code>BLE_Mesh.PROV_ADV</code>, <code>BLE_Mesh.PROV_GATT</code>, <code>BLE_Mesh.PROV_NONE</code></li>
<li>Features of an Element: <code>BLE_Mesh.RELAY</code>, <code>BLE_Mesh.LOW_POWER</code>, <code>BLE_Mesh.GATT_PROXY</code>, <code>BLE_Mesh.FRIEND</code></li>
<li>Authentication options: <code>BLE_Mesh.OOB_INPUT</code>, <code>BLE_Mesh.OOB_OUTPUT</code></li>
<li>Constants for Node addresses: <code>BLE_Mesh.ADDR_ALL_NODES</code>, <code>BLE_Mesh.ADDR_PUBLISH</code></li>
<li>Constants for Model - type: <code>BLE_Mesh.GEN_ONOFF</code>, <code>BLE_Mesh.GEN_LEVEL</code>, <code>BLE_Mesh.GEN_SENSOR</code>, <code>BLE_Mesh.GEN_SENSOR_SETUP</code></li>
<li>Constants for Model - server or client: <code>BLE_Mesh.SERVER</code>, <code>BLE_Mesh.CLIENT</code></li>
<li>Constants for Model - states: <code>BLE_Mesh.STATE_ONOFF</code>, <code>BLE_Mesh.STATE_LEVEL</code>, <code>BLE_Mesh.STATE_LEVEL_DELTA</code>, <code>BLE_Mesh.STATE_LEVEL_MOVE</code>, <code>BLE_Mesh.SEN_DESCRIPTOR</code>, <code>BLE_Mesh.SEN</code>, <code>BLE_Mesh.SEN_COLUMN</code>, <code>BLE_Mesh.SEN_SERIES</code>, <code>BLE_Mesh.SEN_SET_CADENCE</code>, <code>BLE_Mesh.SEN_SETTINGS</code>, <code>BLE_Mesh.SEN_SETTING</code></li>
<li>Constants for Provision Events: <code>BLE_Mesh.PROV_REGISTER_EVT</code>, <code>BLE_Mesh.PROV_ENABLE_EVT</code>, <code>BLE_Mesh.PROV_DISABLE_EVT</code>, <code>BLE_Mesh.LINK_OPEN_EVT</code>, <code>BLE_Mesh.LINK_CLOSE_EVT</code>, <code>BLE_Mesh.PROV_COMPLETE_EVT</code>, <code>BLE_Mesh.PROV_RESET_EVT</code>, <code>BLE_Mesh.PROV_OUTPUT_OOB_REQ_EVT</code>, <code>BLE_Mesh.PROV_INPUT_OOB_REQ_EVT</code></li>
</ul>
</v-card-text>
</v-card>
    <p>&nbsp;</p>
    






  
  
    
  
  

  
  
    
  
  

  
  
    
  
  
    
    
    
      
    
    
    
    
    
      
    
    
      
      
      
        
      
      
      
      
      
        
      
      
      
      
      
        
      
      
      
    
    
    
    
      
    
    
      
      
      
        
      
      
      
      
      
        
      
      
      
      
      
        
      
      
      
    
    
    
    
      
    
    
      
      
      
        
      
      
      
      
      
        
      
      
      
      
      
        
      
      
        
        
        
          
        
        
        
        
        
          
        
        
        
        
        
          
        
        
        
        
        
          
        
        
        
        
        
          
        
        
        
      
      
    
    
  

  
  
    
  
  
    
    
    
      
    
    
      
      
      
        
      
      
      
      
      
        
      
      
      
      
      
        
      
      
      
      
      
        
      
      
      
      
      
        
      
      
      
    
    
    
    
      
    
    
      
      
      
        
      
      
      
      
      
        
      
      
      
      
      
        
      
      
      
      
      
        
      
      
      
      
      
        
      
      
      
      
      
        
      
      
      
      
      
        
      
      
      
      
      
        
      
      
      
    
    
    
    
      
    
    
      
      
      
        
      
      
      
      
      
        
      
      
        
        
        
          
        
        
        
      
      
      
      
        
      
      
        
        
        
          
        
        
        
        
        
          
        
        
        
        
        
          
        
        
        
      
      
      
      
        
      
      
        
        
        
          
        
        
        
        
        
          
        
        
        
        
        
          
        
        
        
        
        
          
        
        
        
        
        
          
        
        
        
        
        
          
        
        
        
        
        
          
        
        
        
      
      
      
      
        
      
      
        
        
        
          
        
        
        
      
      
      
      
        
      
      
      
    
    
    
    
      
    
    
      
      
      
        
      
      
      
      
      
        
      
      
      
      
      
        
      
      
      
      
      
        
      
      
      
      
      
        
      
      
      
      
      
        
      
      
      
      
      
        
      
      
      
      
      
        
      
      
      
      
      
        
      
      
      
      
      
        
      
      
      
    
    
    
    
      
    
    
      
      
      
        
      
      
      
      
      
        
      
      
      
      
      
        
      
      
      
      
      
        
      
      
      
      
      
        
      
      
      
      
      
        
      
      
      
    
    
    
    
      
    
    
      
      
      
        
      
      
      
      
      
        
      
      
      
    
    
    
    
      
    
    
      
      
      
        
      
      
      
    
    
  

  
  
    
  
  
    
    
    
      
    
    
      
      
      
        
      
      
        
        
        
          
        
        
        
        
        
          
        
        
        
        
        
          
        
        
        
        
        
          
        
        
        
        
        
          
        
        
        
        
        
          
        
        
        
        
        
          
        
        
        
        
        
          
        
        
        
        
        
          
        
        
        
        
        
          
        
        
        
        
        
          
        
        
        
        
        
          
        
        
        
        
        
          
        
        
        
        
        
          
        
        
        
        
        
          
        
        
        
      
      
      
      
        
      
      
        
        
        
          
        
        
        
        
        
          
        
        
        
        
        
          
        
        
        
        
        
          
        
        
        
          
          
          
            
          
          
          
          
            
          
          
          
          
            
          
          
          
          
            
          
          
          
          
            
          
          
          
          
            
          
          
          
          
            
            
            
            
          
        
        
      <v-layout class="full-width  prev-next pa-2 mt-4 mb-0" styleZZ="background-color: #7800FF;">
  <v-flex xs6 class="ppurple">
  
  <v-btn class="ml-4" href="/firmwareapi/pycom/network/bluetooth/gattscharacteristic/">Previous</v-btn>
  
  </v-flex>
  <v-flex xs6 class="text-xs-right">
  <v-btn class="mr-4 pbgpurple white--text"  href="/firmwareapi/pycom/network/lora/">Next</v-btn>
    </v-flex>
</v-layout>

        
        
          
        
        
        
          
          
          
            
          
          
        
        
        
          
        
        
        
        
        
          
        
        
        
        
        
          
        
        
        
        
        
          
        
        
        
      
      
      
      
        
      
      
      
      
      
        
      
      
      
      
      
        
      
      
        
        
        
          
        
        
        
        
        
          
        
        
        
        
        
          
        
        
        
        
        
          
        
        
        
        
        
          
        
        
        
        
        
          
        
        
        
        
        
          
        
        
        
        
        
          
        
        
        
      
      
    
    
    
    
      
    
    
      
      
      
        
      
      
      
      
      
        
      
      
      
      
      
        
      
      
      
      
      
        
      
      
      
      
      
        
      
      
      
      
      
        
      
      
      
      
      
        
      
      
      
      
      
        
      
      
      
      
      
        
      
      
      
      
      
        
      
      
      
      
      
        
      
      
      
      
      
        
      
      
      
      
      
        
      
      
      
      
      
        
      
      
      
      
      
        
      
      
      
      
      
        
      
      
      
      
      
        
      
      
      
      
      
        
      
      
      
      
      
        
      
      
      
      
      
        
      
      
      
      
      
        
      
      
      
    
    
    
    
      
    
    
    
  

  
  
    
  
  
    
    
    
      
    
    
      
      
      
        
      
      
      
      
      
        
      
      
      
      
      
        
      
      
      
      
      
        
      
      
      
      
      
        
      
      
      
      
      
        
      
      
      
      
      
        
      
      
      
    
    
    
    
      
    
    
      
      
      
        
      
      
      
      
      
        
      
      
      
      
      
        
      
      
      
      
      
        
      
      
      
      
      
        
      
      
      
      
      
        
      
      
      
      
      
        
      
      
      
      
      
        
      
      
      
    
    
    
    
      
    
    
      
      
      
        
      
      
      
      
      
        
      
      
      
      
      
        
      
      
      
      
      
        
      
      
      
      
      
        
      
      
      
      
      
        
      
      
      
      
      
        
      
      
      
      
      
        
      
      
      
      
      
        
      
      
      
      
      
        
      
      
      
    
    
    
    
      
    
    
    
    
    
      
    
    
      
      
      
        
      
      
      
      
      
        
      
      
      
    
    
    
    
      
    
    
      
      
      
        
      
      
      
      
      
        
      
      
      
    
    
    
    
      
    
    
    
  

  
  
    
  
  
    
    
    
      
    
    
    
    
    
      
    
    
    
    
    
      
    
    
    
    
    
      
    
    
    
    
    
      
    
    
    
  

  
  
    
  
  
    
    
    
      
    
    
    
    
    
      
    
    
    
    
    
      
    
    
    
    
    
      
    
    
      
      
      
        
      
      
        
        
        
          
        
        
        
      
      
      
      
        
      
      
        
        
        
          
        
        
        
        
        
          
        
        
        
      
      
    
    
    
    
      
    
    
    
    
    
      
    
    
    
    
    
      
    
    
      
      
      
        
      
      
      
    
    
    
    
      
    
    
      
      
      
        
      
      
      
      
      
        
      
      
      
    
    
    
    
      
    
    
      
      
      
        
      
      
      
      
      
        
      
      
      
    
    
    
    
      
    
    
      
      
      
        
      
      
      
      
      
        
      
      
      
      
      
        
      
      
      
      
      
        
      
      
      
    
    
    
    
      
    
    
      
      
      
        
      
      
      
      
      
        
      
      
      
      
      
        
      
      
      
    
    
    
    
      
    
    
      
      
      
        
      
      
      
      
      
        
      
      
      
      
      
        
      
      
      
    
    
  

  
  
    
  
  
    
    
    
      
    
    
      
      
      
        
      
      
      
      
      
        
      
      
      
    
    
    
    
      
    
    
    
    
    
      
    
    
    
  

  
  
    
  
  
    
    
    
      
    
    
    
    
    
      
    
    
    
    
    
      
    
    
    
    
    
      
    
    
    
    
    
      
    
    
    
    
    
      
    
    
    
  

  
  
    
  
  
    
    
    
      
    
    
    
    
    
      
    
    
    
    
    
      
    
    
    
    
    
      
    
    
    
    
    
      
    
    
    
    
    
      
    
    
    
    
    
      
    
    
    
    
    
      
    
    
    
  

  
  
    
  
  
    
    
    
      
    
    
    
    
    
      
    
    
    
    
    
      
    
    
    
    
    
      
    
    
    
    
    
      
    
    
    
    
    
      
    
    
    
  

  
  
    
  
  
    
    
    
      
    
    
    
    
    
      
    
    
    
    
    
      
    
    
    
    
    
      
    
    
    
    
    
      
    
    
    
  

  
  
    
  
  


    <v-spacer/>


          </v-container>
      </v-container>
    </v-content>
 </v-app>

  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vuetify/1.5.13/vuetify.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue-resource/1.5.1/vue-resource.min.js"></script>
  <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/docsearch.js@2/dist/cdn/docsearch.min.js"></script>
  <script>
    var development = false;
    var app = new Vue({
      el: '#app',
      data: {
        page: 1,
        pageCount: 0,
        error: null,
        results: null,
        drawer: true,
        drawer2: true,
        toc: 0,
        branches: [
        { value: 'https://docs.pycom.io', text: 'version stable'},
          { value: 'https://development.pycom.io', text: 'version development'},
          

        ],
        branch: ""
      },
      mounted: function () {
        
        this.branch= this.branches[0]
        for (b in this.branches) {
          if ( document.location.href.indexOf(this.branches[b].value) > -1) {
            this.branch= this.branches[b]
          }
        }
        
        
        if (this.$refs.tocBtn) {
          var elem = this.$refs.tocBtn.$el
          setTimeout(function () {
              elem.click();

          }, 3500);
        }
        var elem2 = document.getElementById("vuetify-theme-stylesheet");
        elem2.parentNode.removeChild(elem2);

      },
      watch: {
        
        branch: function (newb, old) {
          if (newb.value != this.branches[0].value) {
          
          
          
          
          
          
          
          
          
          
          
          
          
          
          
            window.location = newb + window.location.pathname;
          }
        },
      },
    });

    
    docsearch({
      apiKey: 'a99fde9999fbec81c1772eb9ffcca488',
      indexName: 'pycom',
      inputSelector: '.algolia-search-field input',
      debug: false 
    });
  </script>
<script type="text/javascript">
_atrk_opts = { atrk_acct:"WpWNq1SZw320l9", domain:"pycom.io",dynamic: true};
(function() { var as = document.createElement('script'); as.type = 'text/javascript'; as.async = true; as.src = "https://certify-js.alexametrics.com/atrk.js"; var s = document.getElementsByTagName('script')[0];s.parentNode.insertBefore(as, s); })();
</script>
<noscript><img src="https://certify.alexametrics.com/atrk.gif?account=WpWNq1SZw320l9" style="display:none" height="1" width="1" alt="" /></noscript>


<script>
    (function(h,o,t,j,a,r){
        h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
        h._hjSettings={hjid:1216663,hjsv:6};
        a=o.getElementsByTagName('head')[0];
        r=o.createElement('script');r.async=1;
        r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
        a.appendChild(r);
    })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
</script>
<script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

ga('create', 'UA-72107804-3', 'auto');
ga('send', 'pageview');
</script>
</body>
</html>
