<!DOCTYPE html>
<html class="fancyScroll">
<head>
  <meta charset="utf-8">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900|Material+Icons" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
  
  <link href="../../../css/vuetify.css" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">

  <title>pycom </title>
  <meta name="description" content="">

  <script src="../../../js/smooth-scroll.js"></script>
  <link href="../../../css/doc-theme.css%3F.css" rel="stylesheet">
  <link rel="icon" href="../../../favicon.ico">
  
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/docsearch.js@2/dist/cdn/docsearch.min.css" />
</head>
<body>
</script>
<v-app id="app" class=""  v-cloak style="background-color: white;">
   <v-navigation-drawer
  v-model="drawer"
  fixed
  app
  class="lighten-4 pt-0"
  style="overflow-y: hidden; overflow-x: hidden;margin-top:68px;"
>

  <div class="fancyScroll pa-0 ma-0" style="overflow-y: scroll; overflow-x: hidden;
      max-height: 100%;" >

    <v-divider class="mr-2 ml-1 mb-4" style="border: 0"></v-divider>

      <ul class="lefttree">
        <li class="lefttree">
            <a href="../../../index.html" class="beba" style="color: #1E1E3C; text-decoration: none;" >
              <v-icon style="color: #1E1E3C;">home</v-icon> Introduction</a>
        </li>
      </ul>

    


<ul class="lefttree ">

  
  
  
  
  


    <li class="lefttree ">
      <v-icon style="color: transparent; display: hidden;" >done</v-icon>
      <a href="../../../gettingstarted/registration/lora/helium_hotspot_registration/index.html" class="">Pycom Helium Miner</a>
    </li>

  

  
  
  
  
  


    <li class="lefttree ">
      <v-icon style="color: transparent; display: hidden;" >done</v-icon>
      <a href="../../../products/index.html" class="">Pycom Products</a>
    </li>

  

  
  
  
  
  

  
    <li class="lefttree " >
      <v-icon style="color: transparent; display: hidden;" >done</v-icon>
      <a href="../../../gettingstarted/index.html" class="">  Getting Started</a>
      
      

      

  

  
  
  
  
  

  
    <li class="lefttree " >
      <v-icon style="color: transparent; display: hidden;" >done</v-icon>
      <a href="../../../tutorials/index.html" class="">  Tutorials &amp; Examples</a>
      
      

      

  

  
  
  
  
  

  
    <li class="lefttree padleft hot" >
      <v-icon style="color: transparent; display: hidden;" >done</v-icon>
      <a href="../../index.html" class="hot">  Firmware &amp; API Reference</a>
      
      
        


<ul class="lefttree ">

  
  
  
  
  

  
    <li class="lefttree padleft hot" >
      <v-icon style="color: transparent; display: hidden;" >done</v-icon>
      <a href="../index.html" class="hot">  Pycom Modules</a>
      
      
        


<ul class="lefttree ">

  
  
  
  
  

  
    <li class="lefttree " >
      <v-icon style="color: transparent; display: hidden;" >done</v-icon>
      <a href="../machine/index.html" class="">  machine</a>
      
      

      

  

  
  
  
  
  

  
    <li class="lefttree " >
      <v-icon style="color: transparent; display: hidden;" >done</v-icon>
      <a href="../network/index.html" class="">  network</a>
      
      

      

  

  
  
  
  
  


    <li class="lefttree ">
      <v-icon style="color: transparent; display: hidden;" >done</v-icon>
      <a href="../aes.html" class="">AES</a>
    </li>

  

  
  
  
  
  


    <li class="lefttree hot">
      <v-icon style="color: transparent; display: hidden;" >done</v-icon>
      <a href="../pycom.html" class="hot">Pycom</a>
    </li>

  

  
  
  
  
  

  
    <li class="lefttree " >
      <v-icon style="color: transparent; display: hidden;" >done</v-icon>
      <a href="../expansionboards/index.html" class="">  Shields</a>
      
      

      

  

</ul>

      

      
    </li>
      

  

  
  
  
  
  

  
    <li class="lefttree " >
      <v-icon style="color: transparent; display: hidden;" >done</v-icon>
      <a href="../../micropython/index.html" class="">  MicroPython Modules</a>
      
      

      

  

  
  
  
  
  


    <li class="lefttree ">
      <v-icon style="color: transparent; display: hidden;" >done</v-icon>
      <a href="../../notes.html" class="">Interrupts</a>
    </li>

  

</ul>

      

      
    </li>
      

  

  
  
  
  
  

  
    <li class="lefttree " >
      <v-icon style="color: transparent; display: hidden;" >done</v-icon>
      <a href="../../../datasheets/index.html" class="">  Product Info, Datasheets</a>
      
      

      

  

  
  
  
  
  

  
    <li class="lefttree " >
      <v-icon style="color: transparent; display: hidden;" >done</v-icon>
      <a href="../../../updatefirmware/index.html" class="">  Update Firmware</a>
      
      

      

  

  
  
  
  
  

  
    <li class="lefttree " >
      <v-icon style="color: transparent; display: hidden;" >done</v-icon>
      <a href="../../../pybytes/index.html" class="">  Pybytes</a>
      
      

      

  

  
  
  
  
  

  
    <li class="lefttree " >
      <v-icon style="color: transparent; display: hidden;" >done</v-icon>
      <a href="../../../cellularservices/index.html" class="">  Cellular Services</a>
      
      

      

  

  
  
  
  
  

  
    <li class="lefttree " >
      <v-icon style="color: transparent; display: hidden;" >done</v-icon>
      <a href="../../../pylife/index.html" class="">  Pylife</a>
      
      

      

  

  
  
  
  
  

  
    <li class="lefttree " >
      <v-icon style="color: transparent; display: hidden;" >done</v-icon>
      <a href="../../../pymesh.html" class="">  Pymesh</a>
      
      

      

  

  
  
  
  
  

  
    <li class="lefttree " >
      <v-icon style="color: transparent; display: hidden;" >done</v-icon>
      <a href="../../../docnotes/index.html" class="">  Micropython Support</a>
      
      

      

  

  
  
  
  
  

  
    <li class="lefttree " >
      <v-icon style="color: transparent; display: hidden;" >done</v-icon>
      <a href="../../../advance/downgrade.html" class="">  Advanced topics</a>
      
      

      

  

  
  
  
  
  


    <li class="lefttree ">
      <v-icon style="color: transparent; display: hidden;" >done</v-icon>
      <a href="../../../license/index.html" class="">License</a>
    </li>

  

</ul>


    <v-divider class="grey lighten-1 ma-2 mt-4 mb-4"></v-divider>

    <ul class="lefttree" >Have a question ?
      <li class="lefttree">  <a href="https://forum.pycom.io">Ask on the forum</a>
    </ul>
    <p>&nbsp;</p>
      <p>&nbsp;</p>
  </div>
</v-navigation-drawer>
<v-toolbar
  app
  fixed
  height=68
  class="pr-3 pl-2 navbar"
  dark
  style="background-color: #171730;"
  flat
>
  <v-toolbar-title style="width: 260px; " class="ml-4 pl-0  pt-2 text-xs-center hidden-sm-and-down">
    <v-img class="ml-4"  height=48 width=190  src="/logo.svg" class="">
  </v-toolbar-title>

    <v-btn icon @click.stop="drawer = !drawer" style="z-index: 1200;">
      <v-icon>toc</v-icon>
    </v-btn>
    <span class="beba" style="font-size: 1.6rem; opacity: 0.85;">
        pycom
    </span>

  <v-text-field
    style="max-width: 650px"
    class="ml-3 algolia-search-field"
    light
    hide-details
    label="Search the docs..."
    solo
    append-icon="search"
  ></v-text-field>

  <v-spacer></v-spacer>
  
  <div style="width: 240px;">
  <v-select :items="branches" v-model="branch" width=120 class="mono">
  </v-select>
  </div>
  <v-btn icon ref="tocBtn" @click.stop="drawer2 = !drawer2" >
    <v-icon style="color: rgb(23, 255, 189);">more_vert</v-icon>
  </v-btn>
  
</v-toolbar>
<v-content >
      <v-container class="fluid pa-4" style="padding-top: 0 !important;">
          <v-container class="ma-1 pa-1"><v-slide-y-transition>
    <v-card class="menu-contextual" v-if="drawer2" @click.stop="drawer2 = !drawer2">
      <v-card-title class="beba" style="height: 68px; background-color: #1E1E3C; color: #17FFBD">
        What's in this document
        <v-btn icon @click.stop="drawer2 = !drawer2" style="color: #17FFBD; position: absolute; right: 0; top: 4px;;">
          <v-icon>more_vert</v-icon>
        </v-btn>


      </v-card-title>
      <v-card-text class="fancyScroll righttree">
    <nav id="TableOfContents">
  <ul>
    <li class="righttree"><a href="../pycom.html#quick-usage-example">Quick Usage Example</a></li>
    <li class="righttree"><a href="../pycom.html#miscelaneous-methods">Miscelaneous Methods</a>
      <ul>
        <li class="righttree"><a href="../pycom.html#pycomheartbeatboolean">pycom.heartbeat([boolean])</a></li>
        <li class="righttree"><a href="../pycom.html#pycomrgbledcolor">pycom.rgbled([color])</a></li>
        <li class="righttree"><a href="../pycom.html#pycomnvs_setkey-value">pycom.nvs_set(key, value)</a></li>
        <li class="righttree"><a href="../pycom.html#pycomnvs_getkey">pycom.nvs_get(key)</a></li>
        <li class="righttree"><a href="../pycom.html#pycomnvs_erasekey">pycom.nvs_erase(key)</a></li>
        <li class="righttree"><a href="../pycom.html#pycomnvs_erase_all">pycom.nvs_erase_all()</a></li>
        <li class="righttree"><a href="../pycom.html#pycompulses_getpin-timeout">pycom.pulses_get(pin, timeout)</a></li>
        <li class="righttree"><a href="../pycom.html#pycomget_free_heap">pycom.get_free_heap()</a></li>
        <li class="righttree"><a href="../pycom.html#pycomsigfox_infoid-pac-publickey-privatekey">pycom.sigfox_info([id, pac, publickey, privatekey])</a></li>
      </ul>
    </li>
    <li class="righttree"><a href="../pycom.html#boot-methods">Boot methods</a>
      <ul>
        <li class="righttree"><a href="../pycom.html#pycompybytes_on_bootboolean">pycom.pybytes_on_boot([boolean])</a></li>
        <li class="righttree"><a href="../pycom.html#pycomheartbeat_on_bootboolean">pycom.heartbeat_on_boot([boolean])</a></li>
        <li class="righttree"><a href="../pycom.html#pycomlte_modem_en_on_bootboolean">pycom.lte_modem_en_on_boot([boolean])</a></li>
        <li class="righttree"><a href="../pycom.html#pycomwifi_on_bootboolean">pycom.wifi_on_boot([boolean])</a></li>
        <li class="righttree"><a href="../pycom.html#pycomwifi_mode_on_bootmode">pycom.wifi_mode_on_boot(mode)</a></li>
        <li class="righttree"><a href="../pycom.html#pycomwifi_ssid_stassid">pycom.wifi_ssid_sta([ssid])</a></li>
        <li class="righttree"><a href="../pycom.html#pycomwifi_ssid_apssid">pycom.wifi_ssid_ap([ssid])</a></li>
        <li class="righttree"><a href="../pycom.html#pycomwifi_pwd_stakey">pycom.wifi_pwd_sta([key])</a></li>
        <li class="righttree"><a href="../pycom.html#pycomwifi_pwd_apkey">pycom.wifi_pwd_ap([key])</a></li>
        <li class="righttree"><a href="../pycom.html#pycomsmart_config_on_bootboolean">pycom.smart_config_on_boot([boolean])</a></li>
        <li class="righttree"><a href="../pycom.html#pycomsmart_config_on_bootboolean-1">pycom.smart_config_on_boot([boolean])</a></li>
        <li class="righttree"><a href="../pycom.html#pycomwdt_on_boot_timeouttimeout">pycom.wdt_on_boot_timeout([timeout])</a></li>
        <li class="righttree"><a href="../pycom.html#pycomwdt_on_bootenable">pycom.wdt_on_boot([enable])</a></li>
        <li class="righttree"><a href="../pycom.html#pycombootmgrboot_partitionpycomfactory-fs_typefat-safebootfalse-resetfalse">pycom.bootmgr(boot_partition=pycom.FACTORY, fs_type=FAT, safeboot=False, reset=False)</a></li>
      </ul>
    </li>
    <li class="righttree"><a href="../pycom.html#ota-methods">OTA Methods</a>
      <ul>
        <li class="righttree"><a href="../pycom.html#pycomota_start">pycom.ota_start()</a></li>
        <li class="righttree"><a href="../pycom.html#pycomota_writebuffer">pycom.ota_write(buffer)</a></li>
        <li class="righttree"><a href="../pycom.html#pycomota_finish">pycom.ota_finish()</a></li>
        <li class="righttree"><a href="../pycom.html#pycomota_slot">pycom.ota_slot()</a></li>
        <li class="righttree"><a href="../pycom.html#pycomota_verify">pycom.ota_verify()</a></li>
        <li class="righttree"><a href="../pycom.html#pycomdiff_update_enabled">pycom.diff_update_enabled()</a></li>
      </ul>
    </li>
    <li class="righttree"><a href="../pycom.html#constants">Constants</a></li>
  </ul>
</nav>
      </v-card-text>
    </v-card>
</v-slide-y-transition>





<v-card flat class="DocSearch-content">
  <v-card-text>
    
    








  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
      
        








  
  

  

  
    

      

  
  






  
  

  

  
      
        








  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  


</ul>

    

  






  
  

  

  
      
        








  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  


</ul>

    

  






  
  

  

  
      
        








  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
      
        








  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  


</ul>

    

  


</ul>

    

  


</ul>

    

  






  
  

  

  
      
        








  
  

  

  
      
        








  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  


</ul>

    

  






  
  

  

  
      
        








  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  


</ul>

    

  






  
  

  

  
      
        








  
  

  

  
    

      

  
  






  
  

  

  
      
        








  
  

  

  
    

      

  
  


</ul>

    

  






  
  

  

  
      
        








  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  


</ul>

    

  






  
  

  

  
      
        








  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  


</ul>

    

  






  
  

  

  
      
        








  
  

  

  
    

      

  
  


</ul>

    

  






  
  

  

  
    

      

  
  


</ul>

    

  






  
  

  

  
      
        








  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  


</ul>

    

  






  
  

  

  
      
        








  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  


</ul>

    

  






  
  

  

  
      
        








  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  


</ul>

    

  






  
  

  

  
      
        








  
  

  

  
    

      

  
  


</ul>

    

  


</ul>

    

  






  
  

  

  
      

      <a href="../../index.html" class="bread hot">  Firmware &amp; API Reference</a>
        >
      
        








  
  

  

  
      

      <a href="../index.html" class="bread hot">  Pycom Modules</a>
        >
      
        








  
  

  

  
      
        








  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  


</ul>

    

  






  
  

  

  
      
        








  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
      
        








  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  


</ul>

    

  






  
  

  

  
      
        








  
  

  

  
    

      

  
  


</ul>

    

  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  


</ul>

    

  






  
  

  

  
    

      

  
  






  
  

  

  
    

      <a href="../pycom.html" class="bread">Pycom </a>

      

      
      

        

  
  






  
  

  

  
      
        








  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  


</ul>

    

  


</ul>

    


    

  






  
  

  

  
      
        








  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  


</ul>

    

  






  
  

  

  
    

      

  
  


</ul>

    


    

  






  
  

  

  
      
        








  
  

  

  
      
        








  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  


</ul>

    

  






  
  

  

  
      
        








  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  


</ul>

    

  






  
  

  

  
      
        








  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  


</ul>

    

  






  
  

  

  
    

      

  
  






  
  

  

  
      
        








  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  


</ul>

    

  






  
  

  

  
      
        








  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  


</ul>

    

  






  
  

  

  
    

      

  
  


</ul>

    

  






  
  

  

  
      
        








  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  


</ul>

    

  






  
  

  

  
      
        








  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
      
        








  
  

  

  
      
        








  
  

  

  
    

      

  
  


</ul>

    

  






  
  

  

  
      
        








  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  


</ul>

    

  


</ul>

    

  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
      
        








  
  

  

  
    

      

  
  


</ul>

    

  






  
  

  

  
      
        








  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  


</ul>

    

  






  
  

  

  
      
        








  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  


</ul>

    

  






  
  

  

  
      
        








  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  


</ul>

    

  






  
  

  

  
      
        








  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  


</ul>

    

  






  
  

  

  
      
        








  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  


</ul>

    

  


</ul>

    

  






  
  

  

  
      
        








  
  

  

  
      
        








  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  


</ul>

    

  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  


</ul>

    

  






  
  

  

  
      
        








  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  


</ul>

    

  






  
  

  

  
      
        








  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  


</ul>

    

  






  
  

  

  
      
        








  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  


</ul>

    

  






  
  

  

  
      
        








  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  


</ul>

    

  






  
  

  

  
    

      

  
  


</ul>

    
    <h1 class="mt-0 pt-0">pycom</h1><p>The <code>pycom</code> module contains functions to control specific features of the Pycom devices, such as the heartbeat RGB LED.</p>
<h2 id="quick-usage-example">Quick Usage Example</h2>
<div class="highlight"><pre style="background-color:#f0f0f0;-moz-tab-size:4;-o-tab-size:4;tab-size:4"><code class="language-python" data-lang="python"><span style="color:#007020;font-weight:bold">import</span> <span style="color:#0e84b5;font-weight:bold">pycom</span>

pycom<span style="color:#666">.</span>heartbeat(False)  <span style="color:#60a0b0;font-style:italic"># disable the heartbeat LED</span>
pycom<span style="color:#666">.</span>heartbeat(True)   <span style="color:#60a0b0;font-style:italic"># enable the heartbeat LED</span>
pycom<span style="color:#666">.</span>heartbeat()       <span style="color:#60a0b0;font-style:italic"># get the heartbeat state</span>
pycom<span style="color:#666">.</span>rgbled(<span style="color:#40a070">0xff00</span>)    <span style="color:#60a0b0;font-style:italic"># make the LED light up in green color</span>
</code></pre></div><h2 id="miscelaneous-methods">Miscelaneous Methods</h2>
<h3 id="pycomheartbeatboolean">pycom.heartbeat([boolean])</h3>
<p>Get or set the state (enabled or disabled) of the heartbeat LED. Accepts and returns boolean values.</p>
<h3 id="pycomrgbledcolor">pycom.rgbled([color])</h3>
<p>Get or set the colour of the RGB LED. The colour is specified as 24 bit value representing red, green and blue, in the following order <code>0xRRGGBB</code>. For instance, passing the value <code>0x00FF00</code> will light up the LED in a very bright green. If no color is provided, this will return the current color of the LED.</p>
<h3 id="pycomnvs_setkey-value">pycom.nvs_set(key, value)</h3>
<p>Set the value of the specified key in the NVRAM memory area of the external flash. Data stored here is preserved across resets and power cycles. Value can only take 32-bit integers at the moment. Example:</p>
<h3 id="pycomnvs_getkey">pycom.nvs_get(key)</h3>
<p>Get the value the specified key from the NVRAM memory area of the external flash. Example:</p>
<p>If a non-existing key is given the returned value will be <code>None</code>.</p>
<h3 id="pycomnvs_erasekey">pycom.nvs_erase(key)</h3>
<p>Erase the given key from the NVRAM memory area.</p>
<h3 id="pycomnvs_erase_all">pycom.nvs_erase_all()</h3>
<p>Erase the entire NVRAM memory area.</p>
<h3 id="pycompulses_getpin-timeout">pycom.pulses_get(pin, timeout)</h3>
<p>Return a list of pulses at <code>pin</code>. The methods scans for transitions at <code>pin</code> and returns a list of tuples, each telling the pin value and the duration in microseconds of that value. <code>pin</code> is a pin object, which must have set to <code>INP</code> or <code>OPEN_DRAIN</code> mode. The scan stops if no transitions occur within <code>timeout</code> milliseconds.</p>
<p>Example:</p>
<div class="highlight"><pre style="background-color:#f0f0f0;-moz-tab-size:4;-o-tab-size:4;tab-size:4"><code class="language-python" data-lang="python"><span style="color:#60a0b0;font-style:italic"># get the raw data from a DHT11/DHT22/AM2302 sensor</span>
<span style="color:#007020;font-weight:bold">from</span> <span style="color:#0e84b5;font-weight:bold">machine</span> <span style="color:#007020;font-weight:bold">import</span> Pin
<span style="color:#007020;font-weight:bold">from</span> <span style="color:#0e84b5;font-weight:bold">pycom</span> <span style="color:#007020;font-weight:bold">import</span> pulses_get
<span style="color:#007020;font-weight:bold">from</span> <span style="color:#0e84b5;font-weight:bold">time</span> <span style="color:#007020;font-weight:bold">import</span> sleep_ms

pin <span style="color:#666">=</span> Pin(<span style="color:#4070a0"></span><span style="color:#4070a0">&#34;</span><span style="color:#4070a0">G7</span><span style="color:#4070a0">&#34;</span>, mode<span style="color:#666">=</span>Pin<span style="color:#666">.</span>OPEN_DRAIN)
pin(<span style="color:#40a070">0</span>)
sleep_ms(<span style="color:#40a070">20</span>)
pin(<span style="color:#40a070">1</span>)
data <span style="color:#666">=</span> pulses_get(pin, <span style="color:#40a070">100</span>)
</code></pre></div><h3 id="pycomget_free_heap">pycom.get_free_heap()</h3>
<p>Returns the free heap bytes in the memory allocation</p>
<h3 id="pycomsigfox_infoid-pac-publickey-privatekey">pycom.sigfox_info([id, pac, publickey, privatekey])</h3>
<p>With no arguments, this function will return if the SigFox settings on the device are valid.</p>
<p>With arguments, the specified keys will be set.</p>
<h2 id="boot-methods">Boot methods</h2>
<h3 id="pycompybytes_on_bootboolean">pycom.pybytes_on_boot([boolean])</h3>
<p>Get or set the activation of pybytes on boot.</p>
<h3 id="pycomheartbeat_on_bootboolean">pycom.heartbeat_on_boot([boolean])</h3>
<p>Allows you permanently disable or enable the heartbeat LED. Once this setting is set, it will persist between reboots. Note, this only comes into effect on the next boot, it does not stop the already running heartbeat.</p>
<h3 id="pycomlte_modem_en_on_bootboolean">pycom.lte_modem_en_on_boot([boolean])</h3>
<p>Get or set the LTE modem on boot flag. When this flag is set to <code>True</code>, the LTE modem will be enabled.</p>
<h3 id="pycomwifi_on_bootboolean">pycom.wifi_on_boot([boolean])</h3>
<p>Get or set the WiFi on boot flag. When this flag is set to <code>True</code>, The WiFi will be enabled according to the other WiFi settings. when <code>False</code> the WiFi module will be disabled until enabled directly via WLAN class. This setting is stored in the non-volatile memory which preserves it across resets and power cycles. See <a href="../../../gettingstarted/programming/ftp/index.html">FTP &amp; Telnet</a> for more information on possible usage.</p>
<h3 id="pycomwifi_mode_on_bootmode">pycom.wifi_mode_on_boot(mode)</h3>
<p>Set or get the Wifi Mode at startup, valid options are:</p>
<ul>
<li><code>WLAN.STA</code></li>
<li><code>WLAN.AP</code></li>
<li><code>WLAN.APSTA</code>
This setting is stored in non-volatile memory which preserves it across resets and power cycles</li>
</ul>
<h3 id="pycomwifi_ssid_stassid">pycom.wifi_ssid_sta([ssid])</h3>
<p>Get or set the ssid of the Access Point the device should connect to on startup.
This setting is stored in non-volatile memory which preserves it across resets and power cycles</p>
<h3 id="pycomwifi_ssid_apssid">pycom.wifi_ssid_ap([ssid])</h3>
<p>Get or set the ssid of the Access point that should be started by the device at startup, if not set and startup Wifi mode is AP the default AP name (<code>xxpy-wlan-####</code>) will be used. This setting is stored in non-volatile memory which preserves it across resets and power cycles.</p>
<h3 id="pycomwifi_pwd_stakey">pycom.wifi_pwd_sta([key])</h3>
<p>Get or set the Password of the Access point the device should connect to on startup, leave the password unset if the AP is open.This setting is stored in non-volatile memory which preserves it across resets and power cycles</p>
<h3 id="pycomwifi_pwd_apkey">pycom.wifi_pwd_ap([key])</h3>
<p>Get or set the Password of the Access point that should be started by the device at startup, leave unset if the AP should be open.This setting is stored in non-volatile memory which preserves it across resets and power cycles</p>
<h3 id="pycomsmart_config_on_bootboolean">pycom.smart_config_on_boot([boolean])</h3>
<p>Read or (Enable/Disable) SmartConfig functionality on startup, this flag will be reset after successful completion of the smartConfig process after startup.This setting is stored in non-volatile memory which preserves it across resets and power cycles</p>
<h3 id="pycomsmart_config_on_bootboolean-1">pycom.smart_config_on_boot([boolean])</h3>
<p>Read or (Enable/Disable) SmartConfig functionality on startup, this flag will be reset after successful completion of the smartConfig process after startup.This setting is stored in non-volatile memory which preserves it across resets and power cycles</p>
<h3 id="pycomwdt_on_boot_timeouttimeout">pycom.wdt_on_boot_timeout([timeout])</h3>
<p>Sets or gets the WDT on boot timeout in milliseconds. The minimum value is 5000 ms.</p>
<h3 id="pycomwdt_on_bootenable">pycom.wdt_on_boot([enable])</h3>
<p>Enables the WDT at boot time with the timeout in ms set by the function <code>wdt_on_boot_timeout</code>. If this flag is set, the application needs to reconfigure the WDT with a new timeout and feed it regularly to avoid a reset</p>
<h3 id="pycombootmgrboot_partitionpycomfactory-fs_typefat-safebootfalse-resetfalse">pycom.bootmgr(boot_partition=pycom.FACTORY, fs_type=FAT, safeboot=False, reset=False)</h3>
<ul>
<li><code>boot_partition</code> This is to set the partition to boot from , this could be set to either:
<ul>
<li><code>pycom.FACTORY</code>: The factory boot partition.</li>
<li><code>pycom.OTA_0</code>: The OTA boot partition</li>
</ul>
</li>
<li><code>fs_type</code> This is to set the filesystem to use for the flash memory (<code>/flash</code>). This could be set to
<ul>
<li><code>pycom.FAT</code> for the FatFS (FAT16) filesystem.</li>
<li><code>pycom.LittleFS</code> for LittleFS filesystem.</li>
</ul>
</li>
</ul>
<blockquote>
<p>Note: When the firmware is built with option <code>FS_USE_LITTLEFS</code> the file system for <code>/flash</code> is forced to be LittleFS.</p>
</blockquote>
<ul>
<li><code>safeboot</code> Enable or Disable safemoot mode.</li>
<li><code>reset</code> Set <code>True</code> to reset target after updating the <code>bootmgr</code> options, <code>False</code> for not resetting.</li>
</ul>
<h2 id="ota-methods">OTA Methods</h2>
<h3 id="pycomota_start">pycom.ota_start()</h3>
<h3 id="pycomota_writebuffer">pycom.ota_write(buffer)</h3>
<h3 id="pycomota_finish">pycom.ota_finish()</h3>
<h3 id="pycomota_slot">pycom.ota_slot()</h3>
<h3 id="pycomota_verify">pycom.ota_verify()</h3>
<p>Perform a firmware update. These methods are internally used by a firmware update through FTP. The update starts with a call to <code>ota_start()</code>, followed by a series of calls to <code>ota_write(buffer)</code>, and is terminated with <code>ota_finish()</code>. After reset, the new image gets active. <code>buffer</code> shall hold the image data to be written, in arbitrary sizes. A block size of 4096 is recommended.</p>
<p>Example:</p>
<div class="highlight"><pre style="background-color:#f0f0f0;-moz-tab-size:4;-o-tab-size:4;tab-size:4"><code class="language-python" data-lang="python"><span style="color:#60a0b0;font-style:italic"># Firmware update by reading the image from the SD card</span>
<span style="color:#60a0b0;font-style:italic">#</span>
<span style="color:#007020;font-weight:bold">from</span> <span style="color:#0e84b5;font-weight:bold">pycom</span> <span style="color:#007020;font-weight:bold">import</span> ota_start, ota_write, ota_finish
<span style="color:#007020;font-weight:bold">from</span> <span style="color:#0e84b5;font-weight:bold">os</span> <span style="color:#007020;font-weight:bold">import</span> mount
<span style="color:#007020;font-weight:bold">from</span> <span style="color:#0e84b5;font-weight:bold">machine</span> <span style="color:#007020;font-weight:bold">import</span> SD

BLOCKSIZE <span style="color:#666">=</span> const(<span style="color:#40a070">4096</span>)
APPIMG <span style="color:#666">=</span> <span style="color:#4070a0"></span><span style="color:#4070a0">&#34;</span><span style="color:#4070a0">/sd/appimg.bin</span><span style="color:#4070a0">&#34;</span>

sd <span style="color:#666">=</span> SD()
mount(sd, <span style="color:#4070a0"></span><span style="color:#4070a0">&#39;</span><span style="color:#4070a0">/sd</span><span style="color:#4070a0">&#39;</span>)

<span style="color:#007020;font-weight:bold">with</span> <span style="color:#007020">open</span>(APPIMG, <span style="color:#4070a0"></span><span style="color:#4070a0">&#34;</span><span style="color:#4070a0">rb</span><span style="color:#4070a0">&#34;</span>) <span style="color:#007020;font-weight:bold">as</span> f:
    <span style="color:#007020">buffer</span> <span style="color:#666">=</span> <span style="color:#007020">bytearray</span>(BLOCKSIZE)
    mv <span style="color:#666">=</span> memoryview(<span style="color:#007020">buffer</span>)
    size<span style="color:#666">=</span><span style="color:#40a070">0</span>
    ota_start()
    <span style="color:#007020;font-weight:bold">while</span> True:
        chunk <span style="color:#666">=</span> f<span style="color:#666">.</span>readinto(<span style="color:#007020">buffer</span>)
        <span style="color:#007020;font-weight:bold">if</span> chunk <span style="color:#666">&gt;</span> <span style="color:#40a070">0</span>:
            ota_write(mv[:chunk])
            size <span style="color:#666">+</span><span style="color:#666">=</span> chunk
            <span style="color:#007020;font-weight:bold">print</span>(<span style="color:#4070a0"></span><span style="color:#4070a0">&#34;</span><span style="color:#4070a0;font-weight:bold">\r</span><span style="color:#70a0d0;font-style:italic">%7d</span><span style="color:#4070a0"> </span><span style="color:#4070a0">&#34;</span> <span style="color:#666">%</span> size, end<span style="color:#666">=</span><span style="color:#4070a0"></span><span style="color:#4070a0">&#34;</span><span style="color:#4070a0">&#34;</span>)
        <span style="color:#007020;font-weight:bold">else</span>:
            <span style="color:#007020;font-weight:bold">break</span>
    ota_finish()
</code></pre></div><p>Instead of reading the data to be written from a file, it can obviously also be received from a server using any suitable protocol, without the need to store it in the devices file system.</p>
<blockquote>
<p>For more information about the OTA process, go <a href="../../../updatefirmware/ota.html">here</a></p>
</blockquote>
<h3 id="pycomdiff_update_enabled">pycom.diff_update_enabled()</h3>
<p>Provides the status of the differential update feature. Returns <code>True</code> if differential update is enabled and <code>False</code> otherwise. <code>DIFF_UPDATE_ENABLED</code> build flag can be used to enable the differential update feature.</p>
<blockquote>
<p>Note: This function is only available in the firmware versions which support differential update feature. If you get an exception while calling this function, your firmware version does not support this feature.</p>
</blockquote>
<h2 id="constants">Constants</h2>
<p><code>pycom.LittleFS</code>, <code>pycom.FAT</code>, <code>pycom.FACTORY</code>, <code>pycom.OTA_0</code></p>
</v-card-text>
</v-card>
    <p>&nbsp;</p>
    






  
  
    
  
  

  
  
    
  
  

  
  
    
  
  
    
    
    
      
    
    
    
    
    
      
    
    
      
      
      
        
      
      
      
      
      
        
      
      
      
      
      
        
      
      
      
    
    
    
    
      
    
    
      
      
      
        
      
      
      
      
      
        
      
      
      
      
      
        
      
      
      
    
    
    
    
      
    
    
      
      
      
        
      
      
      
      
      
        
      
      
      
      
      
        
      
      
        
        
        
          
        
        
        
        
        
          
        
        
        
        
        
          
        
        
        
        
        
          
        
        
        
        
        
          
        
        
        
      
      
    
    
  

  
  
    
  
  
    
    
    
      
    
    
      
      
      
        
      
      
      
      
      
        
      
      
      
      
      
        
      
      
      
      
      
        
      
      
      
      
      
        
      
      
      
    
    
    
    
      
    
    
      
      
      
        
      
      
      
      
      
        
      
      
      
      
      
        
      
      
      
      
      
        
      
      
      
      
      
        
      
      
      
      
      
        
      
      
      
      
      
        
      
      
      
      
      
        
      
      
      
    
    
    
    
      
    
    
      
      
      
        
      
      
      
      
      
        
      
      
        
        
        
          
        
        
        
      
      
      
      
        
      
      
        
        
        
          
        
        
        
        
        
          
        
        
        
        
        
          
        
        
        
      
      
      
      
        
      
      
        
        
        
          
        
        
        
        
        
          
        
        
        
        
        
          
        
        
        
        
        
          
        
        
        
        
        
          
        
        
        
        
        
          
        
        
        
        
        
          
        
        
        
      
      
      
      
        
      
      
        
        
        
          
        
        
        
      
      
      
      
        
      
      
      
    
    
    
    
      
    
    
      
      
      
        
      
      
      
      
      
        
      
      
      
      
      
        
      
      
      
      
      
        
      
      
      
      
      
        
      
      
      
      
      
        
      
      
      
      
      
        
      
      
      
      
      
        
      
      
      
      
      
        
      
      
      
      
      
        
      
      
      
    
    
    
    
      
    
    
      
      
      
        
      
      
      
      
      
        
      
      
      
      
      
        
      
      
      
      
      
        
      
      
      
      
      
        
      
      
      
      
      
        
      
      
      
    
    
    
    
      
    
    
      
      
      
        
      
      
      
      
      
        
      
      
      
    
    
    
    
      
    
    
      
      
      
        
      
      
      
    
    
  

  
  
    
  
  
    
    
    
      
    
    
      
      
      
        
      
      
        
        
        
          
        
        
        
        
        
          
        
        
        
        
        
          
        
        
        
        
        
          
        
        
        
        
        
          
        
        
        
        
        
          
        
        
        
        
        
          
        
        
        
        
        
          
        
        
        
        
        
          
        
        
        
        
        
          
        
        
        
        
        
          
        
        
        
        
        
          
        
        
        
        
        
          
        
        
        
        
        
          
        
        
        
        
        
          
        
        
        
      
      
      
      
        
      
      
        
        
        
          
        
        
        
        
        
          
        
        
        
        
        
          
        
        
        
        
        
          
        
        
        
          
          
          
            
          
          
          
          
            
          
          
          
          
            
          
          
          
          
            
          
          
          
          
            
          
          
          
          
            
          
          
          
          
            
          
          
        
        
        
          
        
        
        
          
          
          
            
          
          
        
        
        
          
        
        
        
        
        
          
        
        
        
        
        
          
        
        
        
        
        
          
        
        
        
      
      
      
      
        
      
      
      
      
      
        
        
        
        
      
      
      
      <v-layout class="full-width  prev-next pa-2 mt-4 mb-0" styleZZ="background-color: #7800FF;">
  <v-flex xs6 class="ppurple">
  
  <v-btn class="ml-4" href="/firmwareapi/pycom/aes/">Previous</v-btn>
  
  </v-flex>
  <v-flex xs6 class="text-xs-right">
  <v-btn class="mr-4 pbgpurple white--text"  href="/firmwareapi/pycom/expansionboards/">Next</v-btn>
    </v-flex>
</v-layout>

      
      
        
      
      
        
        
        
          
        
        
        
        
        
          
        
        
        
        
        
          
        
        
        
        
        
          
        
        
        
        
        
          
        
        
        
        
        
          
        
        
        
        
        
          
        
        
        
        
        
          
        
        
        
      
      
    
    
    
    
      
    
    
      
      
      
        
      
      
      
      
      
        
      
      
      
      
      
        
      
      
      
      
      
        
      
      
      
      
      
        
      
      
      
      
      
        
      
      
      
      
      
        
      
      
      
      
      
        
      
      
      
      
      
        
      
      
      
      
      
        
      
      
      
      
      
        
      
      
      
      
      
        
      
      
      
      
      
        
      
      
      
      
      
        
      
      
      
      
      
        
      
      
      
      
      
        
      
      
      
      
      
        
      
      
      
      
      
        
      
      
      
      
      
        
      
      
      
      
      
        
      
      
      
      
      
        
      
      
      
    
    
    
    
      
    
    
    
  

  
  
    
  
  
    
    
    
      
    
    
      
      
      
        
      
      
      
      
      
        
      
      
      
      
      
        
      
      
      
      
      
        
      
      
      
      
      
        
      
      
      
      
      
        
      
      
      
      
      
        
      
      
      
    
    
    
    
      
    
    
      
      
      
        
      
      
      
      
      
        
      
      
      
      
      
        
      
      
      
      
      
        
      
      
      
      
      
        
      
      
      
      
      
        
      
      
      
      
      
        
      
      
      
      
      
        
      
      
      
    
    
    
    
      
    
    
      
      
      
        
      
      
      
      
      
        
      
      
      
      
      
        
      
      
      
      
      
        
      
      
      
      
      
        
      
      
      
      
      
        
      
      
      
      
      
        
      
      
      
      
      
        
      
      
      
      
      
        
      
      
      
      
      
        
      
      
      
    
    
    
    
      
    
    
    
    
    
      
    
    
      
      
      
        
      
      
      
      
      
        
      
      
      
    
    
    
    
      
    
    
      
      
      
        
      
      
      
      
      
        
      
      
      
    
    
    
    
      
    
    
    
  

  
  
    
  
  
    
    
    
      
    
    
    
    
    
      
    
    
    
    
    
      
    
    
    
    
    
      
    
    
    
    
    
      
    
    
    
  

  
  
    
  
  
    
    
    
      
    
    
    
    
    
      
    
    
    
    
    
      
    
    
    
    
    
      
    
    
      
      
      
        
      
      
        
        
        
          
        
        
        
      
      
      
      
        
      
      
        
        
        
          
        
        
        
        
        
          
        
        
        
      
      
    
    
    
    
      
    
    
    
    
    
      
    
    
    
    
    
      
    
    
      
      
      
        
      
      
      
    
    
    
    
      
    
    
      
      
      
        
      
      
      
      
      
        
      
      
      
    
    
    
    
      
    
    
      
      
      
        
      
      
      
      
      
        
      
      
      
    
    
    
    
      
    
    
      
      
      
        
      
      
      
      
      
        
      
      
      
      
      
        
      
      
      
      
      
        
      
      
      
    
    
    
    
      
    
    
      
      
      
        
      
      
      
      
      
        
      
      
      
      
      
        
      
      
      
    
    
    
    
      
    
    
      
      
      
        
      
      
      
      
      
        
      
      
      
      
      
        
      
      
      
    
    
  

  
  
    
  
  
    
    
    
      
    
    
      
      
      
        
      
      
      
      
      
        
      
      
      
    
    
    
    
      
    
    
    
    
    
      
    
    
    
  

  
  
    
  
  
    
    
    
      
    
    
    
    
    
      
    
    
    
    
    
      
    
    
    
    
    
      
    
    
    
    
    
      
    
    
    
    
    
      
    
    
    
  

  
  
    
  
  
    
    
    
      
    
    
    
    
    
      
    
    
    
    
    
      
    
    
    
    
    
      
    
    
    
    
    
      
    
    
    
    
    
      
    
    
    
    
    
      
    
    
    
    
    
      
    
    
    
  

  
  
    
  
  
    
    
    
      
    
    
    
    
    
      
    
    
    
    
    
      
    
    
    
    
    
      
    
    
    
    
    
      
    
    
    
    
    
      
    
    
    
  

  
  
    
  
  
    
    
    
      
    
    
    
    
    
      
    
    
    
    
    
      
    
    
    
    
    
      
    
    
    
    
    
      
    
    
    
  

  
  
    
  
  


    <v-spacer/>


          </v-container>
      </v-container>
    </v-content>
 </v-app>

  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vuetify/1.5.13/vuetify.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue-resource/1.5.1/vue-resource.min.js"></script>
  <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/docsearch.js@2/dist/cdn/docsearch.min.js"></script>
  <script>
    var development = false;
    var app = new Vue({
      el: '#app',
      data: {
        page: 1,
        pageCount: 0,
        error: null,
        results: null,
        drawer: true,
        drawer2: true,
        toc: 0,
        branches: [
        { value: 'https://docs.pycom.io', text: 'version stable'},
          { value: 'https://development.pycom.io', text: 'version development'},
          

        ],
        branch: ""
      },
      mounted: function () {
        
        this.branch= this.branches[0]
        for (b in this.branches) {
          if ( document.location.href.indexOf(this.branches[b].value) > -1) {
            this.branch= this.branches[b]
          }
        }
        
        
        if (this.$refs.tocBtn) {
          var elem = this.$refs.tocBtn.$el
          setTimeout(function () {
              elem.click();

          }, 3500);
        }
        var elem2 = document.getElementById("vuetify-theme-stylesheet");
        elem2.parentNode.removeChild(elem2);

      },
      watch: {
        
        branch: function (newb, old) {
          if (newb.value != this.branches[0].value) {
          
          
          
          
          
          
          
          
          
          
          
          
          
          
          
            window.location = newb + window.location.pathname;
          }
        },
      },
    });

    
    docsearch({
      apiKey: 'a99fde9999fbec81c1772eb9ffcca488',
      indexName: 'pycom',
      inputSelector: '.algolia-search-field input',
      debug: false 
    });
  </script>
<script type="text/javascript">
_atrk_opts = { atrk_acct:"WpWNq1SZw320l9", domain:"pycom.io",dynamic: true};
(function() { var as = document.createElement('script'); as.type = 'text/javascript'; as.async = true; as.src = "https://certify-js.alexametrics.com/atrk.js"; var s = document.getElementsByTagName('script')[0];s.parentNode.insertBefore(as, s); })();
</script>
<noscript><img src="https://certify.alexametrics.com/atrk.gif?account=WpWNq1SZw320l9" style="display:none" height="1" width="1" alt="" /></noscript>


<script>
    (function(h,o,t,j,a,r){
        h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
        h._hjSettings={hjid:1216663,hjsv:6};
        a=o.getElementsByTagName('head')[0];
        r=o.createElement('script');r.async=1;
        r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
        a.appendChild(r);
    })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
</script>
<script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

ga('create', 'UA-72107804-3', 'auto');
ga('send', 'pageview');
</script>
</body>
</html>
