<!DOCTYPE html>
<html class="fancyScroll">
<head>
  <meta charset="utf-8">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900|Material+Icons" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
  
  <link href="../../../../css/vuetify.css" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">

  <title>NFC and RFID reader </title>
  <meta name="description" content="">

  <script src="../../../../js/smooth-scroll.js"></script>
  <link href="../../../../css/doc-theme.css%3F.css" rel="stylesheet">
  <link rel="icon" href="../../../../favicon.ico">
  
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/docsearch.js@2/dist/cdn/docsearch.min.css" />
</head>
<body>
</script>
<v-app id="app" class=""  v-cloak style="background-color: white;">
   <v-navigation-drawer
  v-model="drawer"
  fixed
  app
  class="lighten-4 pt-0"
  style="overflow-y: hidden; overflow-x: hidden;margin-top:68px;"
>

  <div class="fancyScroll pa-0 ma-0" style="overflow-y: scroll; overflow-x: hidden;
      max-height: 100%;" >

    <v-divider class="mr-2 ml-1 mb-4" style="border: 0"></v-divider>

      <ul class="lefttree">
        <li class="lefttree">
            <a href="../../../../index.html" class="beba" style="color: #1E1E3C; text-decoration: none;" >
              <v-icon style="color: #1E1E3C;">home</v-icon> Introduction</a>
        </li>
      </ul>

    


<ul class="lefttree ">

  
  
  
  
  


    <li class="lefttree ">
      <v-icon style="color: transparent; display: hidden;" >done</v-icon>
      <a href="../../../../gettingstarted/registration/lora/helium_hotspot_registration/index.html" class="">Pycom Helium Miner</a>
    </li>

  

  
  
  
  
  


    <li class="lefttree ">
      <v-icon style="color: transparent; display: hidden;" >done</v-icon>
      <a href="../../../../products/index.html" class="">Pycom Products</a>
    </li>

  

  
  
  
  
  

  
    <li class="lefttree " >
      <v-icon style="color: transparent; display: hidden;" >done</v-icon>
      <a href="../../../../gettingstarted/index.html" class="">  Getting Started</a>
      
      

      

  

  
  
  
  
  

  
    <li class="lefttree " >
      <v-icon style="color: transparent; display: hidden;" >done</v-icon>
      <a href="../../../../tutorials/index.html" class="">  Tutorials &amp; Examples</a>
      
      

      

  

  
  
  
  
  

  
    <li class="lefttree padleft hot" >
      <v-icon style="color: transparent; display: hidden;" >done</v-icon>
      <a href="../../../index.html" class="hot">  Firmware &amp; API Reference</a>
      
      
        


<ul class="lefttree ">

  
  
  
  
  

  
    <li class="lefttree padleft hot" >
      <v-icon style="color: transparent; display: hidden;" >done</v-icon>
      <a href="../../index.html" class="hot">  Pycom Modules</a>
      
      
        


<ul class="lefttree ">

  
  
  
  
  

  
    <li class="lefttree " >
      <v-icon style="color: transparent; display: hidden;" >done</v-icon>
      <a href="../../machine/index.html" class="">  machine</a>
      
      

      

  

  
  
  
  
  

  
    <li class="lefttree " >
      <v-icon style="color: transparent; display: hidden;" >done</v-icon>
      <a href="../../network/index.html" class="">  network</a>
      
      

      

  

  
  
  
  
  


    <li class="lefttree ">
      <v-icon style="color: transparent; display: hidden;" >done</v-icon>
      <a href="../../aes.html" class="">AES</a>
    </li>

  

  
  
  
  
  


    <li class="lefttree ">
      <v-icon style="color: transparent; display: hidden;" >done</v-icon>
      <a href="../../pycom.html" class="">Pycom</a>
    </li>

  

  
  
  
  
  

  
    <li class="lefttree padleft hot" >
      <v-icon style="color: transparent; display: hidden;" >done</v-icon>
      <a href="../index.html" class="hot">  Shields</a>
      
      
        


<ul class="lefttree ">

  
  
  
  
  


    <li class="lefttree ">
      <v-icon style="color: transparent; display: hidden;" >done</v-icon>
      <a href="../pycoproc/index.html" class="">Pycoproc</a>
    </li>

  

  
  
  
  
  


    <li class="lefttree ">
      <v-icon style="color: transparent; display: hidden;" >done</v-icon>
      <a href="../pycoproc2/index.html" class="">Pycoproc2</a>
    </li>

  

  
  
  
  
  


    <li class="lefttree ">
      <v-icon style="color: transparent; display: hidden;" >done</v-icon>
      <a href="../lis2hh12/index.html" class="">LIS2HH12</a>
    </li>

  

  
  
  
  
  


    <li class="lefttree ">
      <v-icon style="color: transparent; display: hidden;" >done</v-icon>
      <a href="../ltr329als01/index.html" class="">LTR329ALS01</a>
    </li>

  

  
  
  
  
  


    <li class="lefttree ">
      <v-icon style="color: transparent; display: hidden;" >done</v-icon>
      <a href="../si7006a20/index.html" class="">SI7006A20</a>
    </li>

  

  
  
  
  
  


    <li class="lefttree ">
      <v-icon style="color: transparent; display: hidden;" >done</v-icon>
      <a href="../mpl3115a2/index.html" class="">MPL3115A2</a>
    </li>

  

  
  
  
  
  


    <li class="lefttree hot">
      <v-icon style="color: transparent; display: hidden;" >done</v-icon>
      <a href="index.html" class="hot">MFRC630</a>
    </li>

  

  
  
  
  
  


    <li class="lefttree ">
      <v-icon style="color: transparent; display: hidden;" >done</v-icon>
      <a href="../l76gnss/index.html" class="">L76GNSS</a>
    </li>

  

</ul>

      

      
    </li>
      

  

</ul>

      

      
    </li>
      

  

  
  
  
  
  

  
    <li class="lefttree " >
      <v-icon style="color: transparent; display: hidden;" >done</v-icon>
      <a href="../../../micropython/index.html" class="">  MicroPython Modules</a>
      
      

      

  

  
  
  
  
  


    <li class="lefttree ">
      <v-icon style="color: transparent; display: hidden;" >done</v-icon>
      <a href="../../../notes.html" class="">Interrupts</a>
    </li>

  

</ul>

      

      
    </li>
      

  

  
  
  
  
  

  
    <li class="lefttree " >
      <v-icon style="color: transparent; display: hidden;" >done</v-icon>
      <a href="../../../../datasheets/index.html" class="">  Product Info, Datasheets</a>
      
      

      

  

  
  
  
  
  

  
    <li class="lefttree " >
      <v-icon style="color: transparent; display: hidden;" >done</v-icon>
      <a href="../../../../updatefirmware/index.html" class="">  Update Firmware</a>
      
      

      

  

  
  
  
  
  

  
    <li class="lefttree " >
      <v-icon style="color: transparent; display: hidden;" >done</v-icon>
      <a href="../../../../pybytes/index.html" class="">  Pybytes</a>
      
      

      

  

  
  
  
  
  

  
    <li class="lefttree " >
      <v-icon style="color: transparent; display: hidden;" >done</v-icon>
      <a href="../../../../cellularservices/index.html" class="">  Cellular Services</a>
      
      

      

  

  
  
  
  
  

  
    <li class="lefttree " >
      <v-icon style="color: transparent; display: hidden;" >done</v-icon>
      <a href="../../../../pylife/index.html" class="">  Pylife</a>
      
      

      

  

  
  
  
  
  

  
    <li class="lefttree " >
      <v-icon style="color: transparent; display: hidden;" >done</v-icon>
      <a href="../../../../pymesh.html" class="">  Pymesh</a>
      
      

      

  

  
  
  
  
  

  
    <li class="lefttree " >
      <v-icon style="color: transparent; display: hidden;" >done</v-icon>
      <a href="../../../../docnotes/index.html" class="">  Micropython Support</a>
      
      

      

  

  
  
  
  
  

  
    <li class="lefttree " >
      <v-icon style="color: transparent; display: hidden;" >done</v-icon>
      <a href="../../../../advance/downgrade.html" class="">  Advanced topics</a>
      
      

      

  

  
  
  
  
  


    <li class="lefttree ">
      <v-icon style="color: transparent; display: hidden;" >done</v-icon>
      <a href="../../../../license/index.html" class="">License</a>
    </li>

  

</ul>


    <v-divider class="grey lighten-1 ma-2 mt-4 mb-4"></v-divider>

    <ul class="lefttree" >Have a question ?
      <li class="lefttree">  <a href="https://forum.pycom.io">Ask on the forum</a>
    </ul>
    <p>&nbsp;</p>
      <p>&nbsp;</p>
  </div>
</v-navigation-drawer>
<v-toolbar
  app
  fixed
  height=68
  class="pr-3 pl-2 navbar"
  dark
  style="background-color: #171730;"
  flat
>
  <v-toolbar-title style="width: 260px; " class="ml-4 pl-0  pt-2 text-xs-center hidden-sm-and-down">
    <v-img class="ml-4"  height=48 width=190  src="/logo.svg" class="">
  </v-toolbar-title>

    <v-btn icon @click.stop="drawer = !drawer" style="z-index: 1200;">
      <v-icon>toc</v-icon>
    </v-btn>
    <span class="beba" style="font-size: 1.6rem; opacity: 0.85;">
        NFC and RFID reader
    </span>

  <v-text-field
    style="max-width: 650px"
    class="ml-3 algolia-search-field"
    light
    hide-details
    label="Search the docs..."
    solo
    append-icon="search"
  ></v-text-field>

  <v-spacer></v-spacer>
  
  <div style="width: 240px;">
  <v-select :items="branches" v-model="branch" width=120 class="mono">
  </v-select>
  </div>
  <v-btn icon ref="tocBtn" @click.stop="drawer2 = !drawer2" >
    <v-icon style="color: rgb(23, 255, 189);">more_vert</v-icon>
  </v-btn>
  
</v-toolbar>
<v-content >
      <v-container class="fluid pa-4" style="padding-top: 0 !important;">
          <v-container class="ma-1 pa-1"><v-slide-y-transition>
    <v-card class="menu-contextual" v-if="drawer2" @click.stop="drawer2 = !drawer2">
      <v-card-title class="beba" style="height: 68px; background-color: #1E1E3C; color: #17FFBD">
        What's in this document
        <v-btn icon @click.stop="drawer2 = !drawer2" style="color: #17FFBD; position: absolute; right: 0; top: 4px;;">
          <v-icon>more_vert</v-icon>
        </v-btn>


      </v-card-title>
      <v-card-text class="fancyScroll righttree">
    <nav id="TableOfContents">
  <ul>
    <li class="righttree"><a href="index.html#constructors">Constructors</a>
      <ul>
        <li class="righttree"><a href="index.html#class-mfrc630pycoprocnone-sdap22-sclp21-timeoutnone-debugfalse">class MFRC630(pycoproc=None, sda='P22&rsquo;, scl='P21&rsquo;, timeout=None, debug=False)</a></li>
      </ul>
    </li>
    <li class="righttree"><a href="index.html#methods">Methods</a>
      <ul>
        <li class="righttree"><a href="index.html#mfrc630mfrc630_cmd_init">MFRC630.mfrc630_cmd_init()</a></li>
        <li class="righttree"><a href="index.html#mfrc630mfrc630_cmd_reset">MFRC630.mfrc630_cmd_reset()</a></li>
        <li class="righttree"><a href="index.html#mfrc630mfrc630_cmd_idle">MFRC630.mfrc630_cmd_idle()</a></li>
        <li class="righttree"><a href="index.html#mfrc630mfrc630_cmd_load_keykey">MFRC630.mfrc630_cmd_load_key(key)</a></li>
      </ul>
    </li>
    <li class="righttree"><a href="index.html#constants">Constants</a></li>
  </ul>
</nav>
      </v-card-text>
    </v-card>
</v-slide-y-transition>





<v-card flat class="DocSearch-content">
  <v-card-text>
    
    








  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
      
        








  
  

  

  
    

      

  
  






  
  

  

  
      
        








  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  


</ul>

    

  






  
  

  

  
      
        








  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  


</ul>

    

  






  
  

  

  
      
        








  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
      
        








  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  


</ul>

    

  


</ul>

    

  


</ul>

    

  






  
  

  

  
      
        








  
  

  

  
      
        








  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  


</ul>

    

  






  
  

  

  
      
        








  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  


</ul>

    

  






  
  

  

  
      
        








  
  

  

  
    

      

  
  






  
  

  

  
      
        








  
  

  

  
    

      

  
  


</ul>

    

  






  
  

  

  
      
        








  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  


</ul>

    

  






  
  

  

  
      
        








  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  


</ul>

    

  






  
  

  

  
      
        








  
  

  

  
    

      

  
  


</ul>

    

  






  
  

  

  
    

      

  
  


</ul>

    

  






  
  

  

  
      
        








  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  


</ul>

    

  






  
  

  

  
      
        








  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  


</ul>

    

  






  
  

  

  
      
        








  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  


</ul>

    

  






  
  

  

  
      
        








  
  

  

  
    

      

  
  


</ul>

    

  


</ul>

    

  






  
  

  

  
      

      <a href="../../../index.html" class="bread hot">  Firmware &amp; API Reference</a>
        >
      
        








  
  

  

  
      

      <a href="../../index.html" class="bread hot">  Pycom Modules</a>
        >
      
        








  
  

  

  
      
        








  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  


</ul>

    

  






  
  

  

  
      
        








  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
      
        








  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  


</ul>

    

  






  
  

  

  
      
        








  
  

  

  
    

      

  
  


</ul>

    

  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  


</ul>

    

  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
      

      <a href="../index.html" class="bread hot">  Shields</a>
        >
      
        








  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      <a href="index.html" class="bread">MFRC630 </a>

      

      
      

        

  
  






  
  

  

  
    

      

  
  


</ul>

    


    

  


</ul>

    


    

  






  
  

  

  
      
        








  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  


</ul>

    

  






  
  

  

  
    

      

  
  


</ul>

    


    

  






  
  

  

  
      
        








  
  

  

  
      
        








  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  


</ul>

    

  






  
  

  

  
      
        








  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  


</ul>

    

  






  
  

  

  
      
        








  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  


</ul>

    

  






  
  

  

  
    

      

  
  






  
  

  

  
      
        








  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  


</ul>

    

  






  
  

  

  
      
        








  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  


</ul>

    

  






  
  

  

  
    

      

  
  


</ul>

    

  






  
  

  

  
      
        








  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  


</ul>

    

  






  
  

  

  
      
        








  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
      
        








  
  

  

  
      
        








  
  

  

  
    

      

  
  


</ul>

    

  






  
  

  

  
      
        








  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  


</ul>

    

  


</ul>

    

  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
      
        








  
  

  

  
    

      

  
  


</ul>

    

  






  
  

  

  
      
        








  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  


</ul>

    

  






  
  

  

  
      
        








  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  


</ul>

    

  






  
  

  

  
      
        








  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  


</ul>

    

  






  
  

  

  
      
        








  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  


</ul>

    

  






  
  

  

  
      
        








  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  


</ul>

    

  


</ul>

    

  






  
  

  

  
      
        








  
  

  

  
      
        








  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  


</ul>

    

  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  


</ul>

    

  






  
  

  

  
      
        








  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  


</ul>

    

  






  
  

  

  
      
        








  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  


</ul>

    

  






  
  

  

  
      
        








  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  


</ul>

    

  






  
  

  

  
      
        








  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  


</ul>

    

  






  
  

  

  
    

      

  
  


</ul>

    
    <h1 class="mt-0 pt-0">NFC and RFID reader</h1><p>The MFRC630 is a NFC and RFID card reader.</p>
<h2 id="constructors">Constructors</h2>
<h3 id="class-mfrc630pycoprocnone-sdap22-sclp21-timeoutnone-debugfalse">class MFRC630(pycoproc=None, sda='P22&rsquo;, scl='P21&rsquo;, timeout=None, debug=False)</h3>
<p>Creates a <code>MFRC630</code> object. Constructor must be passed a Pycoproc or I2C object to successfully construct.</p>
<h2 id="methods">Methods</h2>
<h3 id="mfrc630mfrc630_cmd_init">MFRC630.mfrc630_cmd_init()</h3>
<p>Initialises the MFRC630.</p>
<h3 id="mfrc630mfrc630_cmd_reset">MFRC630.mfrc630_cmd_reset()</h3>
<p>Reset the device. Stops the currently active command and resets device.</p>
<h3 id="mfrc630mfrc630_cmd_idle">MFRC630.mfrc630_cmd_idle()</h3>
<p>Set the device into idle mode. Stops the currently active command and return to idle mode.</p>
<h3 id="mfrc630mfrc630_cmd_load_keykey">MFRC630.mfrc630_cmd_load_key(key)</h3>
<p>Loads the provided key into the key buffer.</p>
<ul>
<li><code>key</code> Array which holds the MIFARE key, <strong>it is always 6 bytes long</strong></li>
</ul>
<h4 id="mfrc630mfrc630_mf_read_blockblock_address-dest">MFRC630.mfrc630_MF_read_block(block_address, dest)</h4>
<p>Reads a block of memory from an authenticated card. Try to read a block of memory from the card with the appropriate timeouts and error checking.</p>
<ul>
<li><code>block_address</code> The block to read</li>
<li><code>dest</code> The array in which to write the 16 bytes read from the card</li>
</ul>
<p>Returns <code>0</code> for failure, otherwise the number of bytes received.</p>
<h4 id="mfrc630mfrc630_mf_authuid-key_type-block">MFRC630.mfrc630_MF_auth(uid, key_type, block)</h4>
<p>Perform a MIFARE authentication procedure. This function is a higher-level wrapper around the MF authenticate command. The result of the authentication is checked to identify whether it appears to have succeeded. The key must be loaded into the key buffer with <code>MFRC630.mfrc630_cmd_load_key(key)</code>.</p>
<p>Once authenticated, the authentication MUST be stopped manually by calling the <code>mfrc630_MF_deauth()</code> function or otherwise disabling the <code>Crypto1 ON</code> bit in the status register.</p>
<ul>
<li><code>key_type</code>: The MIFARE key A or B (<code>MFRC630_MF_AUTH_KEY_A</code> or <code>MFRC630_MF_AUTH_KEY_B</code>) to use</li>
<li><code>block</code>: The block to authenticate</li>
<li><code>uid</code>: The authentication procedure required the first four bytes of the card&rsquo;s UID to authenticate</li>
</ul>
<p>Returns <code>0</code> in case of failure, nonzero in case of success.</p>
<h4 id="mfrc630mfrc630_mf_deauth">MFRC630.mfrc630_MF_deauth()</h4>
<p>Disables MIFARE authentication. Disable the <code>Crypto1</code> bit from the status register to disable encryption.</p>
<h4 id="mfrc630mfrc630_iso14443a_wupa_reqainstruction">MFRC630.mfrc630_iso14443a_WUPA_REQA(instruction)</h4>
<p>Send <code>WUPA</code> and <code>REQA</code>. Returns the response byte, the answer to request <code>A</code> byte (<code>ATQA</code>), or <code>0</code> in case of no answer.</p>
<ul>
<li>instruction: <code>MFRC630_ISO14443_CMD_WUPA</code>, <code>MFRC630_ISO14443_CMD_REQA</code></li>
</ul>
<h4 id="mfrc630mfrc630_iso14443a_selectuid">MFRC630.mfrc630_iso14443a_select(uid)</h4>
<p>Performs the <code>SELECT</code> procedure to discover a card&rsquo;s UID. This performs the <code>SELECT</code> procedure as explained in <em>ISO14443A</em>, this determines the UID of the card, if multiple cards are present, a collision will occur, which is handled according to the norm.</p>
<ul>
<li><code>uid</code>: The UID of the card will be stored into this array.</li>
</ul>
<p>Returns the length of the UID in bytes (<code>4, 7, 10</code>), or <code>0</code> in case of failure.</p>
<h4 id="mfrc630print_debugmsg">MFRC630.print_debug(msg)</h4>
<p>Prints debug statements if <code>DEBUG</code> is enabled.</p>
<h4 id="mfrc630format_blockblock-length">MFRC630.format_block(block, length)</h4>
<p>Prints <code>block</code> with <code>length</code>.</p>
<h4 id="mfrc630mfrc630_format_blockdata-len">MFRC630.mfrc630_format_block(data, len)</h4>
<p>Converts <code>data</code> to hexadecimal format.</p>
<ul>
<li><code>data</code> The array to be formatted</li>
<li><code>len</code> The number of bytes to format</li>
</ul>
<h4 id="mfrc630mfrc630_print_blockdata-len">MFRC630.mfrc630_print_block(data, len)</h4>
<p>Prints the bytes in <code>data</code> array in hexadecimal format, separated by spaces using the <code>mfrc630_format_block</code> method.</p>
<ul>
<li><code>data</code> The array to be printed</li>
<li><code>len</code> The number of bytes to print</li>
</ul>
<h2 id="constants">Constants</h2>
</v-card-text>
</v-card>
    <p>&nbsp;</p>
    






  
  
    
  
  

  
  
    
  
  

  
  
    
  
  
    
    
    
      
    
    
    
    
    
      
    
    
      
      
      
        
      
      
      
      
      
        
      
      
      
      
      
        
      
      
      
    
    
    
    
      
    
    
      
      
      
        
      
      
      
      
      
        
      
      
      
      
      
        
      
      
      
    
    
    
    
      
    
    
      
      
      
        
      
      
      
      
      
        
      
      
      
      
      
        
      
      
        
        
        
          
        
        
        
        
        
          
        
        
        
        
        
          
        
        
        
        
        
          
        
        
        
        
        
          
        
        
        
      
      
    
    
  

  
  
    
  
  
    
    
    
      
    
    
      
      
      
        
      
      
      
      
      
        
      
      
      
      
      
        
      
      
      
      
      
        
      
      
      
      
      
        
      
      
      
    
    
    
    
      
    
    
      
      
      
        
      
      
      
      
      
        
      
      
      
      
      
        
      
      
      
      
      
        
      
      
      
      
      
        
      
      
      
      
      
        
      
      
      
      
      
        
      
      
      
      
      
        
      
      
      
    
    
    
    
      
    
    
      
      
      
        
      
      
      
      
      
        
      
      
        
        
        
          
        
        
        
      
      
      
      
        
      
      
        
        
        
          
        
        
        
        
        
          
        
        
        
        
        
          
        
        
        
      
      
      
      
        
      
      
        
        
        
          
        
        
        
        
        
          
        
        
        
        
        
          
        
        
        
        
        
          
        
        
        
        
        
          
        
        
        
        
        
          
        
        
        
        
        
          
        
        
        
      
      
      
      
        
      
      
        
        
        
          
        
        
        
      
      
      
      
        
      
      
      
    
    
    
    
      
    
    
      
      
      
        
      
      
      
      
      
        
      
      
      
      
      
        
      
      
      
      
      
        
      
      
      
      
      
        
      
      
      
      
      
        
      
      
      
      
      
        
      
      
      
      
      
        
      
      
      
      
      
        
      
      
      
      
      
        
      
      
      
    
    
    
    
      
    
    
      
      
      
        
      
      
      
      
      
        
      
      
      
      
      
        
      
      
      
      
      
        
      
      
      
      
      
        
      
      
      
      
      
        
      
      
      
    
    
    
    
      
    
    
      
      
      
        
      
      
      
      
      
        
      
      
      
    
    
    
    
      
    
    
      
      
      
        
      
      
      
    
    
  

  
  
    
  
  
    
    
    
      
    
    
      
      
      
        
      
      
        
        
        
          
        
        
        
        
        
          
        
        
        
        
        
          
        
        
        
        
        
          
        
        
        
        
        
          
        
        
        
        
        
          
        
        
        
        
        
          
        
        
        
        
        
          
        
        
        
        
        
          
        
        
        
        
        
          
        
        
        
        
        
          
        
        
        
        
        
          
        
        
        
        
        
          
        
        
        
        
        
          
        
        
        
        
        
          
        
        
        
      
      
      
      
        
      
      
        
        
        
          
        
        
        
        
        
          
        
        
        
        
        
          
        
        
        
        
        
          
        
        
        
          
          
          
            
          
          
          
          
            
          
          
          
          
            
          
          
          
          
            
          
          
          
          
            
          
          
          
          
            
          
          
          
          
            
          
          
        
        
        
          
        
        
        
          
          
          
            
          
          
        
        
        
          
        
        
        
        
        
          
        
        
        
        
        
          
        
        
        
        
        
          
        
        
        
      
      
      
      
        
      
      
      
      
      
        
      
      
      
      
      
        
      
      
        
        
        
          
        
        
        
        
        
          
        
        
        
        
        
          
        
        
        
        
        
          
        
        
        
        
        
          
        
        
        
        
        
          
        
        
        
        
        
          
          
          
          
        
        
        
      <v-layout class="full-width  prev-next pa-2 mt-4 mb-0" styleZZ="background-color: #7800FF;">
  <v-flex xs6 class="ppurple">
  
  <v-btn class="ml-4" href="/firmwareapi/pycom/expansionboards/mpl3115a2/">Previous</v-btn>
  
  </v-flex>
  <v-flex xs6 class="text-xs-right">
  <v-btn class="mr-4 pbgpurple white--text"  href="/firmwareapi/pycom/expansionboards/l76gnss/">Next</v-btn>
    </v-flex>
</v-layout>

        
        
          
        
        
        
      
      
    
    
    
    
      
    
    
      
      
      
        
      
      
      
      
      
        
      
      
      
      
      
        
      
      
      
      
      
        
      
      
      
      
      
        
      
      
      
      
      
        
      
      
      
      
      
        
      
      
      
      
      
        
      
      
      
      
      
        
      
      
      
      
      
        
      
      
      
      
      
        
      
      
      
      
      
        
      
      
      
      
      
        
      
      
      
      
      
        
      
      
      
      
      
        
      
      
      
      
      
        
      
      
      
      
      
        
      
      
      
      
      
        
      
      
      
      
      
        
      
      
      
      
      
        
      
      
      
      
      
        
      
      
      
    
    
    
    
      
    
    
    
  

  
  
    
  
  
    
    
    
      
    
    
      
      
      
        
      
      
      
      
      
        
      
      
      
      
      
        
      
      
      
      
      
        
      
      
      
      
      
        
      
      
      
      
      
        
      
      
      
      
      
        
      
      
      
    
    
    
    
      
    
    
      
      
      
        
      
      
      
      
      
        
      
      
      
      
      
        
      
      
      
      
      
        
      
      
      
      
      
        
      
      
      
      
      
        
      
      
      
      
      
        
      
      
      
      
      
        
      
      
      
    
    
    
    
      
    
    
      
      
      
        
      
      
      
      
      
        
      
      
      
      
      
        
      
      
      
      
      
        
      
      
      
      
      
        
      
      
      
      
      
        
      
      
      
      
      
        
      
      
      
      
      
        
      
      
      
      
      
        
      
      
      
      
      
        
      
      
      
    
    
    
    
      
    
    
    
    
    
      
    
    
      
      
      
        
      
      
      
      
      
        
      
      
      
    
    
    
    
      
    
    
      
      
      
        
      
      
      
      
      
        
      
      
      
    
    
    
    
      
    
    
    
  

  
  
    
  
  
    
    
    
      
    
    
    
    
    
      
    
    
    
    
    
      
    
    
    
    
    
      
    
    
    
    
    
      
    
    
    
  

  
  
    
  
  
    
    
    
      
    
    
    
    
    
      
    
    
    
    
    
      
    
    
    
    
    
      
    
    
      
      
      
        
      
      
        
        
        
          
        
        
        
      
      
      
      
        
      
      
        
        
        
          
        
        
        
        
        
          
        
        
        
      
      
    
    
    
    
      
    
    
    
    
    
      
    
    
    
    
    
      
    
    
      
      
      
        
      
      
      
    
    
    
    
      
    
    
      
      
      
        
      
      
      
      
      
        
      
      
      
    
    
    
    
      
    
    
      
      
      
        
      
      
      
      
      
        
      
      
      
    
    
    
    
      
    
    
      
      
      
        
      
      
      
      
      
        
      
      
      
      
      
        
      
      
      
      
      
        
      
      
      
    
    
    
    
      
    
    
      
      
      
        
      
      
      
      
      
        
      
      
      
      
      
        
      
      
      
    
    
    
    
      
    
    
      
      
      
        
      
      
      
      
      
        
      
      
      
      
      
        
      
      
      
    
    
  

  
  
    
  
  
    
    
    
      
    
    
      
      
      
        
      
      
      
      
      
        
      
      
      
    
    
    
    
      
    
    
    
    
    
      
    
    
    
  

  
  
    
  
  
    
    
    
      
    
    
    
    
    
      
    
    
    
    
    
      
    
    
    
    
    
      
    
    
    
    
    
      
    
    
    
    
    
      
    
    
    
  

  
  
    
  
  
    
    
    
      
    
    
    
    
    
      
    
    
    
    
    
      
    
    
    
    
    
      
    
    
    
    
    
      
    
    
    
    
    
      
    
    
    
    
    
      
    
    
    
    
    
      
    
    
    
  

  
  
    
  
  
    
    
    
      
    
    
    
    
    
      
    
    
    
    
    
      
    
    
    
    
    
      
    
    
    
    
    
      
    
    
    
    
    
      
    
    
    
  

  
  
    
  
  
    
    
    
      
    
    
    
    
    
      
    
    
    
    
    
      
    
    
    
    
    
      
    
    
    
    
    
      
    
    
    
  

  
  
    
  
  


    <v-spacer/>


          </v-container>
      </v-container>
    </v-content>
 </v-app>

  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vuetify/1.5.13/vuetify.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue-resource/1.5.1/vue-resource.min.js"></script>
  <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/docsearch.js@2/dist/cdn/docsearch.min.js"></script>
  <script>
    var development = false;
    var app = new Vue({
      el: '#app',
      data: {
        page: 1,
        pageCount: 0,
        error: null,
        results: null,
        drawer: true,
        drawer2: true,
        toc: 0,
        branches: [
        { value: 'https://docs.pycom.io', text: 'version stable'},
          { value: 'https://development.pycom.io', text: 'version development'},
          

        ],
        branch: ""
      },
      mounted: function () {
        
        this.branch= this.branches[0]
        for (b in this.branches) {
          if ( document.location.href.indexOf(this.branches[b].value) > -1) {
            this.branch= this.branches[b]
          }
        }
        
        
        if (this.$refs.tocBtn) {
          var elem = this.$refs.tocBtn.$el
          setTimeout(function () {
              elem.click();

          }, 3500);
        }
        var elem2 = document.getElementById("vuetify-theme-stylesheet");
        elem2.parentNode.removeChild(elem2);

      },
      watch: {
        
        branch: function (newb, old) {
          if (newb.value != this.branches[0].value) {
          
          
          
          
          
          
          
          
          
          
          
          
          
          
          
            window.location = newb + window.location.pathname;
          }
        },
      },
    });

    
    docsearch({
      apiKey: 'a99fde9999fbec81c1772eb9ffcca488',
      indexName: 'pycom',
      inputSelector: '.algolia-search-field input',
      debug: false 
    });
  </script>
<script type="text/javascript">
_atrk_opts = { atrk_acct:"WpWNq1SZw320l9", domain:"pycom.io",dynamic: true};
(function() { var as = document.createElement('script'); as.type = 'text/javascript'; as.async = true; as.src = "https://certify-js.alexametrics.com/atrk.js"; var s = document.getElementsByTagName('script')[0];s.parentNode.insertBefore(as, s); })();
</script>
<noscript><img src="https://certify.alexametrics.com/atrk.gif?account=WpWNq1SZw320l9" style="display:none" height="1" width="1" alt="" /></noscript>


<script>
    (function(h,o,t,j,a,r){
        h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
        h._hjSettings={hjid:1216663,hjsv:6};
        a=o.getElementsByTagName('head')[0];
        r=o.createElement('script');r.async=1;
        r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
        a.appendChild(r);
    })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
</script>
<script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

ga('create', 'UA-72107804-3', 'auto');
ga('send', 'pageview');
</script>
</body>
</html>
