<!DOCTYPE html>
<html class="fancyScroll">
<head>
  <meta charset="utf-8">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900|Material+Icons" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
  
  <link href="../../../css/vuetify.css" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">

  <title>uos </title>
  <meta name="description" content="">

  <script src="../../../js/smooth-scroll.js"></script>
  <link href="../../../css/doc-theme.css%3F.css" rel="stylesheet">
  <link rel="icon" href="../../../favicon.ico">
  
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/docsearch.js@2/dist/cdn/docsearch.min.css" />
</head>
<body>
</script>
<v-app id="app" class=""  v-cloak style="background-color: white;">
   <v-navigation-drawer
  v-model="drawer"
  fixed
  app
  class="lighten-4 pt-0"
  style="overflow-y: hidden; overflow-x: hidden;margin-top:68px;"
>

  <div class="fancyScroll pa-0 ma-0" style="overflow-y: scroll; overflow-x: hidden;
      max-height: 100%;" >

    <v-divider class="mr-2 ml-1 mb-4" style="border: 0"></v-divider>

      <ul class="lefttree">
        <li class="lefttree">
            <a href="../../../index.html" class="beba" style="color: #1E1E3C; text-decoration: none;" >
              <v-icon style="color: #1E1E3C;">home</v-icon> Introduction</a>
        </li>
      </ul>

    


<ul class="lefttree ">

  
  
  
  
  


    <li class="lefttree ">
      <v-icon style="color: transparent; display: hidden;" >done</v-icon>
      <a href="../../../gettingstarted/registration/lora/helium_hotspot_registration/index.html" class="">Pycom Helium Miner</a>
    </li>

  

  
  
  
  
  


    <li class="lefttree ">
      <v-icon style="color: transparent; display: hidden;" >done</v-icon>
      <a href="../../../products/index.html" class="">Pycom Products</a>
    </li>

  

  
  
  
  
  

  
    <li class="lefttree " >
      <v-icon style="color: transparent; display: hidden;" >done</v-icon>
      <a href="../../../gettingstarted/index.html" class="">  Getting Started</a>
      
      

      

  

  
  
  
  
  

  
    <li class="lefttree " >
      <v-icon style="color: transparent; display: hidden;" >done</v-icon>
      <a href="../../../tutorials/index.html" class="">  Tutorials &amp; Examples</a>
      
      

      

  

  
  
  
  
  

  
    <li class="lefttree padleft hot" >
      <v-icon style="color: transparent; display: hidden;" >done</v-icon>
      <a href="../../index.html" class="hot">  Firmware &amp; API Reference</a>
      
      
        


<ul class="lefttree ">

  
  
  
  
  

  
    <li class="lefttree " >
      <v-icon style="color: transparent; display: hidden;" >done</v-icon>
      <a href="../../pycom/index.html" class="">  Pycom Modules</a>
      
      

      

  

  
  
  
  
  

  
    <li class="lefttree padleft hot" >
      <v-icon style="color: transparent; display: hidden;" >done</v-icon>
      <a href="../index.html" class="hot">  MicroPython Modules</a>
      
      
        


<ul class="lefttree ">

  
  
  
  
  


    <li class="lefttree ">
      <v-icon style="color: transparent; display: hidden;" >done</v-icon>
      <a href="../array/index.html" class="">array</a>
    </li>

  

  
  
  
  
  


    <li class="lefttree ">
      <v-icon style="color: transparent; display: hidden;" >done</v-icon>
      <a href="../cmath/index.html" class="">cmath</a>
    </li>

  

  
  
  
  
  


    <li class="lefttree ">
      <v-icon style="color: transparent; display: hidden;" >done</v-icon>
      <a href="../gc/index.html" class="">gc</a>
    </li>

  

  
  
  
  
  


    <li class="lefttree ">
      <v-icon style="color: transparent; display: hidden;" >done</v-icon>
      <a href="../math/index.html" class="">math</a>
    </li>

  

  
  
  
  
  


    <li class="lefttree ">
      <v-icon style="color: transparent; display: hidden;" >done</v-icon>
      <a href="../micropython/index.html" class="">micropython</a>
    </li>

  

  
  
  
  
  


    <li class="lefttree ">
      <v-icon style="color: transparent; display: hidden;" >done</v-icon>
      <a href="../select/index.html" class="">select</a>
    </li>

  

  
  
  
  
  


    <li class="lefttree ">
      <v-icon style="color: transparent; display: hidden;" >done</v-icon>
      <a href="../sys/index.html" class="">sys</a>
    </li>

  

  
  
  
  
  


    <li class="lefttree ">
      <v-icon style="color: transparent; display: hidden;" >done</v-icon>
      <a href="../ubinascii/index.html" class="">ubinascii</a>
    </li>

  

  
  
  
  
  


    <li class="lefttree ">
      <v-icon style="color: transparent; display: hidden;" >done</v-icon>
      <a href="../ucrypto/index.html" class="">ucrypto</a>
    </li>

  

  
  
  
  
  


    <li class="lefttree ">
      <v-icon style="color: transparent; display: hidden;" >done</v-icon>
      <a href="../uctypes/index.html" class="">uctypes</a>
    </li>

  

  
  
  
  
  


    <li class="lefttree ">
      <v-icon style="color: transparent; display: hidden;" >done</v-icon>
      <a href="../uhashlib/index.html" class="">uhashlib</a>
    </li>

  

  
  
  
  
  


    <li class="lefttree ">
      <v-icon style="color: transparent; display: hidden;" >done</v-icon>
      <a href="../ujson/index.html" class="">ujson</a>
    </li>

  

  
  
  
  
  


    <li class="lefttree hot">
      <v-icon style="color: transparent; display: hidden;" >done</v-icon>
      <a href="index.html" class="hot">uos</a>
    </li>

  

  
  
  
  
  


    <li class="lefttree ">
      <v-icon style="color: transparent; display: hidden;" >done</v-icon>
      <a href="../ure/index.html" class="">ure</a>
    </li>

  

  
  
  
  
  


    <li class="lefttree ">
      <v-icon style="color: transparent; display: hidden;" >done</v-icon>
      <a href="../usocket.html" class="">usocket</a>
    </li>

  

  
  
  
  
  


    <li class="lefttree ">
      <v-icon style="color: transparent; display: hidden;" >done</v-icon>
      <a href="../ussl.html" class="">ussl</a>
    </li>

  

  
  
  
  
  


    <li class="lefttree ">
      <v-icon style="color: transparent; display: hidden;" >done</v-icon>
      <a href="../ustruct/index.html" class="">ustruct</a>
    </li>

  

  
  
  
  
  


    <li class="lefttree ">
      <v-icon style="color: transparent; display: hidden;" >done</v-icon>
      <a href="../utime/index.html" class="">utime</a>
    </li>

  

  
  
  
  
  


    <li class="lefttree ">
      <v-icon style="color: transparent; display: hidden;" >done</v-icon>
      <a href="../uzlib/index.html" class="">uzlib</a>
    </li>

  

  
  
  
  
  


    <li class="lefttree ">
      <v-icon style="color: transparent; display: hidden;" >done</v-icon>
      <a href="../_thread/index.html" class="">_thread</a>
    </li>

  

  
  
  
  
  


    <li class="lefttree ">
      <v-icon style="color: transparent; display: hidden;" >done</v-icon>
      <a href="../builtin/index.html" class="">Builtin</a>
    </li>

  

</ul>

      

      
    </li>
      

  

  
  
  
  
  


    <li class="lefttree ">
      <v-icon style="color: transparent; display: hidden;" >done</v-icon>
      <a href="../../notes.html" class="">Interrupts</a>
    </li>

  

</ul>

      

      
    </li>
      

  

  
  
  
  
  

  
    <li class="lefttree " >
      <v-icon style="color: transparent; display: hidden;" >done</v-icon>
      <a href="../../../datasheets/index.html" class="">  Product Info, Datasheets</a>
      
      

      

  

  
  
  
  
  

  
    <li class="lefttree " >
      <v-icon style="color: transparent; display: hidden;" >done</v-icon>
      <a href="../../../updatefirmware/index.html" class="">  Update Firmware</a>
      
      

      

  

  
  
  
  
  

  
    <li class="lefttree " >
      <v-icon style="color: transparent; display: hidden;" >done</v-icon>
      <a href="../../../pybytes/index.html" class="">  Pybytes</a>
      
      

      

  

  
  
  
  
  

  
    <li class="lefttree " >
      <v-icon style="color: transparent; display: hidden;" >done</v-icon>
      <a href="../../../cellularservices/index.html" class="">  Cellular Services</a>
      
      

      

  

  
  
  
  
  

  
    <li class="lefttree " >
      <v-icon style="color: transparent; display: hidden;" >done</v-icon>
      <a href="../../../pylife/index.html" class="">  Pylife</a>
      
      

      

  

  
  
  
  
  

  
    <li class="lefttree " >
      <v-icon style="color: transparent; display: hidden;" >done</v-icon>
      <a href="../../../pymesh.html" class="">  Pymesh</a>
      
      

      

  

  
  
  
  
  

  
    <li class="lefttree " >
      <v-icon style="color: transparent; display: hidden;" >done</v-icon>
      <a href="../../../docnotes/index.html" class="">  Micropython Support</a>
      
      

      

  

  
  
  
  
  

  
    <li class="lefttree " >
      <v-icon style="color: transparent; display: hidden;" >done</v-icon>
      <a href="../../../advance/downgrade.html" class="">  Advanced topics</a>
      
      

      

  

  
  
  
  
  


    <li class="lefttree ">
      <v-icon style="color: transparent; display: hidden;" >done</v-icon>
      <a href="../../../license/index.html" class="">License</a>
    </li>

  

</ul>


    <v-divider class="grey lighten-1 ma-2 mt-4 mb-4"></v-divider>

    <ul class="lefttree" >Have a question ?
      <li class="lefttree">  <a href="https://forum.pycom.io">Ask on the forum</a>
    </ul>
    <p>&nbsp;</p>
      <p>&nbsp;</p>
  </div>
</v-navigation-drawer>
<v-toolbar
  app
  fixed
  height=68
  class="pr-3 pl-2 navbar"
  dark
  style="background-color: #171730;"
  flat
>
  <v-toolbar-title style="width: 260px; " class="ml-4 pl-0  pt-2 text-xs-center hidden-sm-and-down">
    <v-img class="ml-4"  height=48 width=190  src="/logo.svg" class="">
  </v-toolbar-title>

    <v-btn icon @click.stop="drawer = !drawer" style="z-index: 1200;">
      <v-icon>toc</v-icon>
    </v-btn>
    <span class="beba" style="font-size: 1.6rem; opacity: 0.85;">
        uos
    </span>

  <v-text-field
    style="max-width: 650px"
    class="ml-3 algolia-search-field"
    light
    hide-details
    label="Search the docs..."
    solo
    append-icon="search"
  ></v-text-field>

  <v-spacer></v-spacer>
  
  <div style="width: 240px;">
  <v-select :items="branches" v-model="branch" width=120 class="mono">
  </v-select>
  </div>
  
</v-toolbar>
<v-content >
      <v-container class="fluid pa-4" style="padding-top: 0 !important;">
          <v-container class="ma-1 pa-1">

<v-card flat class="DocSearch-content">
  <v-card-text>
    
    








  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
      
        








  
  

  

  
    

      

  
  






  
  

  

  
      
        








  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  


</ul>

    

  






  
  

  

  
      
        








  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  


</ul>

    

  






  
  

  

  
      
        








  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
      
        








  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  


</ul>

    

  


</ul>

    

  


</ul>

    

  






  
  

  

  
      
        








  
  

  

  
      
        








  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  


</ul>

    

  






  
  

  

  
      
        








  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  


</ul>

    

  






  
  

  

  
      
        








  
  

  

  
    

      

  
  






  
  

  

  
      
        








  
  

  

  
    

      

  
  


</ul>

    

  






  
  

  

  
      
        








  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  


</ul>

    

  






  
  

  

  
      
        








  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  


</ul>

    

  






  
  

  

  
      
        








  
  

  

  
    

      

  
  


</ul>

    

  






  
  

  

  
    

      

  
  


</ul>

    

  






  
  

  

  
      
        








  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  


</ul>

    

  






  
  

  

  
      
        








  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  


</ul>

    

  






  
  

  

  
      
        








  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  


</ul>

    

  






  
  

  

  
      
        








  
  

  

  
    

      

  
  


</ul>

    

  


</ul>

    

  






  
  

  

  
      

      <a href="../../index.html" class="bread hot">  Firmware &amp; API Reference</a>
        >
      
        








  
  

  

  
      
        








  
  

  

  
      
        








  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  


</ul>

    

  






  
  

  

  
      
        








  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
      
        








  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  


</ul>

    

  






  
  

  

  
      
        








  
  

  

  
    

      

  
  


</ul>

    

  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  


</ul>

    

  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
      
        








  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  


</ul>

    

  


</ul>

    

  






  
  

  

  
      

      <a href="../index.html" class="bread hot">  MicroPython Modules</a>
        >
      
        








  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      <a href="index.html" class="bread">uos </a>

      

      
      

        

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  


</ul>

    


    

  






  
  

  

  
    

      

  
  


</ul>

    


    

  






  
  

  

  
      
        








  
  

  

  
      
        








  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  


</ul>

    

  






  
  

  

  
      
        








  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  


</ul>

    

  






  
  

  

  
      
        








  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  


</ul>

    

  






  
  

  

  
    

      

  
  






  
  

  

  
      
        








  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  


</ul>

    

  






  
  

  

  
      
        








  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  


</ul>

    

  






  
  

  

  
    

      

  
  


</ul>

    

  






  
  

  

  
      
        








  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  


</ul>

    

  






  
  

  

  
      
        








  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
      
        








  
  

  

  
      
        








  
  

  

  
    

      

  
  


</ul>

    

  






  
  

  

  
      
        








  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  


</ul>

    

  


</ul>

    

  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
      
        








  
  

  

  
    

      

  
  


</ul>

    

  






  
  

  

  
      
        








  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  


</ul>

    

  






  
  

  

  
      
        








  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  


</ul>

    

  






  
  

  

  
      
        








  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  


</ul>

    

  






  
  

  

  
      
        








  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  


</ul>

    

  






  
  

  

  
      
        








  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  


</ul>

    

  


</ul>

    

  






  
  

  

  
      
        








  
  

  

  
      
        








  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  


</ul>

    

  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  


</ul>

    

  






  
  

  

  
      
        








  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  


</ul>

    

  






  
  

  

  
      
        








  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  


</ul>

    

  






  
  

  

  
      
        








  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  


</ul>

    

  






  
  

  

  
      
        








  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  


</ul>

    

  






  
  

  

  
    

      

  
  


</ul>

    
    <h1 class="mt-0 pt-0">uos</h1><p>The <code>uos</code> module contains functions for filesystem access and <code>urandom</code> function.</p>
<h2 id="port-specifics">Port Specifics</h2>
<p>The filesystem has <code>/</code> as the root directory and the available physical drives are accessible from here. They are currently:</p>
<ul>
<li><code>/flash</code> – the internal flash filesystem</li>
<li><code>/sd</code> – the SD card (if it exists)</li>
</ul>
<h2 id="methods">Methods</h2>
<h4 id="uosuname">uos.uname()</h4>
<p>Return information about the system, firmware release version, and MicroPython interpreter version.</p>
<h4 id="uoschdirpath">uos.chdir(path)</h4>
<p>Change current directory.</p>
<h4 id="uosgetcwd">uos.getcwd()</h4>
<p>Get the current directory.</p>
<h4 id="uoslistdirdir">uos.listdir([dir])</h4>
<p>With no argument, list the current directory. Otherwise list the given directory.</p>
<h4 id="uosmkdirpath">uos.mkdir(path)</h4>
<p>Create a new directory.</p>
<h4 id="uosremovepath">uos.remove(path)</h4>
<p>Remove a file.</p>
<h4 id="uosrmdirpath">uos.rmdir(path)</h4>
<p>Remove a directory.</p>
<h4 id="uosrenameold_path-new_path">uos.rename(old_path, new_path)</h4>
<p>Rename a file.</p>
<h4 id="uosstatpath">uos.stat(path)</h4>
<p>Get the status of a file or directory.</p>
<p>The return value is a tuple with the following 10 values, in order:</p>
<ul>
<li><code>st_mode</code>: protection bits.</li>
<li><code>st_ino</code>: <code>inode</code> number. (not implemented, returns 0)</li>
<li><code>st_dev</code>: device. (not implemented, returns 0)</li>
<li><code>st_nlink</code>: number of hard links. (not implemented, returns 0)</li>
<li><code>st_uid</code>: user id of owner. (not implemented, returns 0)</li>
<li><code>st_gid</code>: group id of owner. (not implemented, returns 0)</li>
<li><code>st_size</code>: size of file in bytes.</li>
<li><code>st_atime</code>: time of most recent access.</li>
<li><code>st_mtime</code>: time of most recent content modification.</li>
<li><code>st_ctime</code>: time of most recent metadata change.</li>
</ul>
<h4 id="uosgetfreepath">uos.getfree(path)</h4>
<p>Returns the free space (in KiB) in the drive specified by path.</p>
<h4 id="uossync">uos.sync()</h4>
<p>Sync all filesystems.</p>
<h4 id="uosurandomn">uos.urandom(n)</h4>
<p>Return a bytes object with n random bytes.</p>
<h4 id="uosunlinkpath">uos.unlink(path)</h4>
<p>Alias for the <code>remove()</code> method.</p>
<h4 id="uosmountblock_device-mount_point---readonlyfalse">uos.mount(block_device, mount_point, * , readonly=False)</h4>
<p>Mounts a block device (like an SD object) in the specified mount point. Example:</p>
<div class="highlight"><pre style="background-color:#f0f0f0;-moz-tab-size:4;-o-tab-size:4;tab-size:4"><code class="language-python" data-lang="python">uos<span style="color:#666">.</span>mount(sd, <span style="color:#4070a0"></span><span style="color:#4070a0">&#39;</span><span style="color:#4070a0">/sd</span><span style="color:#4070a0">&#39;</span>)
</code></pre></div><h4 id="uosumountmount_point">uos.umount(mount_point)</h4>
<p>Unmounts a previously mounted block device from the specified mount point. Example:</p>
<div class="highlight"><pre style="background-color:#f0f0f0;-moz-tab-size:4;-o-tab-size:4;tab-size:4"><code class="language-python" data-lang="python">uos<span style="color:#666">.</span>umount(<span style="color:#4070a0"></span><span style="color:#4070a0">&#39;</span><span style="color:#4070a0">/sd</span><span style="color:#4070a0">&#39;</span>)
</code></pre></div><h4 id="uosmkfsblock_device-or-path">uos.mkfs(block_device or path)</h4>
<p>Formats the specified path, must be either <code>/flash</code> or <code>/sd</code>. A block device can also be passed like an SD object before being mounted.</p>
<h4 id="uosduptermstream_object">uos.dupterm(stream_object)</h4>
<p>Duplicate the terminal (the REPL) on the passed stream-like object. The given object must at least implement the <code>read()</code> and <code>write()</code> methods.</p>
<h2 id="constants">Constants</h2>
<ul>
<li><code>uos.sep</code>: Separation character used in paths</li>
</ul>
</v-card-text>
</v-card>
    <p>&nbsp;</p>
    






  
  
    
  
  

  
  
    
  
  

  
  
    
  
  
    
    
    
      
    
    
    
    
    
      
    
    
      
      
      
        
      
      
      
      
      
        
      
      
      
      
      
        
      
      
      
    
    
    
    
      
    
    
      
      
      
        
      
      
      
      
      
        
      
      
      
      
      
        
      
      
      
    
    
    
    
      
    
    
      
      
      
        
      
      
      
      
      
        
      
      
      
      
      
        
      
      
        
        
        
          
        
        
        
        
        
          
        
        
        
        
        
          
        
        
        
        
        
          
        
        
        
        
        
          
        
        
        
      
      
    
    
  

  
  
    
  
  
    
    
    
      
    
    
      
      
      
        
      
      
      
      
      
        
      
      
      
      
      
        
      
      
      
      
      
        
      
      
      
      
      
        
      
      
      
    
    
    
    
      
    
    
      
      
      
        
      
      
      
      
      
        
      
      
      
      
      
        
      
      
      
      
      
        
      
      
      
      
      
        
      
      
      
      
      
        
      
      
      
      
      
        
      
      
      
      
      
        
      
      
      
    
    
    
    
      
    
    
      
      
      
        
      
      
      
      
      
        
      
      
        
        
        
          
        
        
        
      
      
      
      
        
      
      
        
        
        
          
        
        
        
        
        
          
        
        
        
        
        
          
        
        
        
      
      
      
      
        
      
      
        
        
        
          
        
        
        
        
        
          
        
        
        
        
        
          
        
        
        
        
        
          
        
        
        
        
        
          
        
        
        
        
        
          
        
        
        
        
        
          
        
        
        
      
      
      
      
        
      
      
        
        
        
          
        
        
        
      
      
      
      
        
      
      
      
    
    
    
    
      
    
    
      
      
      
        
      
      
      
      
      
        
      
      
      
      
      
        
      
      
      
      
      
        
      
      
      
      
      
        
      
      
      
      
      
        
      
      
      
      
      
        
      
      
      
      
      
        
      
      
      
      
      
        
      
      
      
      
      
        
      
      
      
    
    
    
    
      
    
    
      
      
      
        
      
      
      
      
      
        
      
      
      
      
      
        
      
      
      
      
      
        
      
      
      
      
      
        
      
      
      
      
      
        
      
      
      
    
    
    
    
      
    
    
      
      
      
        
      
      
      
      
      
        
      
      
      
    
    
    
    
      
    
    
      
      
      
        
      
      
      
    
    
  

  
  
    
  
  
    
    
    
      
    
    
      
      
      
        
      
      
        
        
        
          
        
        
        
        
        
          
        
        
        
        
        
          
        
        
        
        
        
          
        
        
        
        
        
          
        
        
        
        
        
          
        
        
        
        
        
          
        
        
        
        
        
          
        
        
        
        
        
          
        
        
        
        
        
          
        
        
        
        
        
          
        
        
        
        
        
          
        
        
        
        
        
          
        
        
        
        
        
          
        
        
        
        
        
          
        
        
        
      
      
      
      
        
      
      
        
        
        
          
        
        
        
        
        
          
        
        
        
        
        
          
        
        
        
        
        
          
        
        
        
          
          
          
            
          
          
          
          
            
          
          
          
          
            
          
          
          
          
            
          
          
          
          
            
          
          
          
          
            
          
          
          
          
            
          
          
        
        
        
          
        
        
        
          
          
          
            
          
          
        
        
        
          
        
        
        
        
        
          
        
        
        
        
        
          
        
        
        
        
        
          
        
        
        
      
      
      
      
        
      
      
      
      
      
        
      
      
      
      
      
        
      
      
        
        
        
          
        
        
        
        
        
          
        
        
        
        
        
          
        
        
        
        
        
          
        
        
        
        
        
          
        
        
        
        
        
          
        
        
        
        
        
          
        
        
        
        
        
          
        
        
        
      
      
    
    
    
    
      
    
    
      
      
      
        
      
      
      
      
      
        
      
      
      
      
      
        
      
      
      
      
      
        
      
      
      
      
      
        
      
      
      
      
      
        
      
      
      
      
      
        
      
      
      
      
      
        
      
      
      
      
      
        
      
      
      
      
      
        
      
      
      
      
      
        
      
      
      
      
      
        
      
      
      
      
      
        
        
        
        
      
      
      
      <v-layout class="full-width  prev-next pa-2 mt-4 mb-0" styleZZ="background-color: #7800FF;">
  <v-flex xs6 class="ppurple">
  
  <v-btn class="ml-4" href="/firmwareapi/micropython/ujson/">Previous</v-btn>
  
  </v-flex>
  <v-flex xs6 class="text-xs-right">
  <v-btn class="mr-4 pbgpurple white--text"  href="/firmwareapi/micropython/ure/">Next</v-btn>
    </v-flex>
</v-layout>

      
      
        
      
      
      
      
      
        
      
      
      
      
      
        
      
      
      
      
      
        
      
      
      
      
      
        
      
      
      
      
      
        
      
      
      
      
      
        
      
      
      
      
      
        
      
      
      
    
    
    
    
      
    
    
    
  

  
  
    
  
  
    
    
    
      
    
    
      
      
      
        
      
      
      
      
      
        
      
      
      
      
      
        
      
      
      
      
      
        
      
      
      
      
      
        
      
      
      
      
      
        
      
      
      
      
      
        
      
      
      
    
    
    
    
      
    
    
      
      
      
        
      
      
      
      
      
        
      
      
      
      
      
        
      
      
      
      
      
        
      
      
      
      
      
        
      
      
      
      
      
        
      
      
      
      
      
        
      
      
      
      
      
        
      
      
      
    
    
    
    
      
    
    
      
      
      
        
      
      
      
      
      
        
      
      
      
      
      
        
      
      
      
      
      
        
      
      
      
      
      
        
      
      
      
      
      
        
      
      
      
      
      
        
      
      
      
      
      
        
      
      
      
      
      
        
      
      
      
      
      
        
      
      
      
    
    
    
    
      
    
    
    
    
    
      
    
    
      
      
      
        
      
      
      
      
      
        
      
      
      
    
    
    
    
      
    
    
      
      
      
        
      
      
      
      
      
        
      
      
      
    
    
    
    
      
    
    
    
  

  
  
    
  
  
    
    
    
      
    
    
    
    
    
      
    
    
    
    
    
      
    
    
    
    
    
      
    
    
    
    
    
      
    
    
    
  

  
  
    
  
  
    
    
    
      
    
    
    
    
    
      
    
    
    
    
    
      
    
    
    
    
    
      
    
    
      
      
      
        
      
      
        
        
        
          
        
        
        
      
      
      
      
        
      
      
        
        
        
          
        
        
        
        
        
          
        
        
        
      
      
    
    
    
    
      
    
    
    
    
    
      
    
    
    
    
    
      
    
    
      
      
      
        
      
      
      
    
    
    
    
      
    
    
      
      
      
        
      
      
      
      
      
        
      
      
      
    
    
    
    
      
    
    
      
      
      
        
      
      
      
      
      
        
      
      
      
    
    
    
    
      
    
    
      
      
      
        
      
      
      
      
      
        
      
      
      
      
      
        
      
      
      
      
      
        
      
      
      
    
    
    
    
      
    
    
      
      
      
        
      
      
      
      
      
        
      
      
      
      
      
        
      
      
      
    
    
    
    
      
    
    
      
      
      
        
      
      
      
      
      
        
      
      
      
      
      
        
      
      
      
    
    
  

  
  
    
  
  
    
    
    
      
    
    
      
      
      
        
      
      
      
      
      
        
      
      
      
    
    
    
    
      
    
    
    
    
    
      
    
    
    
  

  
  
    
  
  
    
    
    
      
    
    
    
    
    
      
    
    
    
    
    
      
    
    
    
    
    
      
    
    
    
    
    
      
    
    
    
    
    
      
    
    
    
  

  
  
    
  
  
    
    
    
      
    
    
    
    
    
      
    
    
    
    
    
      
    
    
    
    
    
      
    
    
    
    
    
      
    
    
    
    
    
      
    
    
    
    
    
      
    
    
    
    
    
      
    
    
    
  

  
  
    
  
  
    
    
    
      
    
    
    
    
    
      
    
    
    
    
    
      
    
    
    
    
    
      
    
    
    
    
    
      
    
    
    
    
    
      
    
    
    
  

  
  
    
  
  
    
    
    
      
    
    
    
    
    
      
    
    
    
    
    
      
    
    
    
    
    
      
    
    
    
    
    
      
    
    
    
  

  
  
    
  
  


    <v-spacer/>


          </v-container>
      </v-container>
    </v-content>
 </v-app>

  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vuetify/1.5.13/vuetify.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue-resource/1.5.1/vue-resource.min.js"></script>
  <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/docsearch.js@2/dist/cdn/docsearch.min.js"></script>
  <script>
    var development = false;
    var app = new Vue({
      el: '#app',
      data: {
        page: 1,
        pageCount: 0,
        error: null,
        results: null,
        drawer: true,
        drawer2: true,
        toc: 0,
        branches: [
        { value: 'https://docs.pycom.io', text: 'version stable'},
          { value: 'https://development.pycom.io', text: 'version development'},
          

        ],
        branch: ""
      },
      mounted: function () {
        
        this.branch= this.branches[0]
        for (b in this.branches) {
          if ( document.location.href.indexOf(this.branches[b].value) > -1) {
            this.branch= this.branches[b]
          }
        }
        
        
        if (this.$refs.tocBtn) {
          var elem = this.$refs.tocBtn.$el
          setTimeout(function () {
              elem.click();

          }, 3500);
        }
        var elem2 = document.getElementById("vuetify-theme-stylesheet");
        elem2.parentNode.removeChild(elem2);

      },
      watch: {
        
        branch: function (newb, old) {
          if (newb.value != this.branches[0].value) {
          
          
          
          
          
          
          
          
          
          
          
          
          
          
          
            window.location = newb + window.location.pathname;
          }
        },
      },
    });

    
    docsearch({
      apiKey: 'a99fde9999fbec81c1772eb9ffcca488',
      indexName: 'pycom',
      inputSelector: '.algolia-search-field input',
      debug: false 
    });
  </script>
<script type="text/javascript">
_atrk_opts = { atrk_acct:"WpWNq1SZw320l9", domain:"pycom.io",dynamic: true};
(function() { var as = document.createElement('script'); as.type = 'text/javascript'; as.async = true; as.src = "https://certify-js.alexametrics.com/atrk.js"; var s = document.getElementsByTagName('script')[0];s.parentNode.insertBefore(as, s); })();
</script>
<noscript><img src="https://certify.alexametrics.com/atrk.gif?account=WpWNq1SZw320l9" style="display:none" height="1" width="1" alt="" /></noscript>


<script>
    (function(h,o,t,j,a,r){
        h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
        h._hjSettings={hjid:1216663,hjsv:6};
        a=o.getElementsByTagName('head')[0];
        r=o.createElement('script');r.async=1;
        r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
        a.appendChild(r);
    })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
</script>
<script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

ga('create', 'UA-72107804-3', 'auto');
ga('send', 'pageview');
</script>
</body>
</html>
