<!DOCTYPE html>
<html class="fancyScroll">
<head>
  <meta charset="utf-8">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900|Material+Icons" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
  
  <link href="../../../../css/vuetify.css" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">

  <title>UART </title>
  <meta name="description" content="">

  <script src="../../../../js/smooth-scroll.js"></script>
  <link href="../../../../css/doc-theme.css%3F.css" rel="stylesheet">
  <link rel="icon" href="../../../../favicon.ico">
  
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/docsearch.js@2/dist/cdn/docsearch.min.css" />
</head>
<body>
</script>
<v-app id="app" class=""  v-cloak style="background-color: white;">
   <v-navigation-drawer
  v-model="drawer"
  fixed
  app
  class="lighten-4 pt-0"
  style="overflow-y: hidden; overflow-x: hidden;margin-top:68px;"
>

  <div class="fancyScroll pa-0 ma-0" style="overflow-y: scroll; overflow-x: hidden;
      max-height: 100%;" >

    <v-divider class="mr-2 ml-1 mb-4" style="border: 0"></v-divider>

      <ul class="lefttree">
        <li class="lefttree">
            <a href="../../../../index.html" class="beba" style="color: #1E1E3C; text-decoration: none;" >
              <v-icon style="color: #1E1E3C;">home</v-icon> Introduction</a>
        </li>
      </ul>

    


<ul class="lefttree ">

  
  
  
  
  


    <li class="lefttree ">
      <v-icon style="color: transparent; display: hidden;" >done</v-icon>
      <a href="../../../../gettingstarted/registration/lora/helium_hotspot_registration/index.html" class="">Pycom Helium Miner</a>
    </li>

  

  
  
  
  
  


    <li class="lefttree ">
      <v-icon style="color: transparent; display: hidden;" >done</v-icon>
      <a href="../../../../products/index.html" class="">Pycom Products</a>
    </li>

  

  
  
  
  
  

  
    <li class="lefttree " >
      <v-icon style="color: transparent; display: hidden;" >done</v-icon>
      <a href="../../../../gettingstarted/index.html" class="">  Getting Started</a>
      
      

      

  

  
  
  
  
  

  
    <li class="lefttree " >
      <v-icon style="color: transparent; display: hidden;" >done</v-icon>
      <a href="../../../../tutorials/index.html" class="">  Tutorials &amp; Examples</a>
      
      

      

  

  
  
  
  
  

  
    <li class="lefttree padleft hot" >
      <v-icon style="color: transparent; display: hidden;" >done</v-icon>
      <a href="../../../index.html" class="hot">  Firmware &amp; API Reference</a>
      
      
        


<ul class="lefttree ">

  
  
  
  
  

  
    <li class="lefttree padleft hot" >
      <v-icon style="color: transparent; display: hidden;" >done</v-icon>
      <a href="../../index.html" class="hot">  Pycom Modules</a>
      
      
        


<ul class="lefttree ">

  
  
  
  
  

  
    <li class="lefttree padleft hot" >
      <v-icon style="color: transparent; display: hidden;" >done</v-icon>
      <a href="../index.html" class="hot">  machine</a>
      
      
        


<ul class="lefttree ">

  
  
  
  
  


    <li class="lefttree ">
      <v-icon style="color: transparent; display: hidden;" >done</v-icon>
      <a href="../pygate/index.html" class="">Pygate</a>
    </li>

  

  
  
  
  
  


    <li class="lefttree ">
      <v-icon style="color: transparent; display: hidden;" >done</v-icon>
      <a href="../adc.html" class="">ADC</a>
    </li>

  

  
  
  
  
  


    <li class="lefttree ">
      <v-icon style="color: transparent; display: hidden;" >done</v-icon>
      <a href="../dac/index.html" class="">DAC</a>
    </li>

  

  
  
  
  
  


    <li class="lefttree ">
      <v-icon style="color: transparent; display: hidden;" >done</v-icon>
      <a href="../i2c/index.html" class="">I2C</a>
    </li>

  

  
  
  
  
  


    <li class="lefttree ">
      <v-icon style="color: transparent; display: hidden;" >done</v-icon>
      <a href="../pin.html" class="">Pin</a>
    </li>

  

  
  
  
  
  


    <li class="lefttree ">
      <v-icon style="color: transparent; display: hidden;" >done</v-icon>
      <a href="../pwm/index.html" class="">PWM</a>
    </li>

  

  
  
  
  
  


    <li class="lefttree ">
      <v-icon style="color: transparent; display: hidden;" >done</v-icon>
      <a href="../rtc/index.html" class="">RTC</a>
    </li>

  

  
  
  
  
  


    <li class="lefttree ">
      <v-icon style="color: transparent; display: hidden;" >done</v-icon>
      <a href="../spi/index.html" class="">SPI</a>
    </li>

  

  
  
  
  
  


    <li class="lefttree hot">
      <v-icon style="color: transparent; display: hidden;" >done</v-icon>
      <a href="index.html" class="hot">UART</a>
    </li>

  

  
  
  
  
  


    <li class="lefttree ">
      <v-icon style="color: transparent; display: hidden;" >done</v-icon>
      <a href="../wdt/index.html" class="">WDT</a>
    </li>

  

  
  
  
  
  


    <li class="lefttree ">
      <v-icon style="color: transparent; display: hidden;" >done</v-icon>
      <a href="../timer.html" class="">Timer</a>
    </li>

  

  
  
  
  
  


    <li class="lefttree ">
      <v-icon style="color: transparent; display: hidden;" >done</v-icon>
      <a href="../touch/index.html" class="">Touch</a>
    </li>

  

  
  
  
  
  


    <li class="lefttree ">
      <v-icon style="color: transparent; display: hidden;" >done</v-icon>
      <a href="../sd/index.html" class="">SD</a>
    </li>

  

  
  
  
  
  


    <li class="lefttree ">
      <v-icon style="color: transparent; display: hidden;" >done</v-icon>
      <a href="../can/index.html" class="">CAN</a>
    </li>

  

  
  
  
  
  


    <li class="lefttree ">
      <v-icon style="color: transparent; display: hidden;" >done</v-icon>
      <a href="../rmt.html" class="">RMT</a>
    </li>

  

</ul>

      

      
    </li>
      

  

  
  
  
  
  

  
    <li class="lefttree " >
      <v-icon style="color: transparent; display: hidden;" >done</v-icon>
      <a href="../../network/index.html" class="">  network</a>
      
      

      

  

  
  
  
  
  


    <li class="lefttree ">
      <v-icon style="color: transparent; display: hidden;" >done</v-icon>
      <a href="../../aes.html" class="">AES</a>
    </li>

  

  
  
  
  
  


    <li class="lefttree ">
      <v-icon style="color: transparent; display: hidden;" >done</v-icon>
      <a href="../../pycom.html" class="">Pycom</a>
    </li>

  

  
  
  
  
  

  
    <li class="lefttree " >
      <v-icon style="color: transparent; display: hidden;" >done</v-icon>
      <a href="../../expansionboards/index.html" class="">  Shields</a>
      
      

      

  

</ul>

      

      
    </li>
      

  

  
  
  
  
  

  
    <li class="lefttree " >
      <v-icon style="color: transparent; display: hidden;" >done</v-icon>
      <a href="../../../micropython/index.html" class="">  MicroPython Modules</a>
      
      

      

  

  
  
  
  
  


    <li class="lefttree ">
      <v-icon style="color: transparent; display: hidden;" >done</v-icon>
      <a href="../../../notes.html" class="">Interrupts</a>
    </li>

  

</ul>

      

      
    </li>
      

  

  
  
  
  
  

  
    <li class="lefttree " >
      <v-icon style="color: transparent; display: hidden;" >done</v-icon>
      <a href="../../../../datasheets/index.html" class="">  Product Info, Datasheets</a>
      
      

      

  

  
  
  
  
  

  
    <li class="lefttree " >
      <v-icon style="color: transparent; display: hidden;" >done</v-icon>
      <a href="../../../../updatefirmware/index.html" class="">  Update Firmware</a>
      
      

      

  

  
  
  
  
  

  
    <li class="lefttree " >
      <v-icon style="color: transparent; display: hidden;" >done</v-icon>
      <a href="../../../../pybytes/index.html" class="">  Pybytes</a>
      
      

      

  

  
  
  
  
  

  
    <li class="lefttree " >
      <v-icon style="color: transparent; display: hidden;" >done</v-icon>
      <a href="../../../../cellularservices/index.html" class="">  Cellular Services</a>
      
      

      

  

  
  
  
  
  

  
    <li class="lefttree " >
      <v-icon style="color: transparent; display: hidden;" >done</v-icon>
      <a href="../../../../pylife/index.html" class="">  Pylife</a>
      
      

      

  

  
  
  
  
  

  
    <li class="lefttree " >
      <v-icon style="color: transparent; display: hidden;" >done</v-icon>
      <a href="../../../../pymesh.html" class="">  Pymesh</a>
      
      

      

  

  
  
  
  
  

  
    <li class="lefttree " >
      <v-icon style="color: transparent; display: hidden;" >done</v-icon>
      <a href="../../../../docnotes/index.html" class="">  Micropython Support</a>
      
      

      

  

  
  
  
  
  

  
    <li class="lefttree " >
      <v-icon style="color: transparent; display: hidden;" >done</v-icon>
      <a href="../../../../advance/downgrade.html" class="">  Advanced topics</a>
      
      

      

  

  
  
  
  
  


    <li class="lefttree ">
      <v-icon style="color: transparent; display: hidden;" >done</v-icon>
      <a href="../../../../license/index.html" class="">License</a>
    </li>

  

</ul>


    <v-divider class="grey lighten-1 ma-2 mt-4 mb-4"></v-divider>

    <ul class="lefttree" >Have a question ?
      <li class="lefttree">  <a href="https://forum.pycom.io">Ask on the forum</a>
    </ul>
    <p>&nbsp;</p>
      <p>&nbsp;</p>
  </div>
</v-navigation-drawer>
<v-toolbar
  app
  fixed
  height=68
  class="pr-3 pl-2 navbar"
  dark
  style="background-color: #171730;"
  flat
>
  <v-toolbar-title style="width: 260px; " class="ml-4 pl-0  pt-2 text-xs-center hidden-sm-and-down">
    <v-img class="ml-4"  height=48 width=190  src="/logo.svg" class="">
  </v-toolbar-title>

    <v-btn icon @click.stop="drawer = !drawer" style="z-index: 1200;">
      <v-icon>toc</v-icon>
    </v-btn>
    <span class="beba" style="font-size: 1.6rem; opacity: 0.85;">
        UART
    </span>

  <v-text-field
    style="max-width: 650px"
    class="ml-3 algolia-search-field"
    light
    hide-details
    label="Search the docs..."
    solo
    append-icon="search"
  ></v-text-field>

  <v-spacer></v-spacer>
  
  <div style="width: 240px;">
  <v-select :items="branches" v-model="branch" width=120 class="mono">
  </v-select>
  </div>
  <v-btn icon ref="tocBtn" @click.stop="drawer2 = !drawer2" >
    <v-icon style="color: rgb(23, 255, 189);">more_vert</v-icon>
  </v-btn>
  
</v-toolbar>
<v-content >
      <v-container class="fluid pa-4" style="padding-top: 0 !important;">
          <v-container class="ma-1 pa-1"><v-slide-y-transition>
    <v-card class="menu-contextual" v-if="drawer2" @click.stop="drawer2 = !drawer2">
      <v-card-title class="beba" style="height: 68px; background-color: #1E1E3C; color: #17FFBD">
        What's in this document
        <v-btn icon @click.stop="drawer2 = !drawer2" style="color: #17FFBD; position: absolute; right: 0; top: 4px;;">
          <v-icon>more_vert</v-icon>
        </v-btn>


      </v-card-title>
      <v-card-text class="fancyScroll righttree">
    <nav id="TableOfContents">
  <ul>
    <li class="righttree"><a href="index.html#quick-usage-example">Quick Usage Example</a></li>
    <li class="righttree"><a href="index.html#quick-usage-example-using-non-default-pins-txdrxd-only">Quick Usage Example using non-default pins (TXD/RXD only)</a></li>
    <li class="righttree"><a href="index.html#quick-usage-example-using-non-default-pins-txdrxd-and-flow-control">Quick Usage Example using non-default pins (TXD/RXD and flow control)</a></li>
    <li class="righttree"><a href="index.html#constructors">Constructors</a>
      <ul>
        <li class="righttree"><a href="index.html#class-machineuartbus-">class machine.UART(bus, &hellip;)</a></li>
      </ul>
    </li>
    <li class="righttree"><a href="index.html#methods">Methods</a>
      <ul>
        <li class="righttree"><a href="index.html#uartinitbaudrate9600-bits8-paritynone-stop1-timeout_chars2-pinstxd-rxd-rts-cts-rx_buffer_size4096">uart.init([baudrate=9600, bits=8, parity=None, stop=1, timeout_chars=2, pins=(TXD, RXD, RTS, CTS), rx_buffer_size=4096])</a></li>
        <li class="righttree"><a href="index.html#uartdeinit">uart.deinit()</a></li>
        <li class="righttree"><a href="index.html#uartany">uart.any()</a></li>
        <li class="righttree"><a href="index.html#uartreadnbytes">uart.read([nbytes])</a></li>
        <li class="righttree"><a href="index.html#uartreadintobuf-nbytes">uart.readinto(buf, [nbytes])</a></li>
        <li class="righttree"><a href="index.html#uartreadline">uart.readline()</a></li>
        <li class="righttree"><a href="index.html#uartwritebuf">uart.write(buf)</a></li>
        <li class="righttree"><a href="index.html#uartsendbreak">uart.sendbreak()</a></li>
        <li class="righttree"><a href="index.html#uartwait_tx_donetimeout_ms">uart.wait_tx_done(timeout_ms)</a></li>
      </ul>
    </li>
    <li class="righttree"><a href="index.html#constants">Constants</a></li>
  </ul>
</nav>
      </v-card-text>
    </v-card>
</v-slide-y-transition>





<v-card flat class="DocSearch-content">
  <v-card-text>
    
    








  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
      
        








  
  

  

  
    

      

  
  






  
  

  

  
      
        








  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  


</ul>

    

  






  
  

  

  
      
        








  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  


</ul>

    

  






  
  

  

  
      
        








  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
      
        








  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  


</ul>

    

  


</ul>

    

  


</ul>

    

  






  
  

  

  
      
        








  
  

  

  
      
        








  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  


</ul>

    

  






  
  

  

  
      
        








  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  


</ul>

    

  






  
  

  

  
      
        








  
  

  

  
    

      

  
  






  
  

  

  
      
        








  
  

  

  
    

      

  
  


</ul>

    

  






  
  

  

  
      
        








  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  


</ul>

    

  






  
  

  

  
      
        








  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  


</ul>

    

  






  
  

  

  
      
        








  
  

  

  
    

      

  
  


</ul>

    

  






  
  

  

  
    

      

  
  


</ul>

    

  






  
  

  

  
      
        








  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  


</ul>

    

  






  
  

  

  
      
        








  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  


</ul>

    

  






  
  

  

  
      
        








  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  


</ul>

    

  






  
  

  

  
      
        








  
  

  

  
    

      

  
  


</ul>

    

  


</ul>

    

  






  
  

  

  
      

      <a href="../../../index.html" class="bread hot">  Firmware &amp; API Reference</a>
        >
      
        








  
  

  

  
      

      <a href="../../index.html" class="bread hot">  Pycom Modules</a>
        >
      
        








  
  

  

  
      

      <a href="../index.html" class="bread hot">  machine</a>
        >
      
        








  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      <a href="index.html" class="bread">UART </a>

      

      
      

        

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  


</ul>

    


    

  






  
  

  

  
      
        








  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
      
        








  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  


</ul>

    

  






  
  

  

  
      
        








  
  

  

  
    

      

  
  


</ul>

    

  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  


</ul>

    

  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
      
        








  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  


</ul>

    

  


</ul>

    


    

  






  
  

  

  
      
        








  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  


</ul>

    

  






  
  

  

  
    

      

  
  


</ul>

    


    

  






  
  

  

  
      
        








  
  

  

  
      
        








  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  


</ul>

    

  






  
  

  

  
      
        








  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  


</ul>

    

  






  
  

  

  
      
        








  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  


</ul>

    

  






  
  

  

  
    

      

  
  






  
  

  

  
      
        








  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  


</ul>

    

  






  
  

  

  
      
        








  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  


</ul>

    

  






  
  

  

  
    

      

  
  


</ul>

    

  






  
  

  

  
      
        








  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  


</ul>

    

  






  
  

  

  
      
        








  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
      
        








  
  

  

  
      
        








  
  

  

  
    

      

  
  


</ul>

    

  






  
  

  

  
      
        








  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  


</ul>

    

  


</ul>

    

  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
      
        








  
  

  

  
    

      

  
  


</ul>

    

  






  
  

  

  
      
        








  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  


</ul>

    

  






  
  

  

  
      
        








  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  


</ul>

    

  






  
  

  

  
      
        








  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  


</ul>

    

  






  
  

  

  
      
        








  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  


</ul>

    

  






  
  

  

  
      
        








  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  


</ul>

    

  


</ul>

    

  






  
  

  

  
      
        








  
  

  

  
      
        








  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  


</ul>

    

  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  


</ul>

    

  






  
  

  

  
      
        








  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  


</ul>

    

  






  
  

  

  
      
        








  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  


</ul>

    

  






  
  

  

  
      
        








  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  


</ul>

    

  






  
  

  

  
      
        








  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  


</ul>

    

  






  
  

  

  
    

      

  
  


</ul>

    
    <h1 class="mt-0 pt-0">UART</h1><p>UART implements the standard UART/USART duplex serial communications protocol. At the physical level it consists of 2 lines: RXD and TXD. The unit of communication is a character (not to be confused with a string character) which can be 5, 6, 7 or 8 bits wide.</p>
<p>UART objects can be created and initialised using:</p>
<div class="highlight"><pre style="background-color:#f0f0f0;-moz-tab-size:4;-o-tab-size:4;tab-size:4"><code class="language-python" data-lang="python">
<span style="color:#007020;font-weight:bold">from</span> <span style="color:#0e84b5;font-weight:bold">machine</span> <span style="color:#007020;font-weight:bold">import</span> UART

uart <span style="color:#666">=</span> UART(<span style="color:#40a070">1</span>, <span style="color:#40a070">9600</span>)                         <span style="color:#60a0b0;font-style:italic"># init with given baudrate</span>
uart<span style="color:#666">.</span>init(<span style="color:#40a070">9600</span>, bits<span style="color:#666">=</span><span style="color:#40a070">8</span>, parity<span style="color:#666">=</span>None, stop<span style="color:#666">=</span><span style="color:#40a070">1</span>) <span style="color:#60a0b0;font-style:italic"># init with given parameters</span>
</code></pre></div><p>Bits can be <code>5, 6, 7, 8</code>. Parity can be <code>None</code>, <code>UART.EVEN</code> or <code>UART.ODD</code>. Stop can be <code>1, 1.5 or 2</code>.</p>
<p>A UART object acts like a stream object therefore reading and writing is done using the standard stream methods:</p>
<div class="highlight"><pre style="background-color:#f0f0f0;-moz-tab-size:4;-o-tab-size:4;tab-size:4"><code class="language-python" data-lang="python">
uart<span style="color:#666">.</span>read(<span style="color:#40a070">10</span>)       <span style="color:#60a0b0;font-style:italic"># read 10 characters, returns a bytes object</span>
uart<span style="color:#666">.</span>readline()     <span style="color:#60a0b0;font-style:italic"># read a line</span>
uart<span style="color:#666">.</span>readinto(buf)  <span style="color:#60a0b0;font-style:italic"># read and store into the given buffer</span>
uart<span style="color:#666">.</span>write(<span style="color:#4070a0"></span><span style="color:#4070a0">&#39;</span><span style="color:#4070a0">abc</span><span style="color:#4070a0">&#39;</span>)   <span style="color:#60a0b0;font-style:italic"># write the 3 characters</span>
</code></pre></div><p>To check if there is anything to be read, use:</p>
<div class="highlight"><pre style="background-color:#f0f0f0;-moz-tab-size:4;-o-tab-size:4;tab-size:4"><code class="language-python" data-lang="python">
uart<span style="color:#666">.</span>any()               <span style="color:#60a0b0;font-style:italic"># returns the number of characters available for reading</span>
</code></pre></div><h2 id="quick-usage-example">Quick Usage Example</h2>
<div class="highlight"><pre style="background-color:#f0f0f0;-moz-tab-size:4;-o-tab-size:4;tab-size:4"><code class="language-python" data-lang="python">
<span style="color:#007020;font-weight:bold">from</span> <span style="color:#0e84b5;font-weight:bold">machine</span> <span style="color:#007020;font-weight:bold">import</span> UART
<span style="color:#60a0b0;font-style:italic"># this uses the UART_1 default pins for TXD and RXD (``P3`` and ``P4``)</span>
uart <span style="color:#666">=</span> UART(<span style="color:#40a070">1</span>, baudrate<span style="color:#666">=</span><span style="color:#40a070">9600</span>)
uart<span style="color:#666">.</span>write(<span style="color:#4070a0"></span><span style="color:#4070a0">&#39;</span><span style="color:#4070a0">hello</span><span style="color:#4070a0">&#39;</span>)
uart<span style="color:#666">.</span>read(<span style="color:#40a070">5</span>) <span style="color:#60a0b0;font-style:italic"># read up to 5 bytes</span>
</code></pre></div><h2 id="quick-usage-example-using-non-default-pins-txdrxd-only">Quick Usage Example using non-default pins (TXD/RXD only)</h2>
<div class="highlight"><pre style="background-color:#f0f0f0;-moz-tab-size:4;-o-tab-size:4;tab-size:4"><code class="language-python" data-lang="python">
<span style="color:#007020;font-weight:bold">from</span> <span style="color:#0e84b5;font-weight:bold">machine</span> <span style="color:#007020;font-weight:bold">import</span> UART
<span style="color:#60a0b0;font-style:italic"># this uses the UART_1 non-default pins for TXD and RXD (``P20`` and ``P21``)</span>
uart <span style="color:#666">=</span> UART(<span style="color:#40a070">1</span>, baudrate<span style="color:#666">=</span><span style="color:#40a070">9600</span>, pins<span style="color:#666">=</span>(<span style="color:#4070a0"></span><span style="color:#4070a0">&#39;</span><span style="color:#4070a0">P20</span><span style="color:#4070a0">&#39;</span>,<span style="color:#4070a0"></span><span style="color:#4070a0">&#39;</span><span style="color:#4070a0">P21</span><span style="color:#4070a0">&#39;</span>))
uart<span style="color:#666">.</span>write(<span style="color:#4070a0"></span><span style="color:#4070a0">&#39;</span><span style="color:#4070a0">hello</span><span style="color:#4070a0">&#39;</span>)
uart<span style="color:#666">.</span>read(<span style="color:#40a070">5</span>) <span style="color:#60a0b0;font-style:italic"># read up to 5 bytes</span>
</code></pre></div><h2 id="quick-usage-example-using-non-default-pins-txdrxd-and-flow-control">Quick Usage Example using non-default pins (TXD/RXD and flow control)</h2>
<div class="highlight"><pre style="background-color:#f0f0f0;-moz-tab-size:4;-o-tab-size:4;tab-size:4"><code class="language-python" data-lang="python">
<span style="color:#007020;font-weight:bold">from</span> <span style="color:#0e84b5;font-weight:bold">machine</span> <span style="color:#007020;font-weight:bold">import</span> UART
<span style="color:#60a0b0;font-style:italic"># this uses the UART_1 non-default pins for TXD, RXD, RTS and CTS (``P20``, ``P21``, ``P22``and ``P23``)</span>
uart <span style="color:#666">=</span> UART(<span style="color:#40a070">1</span>, baudrate<span style="color:#666">=</span><span style="color:#40a070">9600</span>, pins<span style="color:#666">=</span>(<span style="color:#4070a0"></span><span style="color:#4070a0">&#39;</span><span style="color:#4070a0">P20</span><span style="color:#4070a0">&#39;</span>, <span style="color:#4070a0"></span><span style="color:#4070a0">&#39;</span><span style="color:#4070a0">P21</span><span style="color:#4070a0">&#39;</span>, <span style="color:#4070a0"></span><span style="color:#4070a0">&#39;</span><span style="color:#4070a0">P22</span><span style="color:#4070a0">&#39;</span>, <span style="color:#4070a0"></span><span style="color:#4070a0">&#39;</span><span style="color:#4070a0">P23</span><span style="color:#4070a0">&#39;</span>))
uart<span style="color:#666">.</span>write(<span style="color:#4070a0"></span><span style="color:#4070a0">&#39;</span><span style="color:#4070a0">hello</span><span style="color:#4070a0">&#39;</span>)
uart<span style="color:#666">.</span>read(<span style="color:#40a070">5</span>) <span style="color:#60a0b0;font-style:italic"># read up to 5 bytes</span>
</code></pre></div><h2 id="constructors">Constructors</h2>
<h3 id="class-machineuartbus-">class machine.UART(bus, &hellip;)</h3>
<p>Construct a UART object on the given <code>bus</code>. <code>bus</code> can be <code>0, 1 or 2</code>. If the <code>bus</code> is not given, the default one will be selected (<code>0</code>) or the selection will be made based on the given pins.</p>
<blockquote>
<p>On the GPy/FiPy UART2 is unavailable because it is used to communicate with the cellular radio.</p>
</blockquote>
<h2 id="methods">Methods</h2>
<h3 id="uartinitbaudrate9600-bits8-paritynone-stop1-timeout_chars2-pinstxd-rxd-rts-cts-rx_buffer_size4096">uart.init([baudrate=9600, bits=8, parity=None, stop=1, timeout_chars=2, pins=(TXD, RXD, RTS, CTS), rx_buffer_size=4096])</h3>
<p>Initialise the UART bus with the given parameters:</p>
<ul>
<li><code>baudrate</code> is the clock rate.</li>
<li><code>bits</code> is the number of bits per character. Can be <code>5, 6, 7 or 8</code>.</li>
<li><code>parity</code> is the parity, <code>None</code>, UART.EVEN or UART.ODD.</li>
<li><code>stop</code> is the number of stop bits, <code>1 or 2</code>.</li>
<li><code>timeout_chars</code> Rx timeout defined in number of characters. The value given here will be multiplied by the time a characters takes to be transmitted at the configured <code>baudrate</code>. The maximum value is 255</li>
<li><code>pins</code> is a 4 or 2 item list indicating the TXD, RXD, RTS and CTS pins (in that order). Any of the pins can be <code>None</code> if one wants the UART to operate with limited functionality. If the RTS pin is given the the RX pin must be given as well. The same applies to CTS. When no pins are given, then the default set of TXD (P1) and RXD (P0) pins is taken, and hardware flow control will be disabled. If <code>pins=None</code>, no pin assignment will be made.</li>
<li><code>rx_buffer_size</code> is the size of the buffer used for storing the RX packets. By default is is 4096 bytes (characters). The minimum buffer size is 128 bytes.</li>
</ul>
<h3 id="uartdeinit">uart.deinit()</h3>
<p>Turn off the UART bus.</p>
<h3 id="uartany">uart.any()</h3>
<p>Return the number of characters available for reading.</p>
<h3 id="uartreadnbytes">uart.read([nbytes])</h3>
<p>Read characters. If <code>nbytes</code> is specified then read at most that many bytes. If not specified, it will read all bytes in the buffer.</p>
<p>Return value: a bytes object containing the bytes read in. Returns <code>None</code> on timeout.</p>
<h3 id="uartreadintobuf-nbytes">uart.readinto(buf, [nbytes])</h3>
<p>Read bytes into the <code>buf</code>. If <code>nbytes</code> is specified then read at most that many bytes. Otherwise, read at most <code>len(buf)</code> bytes.</p>
<p>Return value: number of bytes read and stored into <code>buf</code> or <code>None</code> on timeout.</p>
<h3 id="uartreadline">uart.readline()</h3>
<p>Read a line, ending in a newline character. If such a line exists, return is immediate. If the timeout elapses, all available data is returned regardless of whether a newline exists.</p>
<p>Return value: the line read or <code>None</code> on timeout if no data is available.</p>
<h3 id="uartwritebuf">uart.write(buf)</h3>
<p>Write the buffer of bytes to the bus.</p>
<p>Return value: number of bytes written or None on timeout.</p>
<h3 id="uartsendbreak">uart.sendbreak()</h3>
<p>Send a break condition on the bus. This drives the bus low for a duration of 13 bits. Return value: <code>None</code>.</p>
<h3 id="uartwait_tx_donetimeout_ms">uart.wait_tx_done(timeout_ms)</h3>
<p>Waits at most <code>timeout_ms</code> for the last Tx transaction to complete. Returns <code>True</code> if all data has been sent and the TX buffer has no data in it, otherwise returns <code>False</code>.</p>
<h2 id="constants">Constants</h2>
<ul>
<li>Parity types (along with <code>None</code>): <code>UART.EVEN</code>, <code>UART.ODD</code></li>
<li>IRQ trigger sources: <code>UART.RX_ANY</code></li>
</ul>
</v-card-text>
</v-card>
    <p>&nbsp;</p>
    






  
  
    
  
  

  
  
    
  
  

  
  
    
  
  
    
    
    
      
    
    
    
    
    
      
    
    
      
      
      
        
      
      
      
      
      
        
      
      
      
      
      
        
      
      
      
    
    
    
    
      
    
    
      
      
      
        
      
      
      
      
      
        
      
      
      
      
      
        
      
      
      
    
    
    
    
      
    
    
      
      
      
        
      
      
      
      
      
        
      
      
      
      
      
        
      
      
        
        
        
          
        
        
        
        
        
          
        
        
        
        
        
          
        
        
        
        
        
          
        
        
        
        
        
          
        
        
        
      
      
    
    
  

  
  
    
  
  
    
    
    
      
    
    
      
      
      
        
      
      
      
      
      
        
      
      
      
      
      
        
      
      
      
      
      
        
      
      
      
      
      
        
      
      
      
    
    
    
    
      
    
    
      
      
      
        
      
      
      
      
      
        
      
      
      
      
      
        
      
      
      
      
      
        
      
      
      
      
      
        
      
      
      
      
      
        
      
      
      
      
      
        
      
      
      
      
      
        
      
      
      
    
    
    
    
      
    
    
      
      
      
        
      
      
      
      
      
        
      
      
        
        
        
          
        
        
        
      
      
      
      
        
      
      
        
        
        
          
        
        
        
        
        
          
        
        
        
        
        
          
        
        
        
      
      
      
      
        
      
      
        
        
        
          
        
        
        
        
        
          
        
        
        
        
        
          
        
        
        
        
        
          
        
        
        
        
        
          
        
        
        
        
        
          
        
        
        
        
        
          
        
        
        
      
      
      
      
        
      
      
        
        
        
          
        
        
        
      
      
      
      
        
      
      
      
    
    
    
    
      
    
    
      
      
      
        
      
      
      
      
      
        
      
      
      
      
      
        
      
      
      
      
      
        
      
      
      
      
      
        
      
      
      
      
      
        
      
      
      
      
      
        
      
      
      
      
      
        
      
      
      
      
      
        
      
      
      
      
      
        
      
      
      
    
    
    
    
      
    
    
      
      
      
        
      
      
      
      
      
        
      
      
      
      
      
        
      
      
      
      
      
        
      
      
      
      
      
        
      
      
      
      
      
        
      
      
      
    
    
    
    
      
    
    
      
      
      
        
      
      
      
      
      
        
      
      
      
    
    
    
    
      
    
    
      
      
      
        
      
      
      
    
    
  

  
  
    
  
  
    
    
    
      
    
    
      
      
      
        
      
      
        
        
        
          
        
        
        
        
        
          
        
        
        
        
        
          
        
        
        
        
        
          
        
        
        
        
        
          
        
        
        
        
        
          
        
        
        
        
        
          
        
        
        
        
        
          
        
        
        
        
        
          
          
          
          
        
        
        
      <v-layout class="full-width  prev-next pa-2 mt-4 mb-0" styleZZ="background-color: #7800FF;">
  <v-flex xs6 class="ppurple">
  
  <v-btn class="ml-4" href="/firmwareapi/pycom/machine/spi/">Previous</v-btn>
  
  </v-flex>
  <v-flex xs6 class="text-xs-right">
  <v-btn class="mr-4 pbgpurple white--text"  href="/firmwareapi/pycom/machine/wdt/">Next</v-btn>
    </v-flex>
</v-layout>

        
        
          
        
        
        
        
        
          
        
        
        
        
        
          
        
        
        
        
        
          
        
        
        
        
        
          
        
        
        
        
        
          
        
        
        
      
      
      
      
        
      
      
        
        
        
          
        
        
        
        
        
          
        
        
        
        
        
          
        
        
        
        
        
          
        
        
        
          
          
          
            
          
          
          
          
            
          
          
          
          
            
          
          
          
          
            
          
          
          
          
            
          
          
          
          
            
          
          
          
          
            
          
          
        
        
        
          
        
        
        
          
          
          
            
          
          
        
        
        
          
        
        
        
        
        
          
        
        
        
        
        
          
        
        
        
        
        
          
        
        
        
      
      
      
      
        
      
      
      
      
      
        
      
      
      
      
      
        
      
      
        
        
        
          
        
        
        
        
        
          
        
        
        
        
        
          
        
        
        
        
        
          
        
        
        
        
        
          
        
        
        
        
        
          
        
        
        
        
        
          
        
        
        
        
        
          
        
        
        
      
      
    
    
    
    
      
    
    
      
      
      
        
      
      
      
      
      
        
      
      
      
      
      
        
      
      
      
      
      
        
      
      
      
      
      
        
      
      
      
      
      
        
      
      
      
      
      
        
      
      
      
      
      
        
      
      
      
      
      
        
      
      
      
      
      
        
      
      
      
      
      
        
      
      
      
      
      
        
      
      
      
      
      
        
      
      
      
      
      
        
      
      
      
      
      
        
      
      
      
      
      
        
      
      
      
      
      
        
      
      
      
      
      
        
      
      
      
      
      
        
      
      
      
      
      
        
      
      
      
      
      
        
      
      
      
    
    
    
    
      
    
    
    
  

  
  
    
  
  
    
    
    
      
    
    
      
      
      
        
      
      
      
      
      
        
      
      
      
      
      
        
      
      
      
      
      
        
      
      
      
      
      
        
      
      
      
      
      
        
      
      
      
      
      
        
      
      
      
    
    
    
    
      
    
    
      
      
      
        
      
      
      
      
      
        
      
      
      
      
      
        
      
      
      
      
      
        
      
      
      
      
      
        
      
      
      
      
      
        
      
      
      
      
      
        
      
      
      
      
      
        
      
      
      
    
    
    
    
      
    
    
      
      
      
        
      
      
      
      
      
        
      
      
      
      
      
        
      
      
      
      
      
        
      
      
      
      
      
        
      
      
      
      
      
        
      
      
      
      
      
        
      
      
      
      
      
        
      
      
      
      
      
        
      
      
      
      
      
        
      
      
      
    
    
    
    
      
    
    
    
    
    
      
    
    
      
      
      
        
      
      
      
      
      
        
      
      
      
    
    
    
    
      
    
    
      
      
      
        
      
      
      
      
      
        
      
      
      
    
    
    
    
      
    
    
    
  

  
  
    
  
  
    
    
    
      
    
    
    
    
    
      
    
    
    
    
    
      
    
    
    
    
    
      
    
    
    
    
    
      
    
    
    
  

  
  
    
  
  
    
    
    
      
    
    
    
    
    
      
    
    
    
    
    
      
    
    
    
    
    
      
    
    
      
      
      
        
      
      
        
        
        
          
        
        
        
      
      
      
      
        
      
      
        
        
        
          
        
        
        
        
        
          
        
        
        
      
      
    
    
    
    
      
    
    
    
    
    
      
    
    
    
    
    
      
    
    
      
      
      
        
      
      
      
    
    
    
    
      
    
    
      
      
      
        
      
      
      
      
      
        
      
      
      
    
    
    
    
      
    
    
      
      
      
        
      
      
      
      
      
        
      
      
      
    
    
    
    
      
    
    
      
      
      
        
      
      
      
      
      
        
      
      
      
      
      
        
      
      
      
      
      
        
      
      
      
    
    
    
    
      
    
    
      
      
      
        
      
      
      
      
      
        
      
      
      
      
      
        
      
      
      
    
    
    
    
      
    
    
      
      
      
        
      
      
      
      
      
        
      
      
      
      
      
        
      
      
      
    
    
  

  
  
    
  
  
    
    
    
      
    
    
      
      
      
        
      
      
      
      
      
        
      
      
      
    
    
    
    
      
    
    
    
    
    
      
    
    
    
  

  
  
    
  
  
    
    
    
      
    
    
    
    
    
      
    
    
    
    
    
      
    
    
    
    
    
      
    
    
    
    
    
      
    
    
    
    
    
      
    
    
    
  

  
  
    
  
  
    
    
    
      
    
    
    
    
    
      
    
    
    
    
    
      
    
    
    
    
    
      
    
    
    
    
    
      
    
    
    
    
    
      
    
    
    
    
    
      
    
    
    
    
    
      
    
    
    
  

  
  
    
  
  
    
    
    
      
    
    
    
    
    
      
    
    
    
    
    
      
    
    
    
    
    
      
    
    
    
    
    
      
    
    
    
    
    
      
    
    
    
  

  
  
    
  
  
    
    
    
      
    
    
    
    
    
      
    
    
    
    
    
      
    
    
    
    
    
      
    
    
    
    
    
      
    
    
    
  

  
  
    
  
  


    <v-spacer/>


          </v-container>
      </v-container>
    </v-content>
 </v-app>

  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vuetify/1.5.13/vuetify.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue-resource/1.5.1/vue-resource.min.js"></script>
  <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/docsearch.js@2/dist/cdn/docsearch.min.js"></script>
  <script>
    var development = false;
    var app = new Vue({
      el: '#app',
      data: {
        page: 1,
        pageCount: 0,
        error: null,
        results: null,
        drawer: true,
        drawer2: true,
        toc: 0,
        branches: [
        { value: 'https://docs.pycom.io', text: 'version stable'},
          { value: 'https://development.pycom.io', text: 'version development'},
          

        ],
        branch: ""
      },
      mounted: function () {
        
        this.branch= this.branches[0]
        for (b in this.branches) {
          if ( document.location.href.indexOf(this.branches[b].value) > -1) {
            this.branch= this.branches[b]
          }
        }
        
        
        if (this.$refs.tocBtn) {
          var elem = this.$refs.tocBtn.$el
          setTimeout(function () {
              elem.click();

          }, 3500);
        }
        var elem2 = document.getElementById("vuetify-theme-stylesheet");
        elem2.parentNode.removeChild(elem2);

      },
      watch: {
        
        branch: function (newb, old) {
          if (newb.value != this.branches[0].value) {
          
          
          
          
          
          
          
          
          
          
          
          
          
          
          
            window.location = newb + window.location.pathname;
          }
        },
      },
    });

    
    docsearch({
      apiKey: 'a99fde9999fbec81c1772eb9ffcca488',
      indexName: 'pycom',
      inputSelector: '.algolia-search-field input',
      debug: false 
    });
  </script>
<script type="text/javascript">
_atrk_opts = { atrk_acct:"WpWNq1SZw320l9", domain:"pycom.io",dynamic: true};
(function() { var as = document.createElement('script'); as.type = 'text/javascript'; as.async = true; as.src = "https://certify-js.alexametrics.com/atrk.js"; var s = document.getElementsByTagName('script')[0];s.parentNode.insertBefore(as, s); })();
</script>
<noscript><img src="https://certify.alexametrics.com/atrk.gif?account=WpWNq1SZw320l9" style="display:none" height="1" width="1" alt="" /></noscript>


<script>
    (function(h,o,t,j,a,r){
        h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
        h._hjSettings={hjid:1216663,hjsv:6};
        a=o.getElementsByTagName('head')[0];
        r=o.createElement('script');r.async=1;
        r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
        a.appendChild(r);
    })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
</script>
<script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

ga('create', 'UA-72107804-3', 'auto');
ga('send', 'pageview');
</script>
</body>
</html>
