<!DOCTYPE html>
<html class="fancyScroll">
<head>
  <meta charset="utf-8">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900|Material+Icons" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
  
  <link href="../../css/vuetify.css" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">

  <title>Updating Expansion Board Firmware  </title>
  <meta name="description" content="">

  <script src="../../js/smooth-scroll.js"></script>
  <link href="../../css/doc-theme.css%3F.css" rel="stylesheet">
  <link rel="icon" href="../../favicon.ico">
  
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/docsearch.js@2/dist/cdn/docsearch.min.css" />
</head>
<body>
</script>
<v-app id="app" class=""  v-cloak style="background-color: white;">
   <v-navigation-drawer
  v-model="drawer"
  fixed
  app
  class="lighten-4 pt-0"
  style="overflow-y: hidden; overflow-x: hidden;margin-top:68px;"
>

  <div class="fancyScroll pa-0 ma-0" style="overflow-y: scroll; overflow-x: hidden;
      max-height: 100%;" >

    <v-divider class="mr-2 ml-1 mb-4" style="border: 0"></v-divider>

      <ul class="lefttree">
        <li class="lefttree">
            <a href="../../index.html" class="beba" style="color: #1E1E3C; text-decoration: none;" >
              <v-icon style="color: #1E1E3C;">home</v-icon> Introduction</a>
        </li>
      </ul>

    


<ul class="lefttree ">

  
  
  
  
  


    <li class="lefttree ">
      <v-icon style="color: transparent; display: hidden;" >done</v-icon>
      <a href="../../gettingstarted/registration/lora/helium_hotspot_registration/index.html" class="">Pycom Helium Miner</a>
    </li>

  

  
  
  
  
  


    <li class="lefttree ">
      <v-icon style="color: transparent; display: hidden;" >done</v-icon>
      <a href="../../products/index.html" class="">Pycom Products</a>
    </li>

  

  
  
  
  
  

  
    <li class="lefttree " >
      <v-icon style="color: transparent; display: hidden;" >done</v-icon>
      <a href="../../gettingstarted/index.html" class="">  Getting Started</a>
      
      

      

  

  
  
  
  
  

  
    <li class="lefttree " >
      <v-icon style="color: transparent; display: hidden;" >done</v-icon>
      <a href="../../tutorials/index.html" class="">  Tutorials &amp; Examples</a>
      
      

      

  

  
  
  
  
  

  
    <li class="lefttree " >
      <v-icon style="color: transparent; display: hidden;" >done</v-icon>
      <a href="../../firmwareapi/index.html" class="">  Firmware &amp; API Reference</a>
      
      

      

  

  
  
  
  
  

  
    <li class="lefttree " >
      <v-icon style="color: transparent; display: hidden;" >done</v-icon>
      <a href="../../datasheets/index.html" class="">  Product Info, Datasheets</a>
      
      

      

  

  
  
  
  
  

  
    <li class="lefttree padleft hot" >
      <v-icon style="color: transparent; display: hidden;" >done</v-icon>
      <a href="../index.html" class="hot">  Update Firmware</a>
      
      
        


<ul class="lefttree ">

  
  
  
  
  


    <li class="lefttree ">
      <v-icon style="color: transparent; display: hidden;" >done</v-icon>
      <a href="../device/index.html" class="">Device</a>
    </li>

  

  
  
  
  
  


    <li class="lefttree ">
      <v-icon style="color: transparent; display: hidden;" >done</v-icon>
      <a href="../ota.html" class="">Device (OTA)</a>
    </li>

  

  
  
  
  
  


    <li class="lefttree ">
      <v-icon style="color: transparent; display: hidden;" >done</v-icon>
      <a href="../diff_ota/index.html" class="">Device (Differential OTA)</a>
    </li>

  

  
  
  
  
  


    <li class="lefttree hot">
      <v-icon style="color: transparent; display: hidden;" >done</v-icon>
      <a href="index.html" class="hot">Expansion Board</a>
    </li>

  

  
  
  
  
  


    <li class="lefttree ">
      <v-icon style="color: transparent; display: hidden;" >done</v-icon>
      <a href="../ltemodem/index.html" class="">LTE Modem</a>
    </li>

  

</ul>

      

      
    </li>
      

  

  
  
  
  
  

  
    <li class="lefttree " >
      <v-icon style="color: transparent; display: hidden;" >done</v-icon>
      <a href="../../pybytes/index.html" class="">  Pybytes</a>
      
      

      

  

  
  
  
  
  

  
    <li class="lefttree " >
      <v-icon style="color: transparent; display: hidden;" >done</v-icon>
      <a href="../../cellularservices/index.html" class="">  Cellular Services</a>
      
      

      

  

  
  
  
  
  

  
    <li class="lefttree " >
      <v-icon style="color: transparent; display: hidden;" >done</v-icon>
      <a href="../../pylife/index.html" class="">  Pylife</a>
      
      

      

  

  
  
  
  
  

  
    <li class="lefttree " >
      <v-icon style="color: transparent; display: hidden;" >done</v-icon>
      <a href="../../pymesh.html" class="">  Pymesh</a>
      
      

      

  

  
  
  
  
  

  
    <li class="lefttree " >
      <v-icon style="color: transparent; display: hidden;" >done</v-icon>
      <a href="../../docnotes/index.html" class="">  Micropython Support</a>
      
      

      

  

  
  
  
  
  

  
    <li class="lefttree " >
      <v-icon style="color: transparent; display: hidden;" >done</v-icon>
      <a href="../../advance/downgrade.html" class="">  Advanced topics</a>
      
      

      

  

  
  
  
  
  


    <li class="lefttree ">
      <v-icon style="color: transparent; display: hidden;" >done</v-icon>
      <a href="../../license/index.html" class="">License</a>
    </li>

  

</ul>


    <v-divider class="grey lighten-1 ma-2 mt-4 mb-4"></v-divider>

    <ul class="lefttree" >Have a question ?
      <li class="lefttree">  <a href="https://forum.pycom.io">Ask on the forum</a>
    </ul>
    <p>&nbsp;</p>
      <p>&nbsp;</p>
  </div>
</v-navigation-drawer>
<v-toolbar
  app
  fixed
  height=68
  class="pr-3 pl-2 navbar"
  dark
  style="background-color: #171730;"
  flat
>
  <v-toolbar-title style="width: 260px; " class="ml-4 pl-0  pt-2 text-xs-center hidden-sm-and-down">
    <v-img class="ml-4"  height=48 width=190  src="/logo.svg" class="">
  </v-toolbar-title>

    <v-btn icon @click.stop="drawer = !drawer" style="z-index: 1200;">
      <v-icon>toc</v-icon>
    </v-btn>
    <span class="beba" style="font-size: 1.6rem; opacity: 0.85;">
        Updating Expansion Board Firmware 
    </span>

  <v-text-field
    style="max-width: 650px"
    class="ml-3 algolia-search-field"
    light
    hide-details
    label="Search the docs..."
    solo
    append-icon="search"
  ></v-text-field>

  <v-spacer></v-spacer>
  <v-btn icon ref="tocBtn" @click.stop="drawer2 = !drawer2" >
    <v-icon style="color: rgb(23, 255, 189);">more_vert</v-icon>
  </v-btn>
  
</v-toolbar>
<v-content >
      <v-container class="fluid pa-4" style="padding-top: 0 !important;">
          <v-container class="ma-1 pa-1"><v-slide-y-transition>
    <v-card class="menu-contextual" v-if="drawer2" @click.stop="drawer2 = !drawer2">
      <v-card-title class="beba" style="height: 68px; background-color: #1E1E3C; color: #17FFBD">
        What's in this document
        <v-btn icon @click.stop="drawer2 = !drawer2" style="color: #17FFBD; position: absolute; right: 0; top: 4px;;">
          <v-icon>more_vert</v-icon>
        </v-btn>


      </v-card-title>
      <v-card-text class="fancyScroll righttree">
    <nav id="TableOfContents">
  <ul>
    <li class="righttree"><a href="index.html#product-id">Product ID</a></li>
    <li class="righttree"><a href="index.html#installing-dfu-util">Installing DFU-Util</a></li>
    <li class="righttree"><a href="index.html#using-dfu-util">Using DFU-util</a>
      <ul>
        <li class="righttree"><a href="index.html#debugging">Debugging</a></li>
      </ul>
    </li>
  </ul>
</nav>
      </v-card-text>
    </v-card>
</v-slide-y-transition>





<v-card flat class="DocSearch-content">
  <v-card-text>
    
    








  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
      
        








  
  

  

  
    

      

  
  






  
  

  

  
      
        








  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  


</ul>

    

  






  
  

  

  
      
        








  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  


</ul>

    

  






  
  

  

  
      
        








  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
      
        








  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  


</ul>

    

  


</ul>

    

  


</ul>

    

  






  
  

  

  
      
        








  
  

  

  
      
        








  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  


</ul>

    

  






  
  

  

  
      
        








  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  


</ul>

    

  






  
  

  

  
      
        








  
  

  

  
    

      

  
  






  
  

  

  
      
        








  
  

  

  
    

      

  
  


</ul>

    

  






  
  

  

  
      
        








  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  


</ul>

    

  






  
  

  

  
      
        








  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  


</ul>

    

  






  
  

  

  
      
        








  
  

  

  
    

      

  
  


</ul>

    

  






  
  

  

  
    

      

  
  


</ul>

    

  






  
  

  

  
      
        








  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  


</ul>

    

  






  
  

  

  
      
        








  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  


</ul>

    

  






  
  

  

  
      
        








  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  


</ul>

    

  






  
  

  

  
      
        








  
  

  

  
    

      

  
  


</ul>

    

  


</ul>

    

  






  
  

  

  
      
        








  
  

  

  
      
        








  
  

  

  
      
        








  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  


</ul>

    

  






  
  

  

  
      
        








  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
      
        








  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  


</ul>

    

  






  
  

  

  
      
        








  
  

  

  
    

      

  
  


</ul>

    

  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  


</ul>

    

  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
      
        








  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  


</ul>

    

  


</ul>

    

  






  
  

  

  
      
        








  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  


</ul>

    

  






  
  

  

  
    

      

  
  


</ul>

    

  






  
  

  

  
      
        








  
  

  

  
      
        








  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  


</ul>

    

  






  
  

  

  
      
        








  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  


</ul>

    

  






  
  

  

  
      
        








  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  


</ul>

    

  






  
  

  

  
    

      

  
  






  
  

  

  
      
        








  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  


</ul>

    

  






  
  

  

  
      
        








  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  


</ul>

    

  






  
  

  

  
    

      

  
  


</ul>

    

  






  
  

  

  
      

      <a href="../index.html" class="bread hot">  Update Firmware</a>
        >
      
        








  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      <a href="index.html" class="bread">Expansion Board </a>

      

      
      

        

  
  






  
  

  

  
    

      

  
  


</ul>

    


    

  






  
  

  

  
      
        








  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
      
        








  
  

  

  
      
        








  
  

  

  
    

      

  
  


</ul>

    

  






  
  

  

  
      
        








  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  


</ul>

    

  


</ul>

    

  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
      
        








  
  

  

  
    

      

  
  


</ul>

    

  






  
  

  

  
      
        








  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  


</ul>

    

  






  
  

  

  
      
        








  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  


</ul>

    

  






  
  

  

  
      
        








  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  


</ul>

    

  






  
  

  

  
      
        








  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  


</ul>

    

  






  
  

  

  
      
        








  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  


</ul>

    

  


</ul>

    

  






  
  

  

  
      
        








  
  

  

  
      
        








  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  


</ul>

    

  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  


</ul>

    

  






  
  

  

  
      
        








  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  


</ul>

    

  






  
  

  

  
      
        








  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  


</ul>

    

  






  
  

  

  
      
        








  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  


</ul>

    

  






  
  

  

  
      
        








  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  






  
  

  

  
    

      

  
  


</ul>

    

  






  
  

  

  
    

      

  
  


</ul>

    
    <h1 class="mt-0 pt-0">Updating Expansion Board Firmware </h1><p>To update the firmware on any of the expansionboards, please see the following instructions. The firmware of can be updated via the USB port using the terminal tool, <code>DFU-util</code>.</p>
<p>The latest firmware DFU file can be downloaded from the links below:</p>
<ul>
<li><a href="https://software.pycom.io/findupgrade?key=pygate.dfu&amp;type=all&amp;redirect=true">Pygate</a></li>
<li><a href="https://software.pycom.io/findupgrade?key=pytrack.dfu&amp;type=all&amp;redirect=true">Pytrack 1 DFU</a></li>
<li><a href="https://software.pycom.io/findupgrade?key=pysense.dfu&amp;type=all&amp;redirect=true">Pysense 1 DFU</a></li>
<li><a href="https://software.pycom.io/findupgrade?key=pytrack2.dfu&amp;type=all&amp;redirect=true">Pytrack 2 DFU</a></li>
<li><a href="https://software.pycom.io/findupgrade?key=pysense2.dfu&amp;type=all&amp;redirect=true">Pysense 2 DFU</a></li>
<li><a href="https://software.pycom.io/findupgrade?key=expansion3.dfu&amp;type=all&amp;redirect=true">Expansion Board DFU v3.0</a></li>
<li><a href="https://software.pycom.io/findupgrade?key=expansion31.dfu&amp;type=all&amp;redirect=true">Expansion Board DFU v3.1</a></li>
</ul>
<blockquote>
<p>Make sure to choose the correct firmware version for your expansion board. both 3.0 and 3.1 versions have version numbers in the silkscreen on the back of the board. See the image below for examples highlighted in Red
<img src="../../gitbook/assets/expansion_board_version.png" alt=""></p>
</blockquote>
<h2 id="product-id">Product ID</h2>
<p>In normal operation, the expansionboard is in Application mode. However when we want to update the firmware, we should put the board in DFU (Device Firmware Upgrade) mode. This is a special mode that allows us to alter the firmware of the device. Entering DFU mode changes the Product ID of the device, such that we will never accidentally update the firmware. To actually upgrade the firmware, we need to install the DFU-Util tool. Below, the USB Product ID is depicted for each case. You can check the Product ID for your board using <code>lsusb</code> on macOS and Linux, and checkin the device manager in Windows:</p>
<table>
<thead>
<tr>
<th align="left">Board</th>
<th align="left">DFU bootloader (update mode)</th>
<th align="left">Application firmware (normal mode)</th>
</tr>
</thead>
<tbody>
<tr>
<td align="left">Pygate</td>
<td align="left"><code>0xED15</code></td>
<td align="left"><code>0xED14</code></td>
</tr>
<tr>
<td align="left">Pytrack</td>
<td align="left"><code>0xF014</code></td>
<td align="left"><code>0xF013</code></td>
</tr>
<tr>
<td align="left">Pysense</td>
<td align="left"><code>0xF011</code></td>
<td align="left"><code>0xF012</code></td>
</tr>
<tr>
<td align="left">Pyscan</td>
<td align="left"><code>0xEF37</code></td>
<td align="left"><code>0xEF38</code></td>
</tr>
<tr>
<td align="left">Expansion Board v3</td>
<td align="left"><code>0xEF99</code></td>
<td align="left"><code>0xEF98</code></td>
</tr>
</tbody>
</table>
<p><em>Note: USB Vendor ID is always</em> <code>0x04D8</code></p>
<h2 id="installing-dfu-util">Installing DFU-Util</h2>
<ul>
<li>
<p>MacOS</p>
<ul>
<li>If using <code>homebrew</code>:</li>
</ul>
<div class="highlight"><pre style="background-color:#f0f0f0;-moz-tab-size:4;-o-tab-size:4;tab-size:4"><code class="language-bash" data-lang="bash">$ brew install dfu-util
</code></pre></div><ul>
<li>If using <code>MacPorts</code>:</li>
</ul>
<div class="highlight"><pre style="background-color:#f0f0f0;-moz-tab-size:4;-o-tab-size:4;tab-size:4"><code class="language-bash" data-lang="bash">port install libusb dfu-util
</code></pre></div></li>
<li>
<p>Linux</p>
<div class="highlight"><pre style="background-color:#f0f0f0;-moz-tab-size:4;-o-tab-size:4;tab-size:4"><code class="language-bash" data-lang="bash">$ sudo apt-get install dfu-util
</code></pre></div></li>
<li>
<p>Windows</p>
<p>Download and install <a href="http://dfu-util.sourceforge.net/releases/dfu-util-0.9-win64.zip">DFU-util v0.9</a></p>
<p>For Windows, we will need to install separate drivers for the board to recognized as a Pycom board in DFU mode.</p>
<ol>
<li>Disconnect the USB cable to your expansion board</li>
<li>Hold down the DFU mode button on the shield</li>
</ol>
<ul>
<li><a href="http://zadig.akeo.ie/">Zadig</a> – Installer tool for the Pytrack/Pysense board DFU Firmware</li>
</ul>
<p>To install the drivers, the board must be in DFU-mode:</p>
<ol>
<li>Disconnect the USB cable</li>
<li>Remove the development module from the expansionboard.</li>
<li>Hold down the button on the shield</li>
<li>Connect the USB cable</li>
<li>Keep the button pressed for at least one second</li>
<li>Release the button. When the board is connected in DFU-mode, it will be in this state for 7 seconds.</li>
<li>Click the<code>“Install Driver</code> button immediately. If the driver was unsuccessful, repeat from step 1.
If all went sucessfully, you will see the device show up in <code>Device Manager</code> as a LibusbK device.</li>
</ol>
<p><img src="../../gitbook/assets/pytrack_dfu_mode_zadig.png" alt=""></p>
<blockquote>
<p>If you accidentally installed the <code>libusbk</code> while the device was in Application mode, then the need to update the driver to the <code>Serial USB (CDC)</code> driver has to be installed for application mode. This will allow Windows to allocate a COM port, which is required for REPL console.
<img src="../../gitbook/assets/pytrack_app_mode_zadig.png" alt=""></p>
</blockquote>
</li>
</ul>
<h2 id="using-dfu-util">Using DFU-util</h2>
<p>To enter update mode follow these steps:</p>
<ol>
<li>Navigate the terminal to the folder where you downloaded the <code>.dfu</code> file to</li>
<li>Unplug the device</li>
<li>Remove the development module</li>
<li>Press and hold the S1/MCLR button on your device. Highlighted in red below:</li>
</ol>
<table>
<thead>
<tr>
<th align="left">Expansionboard 3.1</th>
<th align="left">Pygate</th>
<th align="left">Pysense</th>
<th align="left">Pysense 2.0 X</th>
<th align="left">Pytrack</th>
<th align="left">Pytrack 2.0 X</th>
<th align="left">PyScan</th>
</tr>
</thead>
<tbody>
<tr>
<td align="left"><img src="../../gitbook/assets/expansionboards/expansionboard31_dfu.png" alt=""></td>
<td align="left"><img src="../../gitbook/assets/expansionboards/pygate_dfu.png" alt=""></td>
<td align="left"><img src="../../gitbook/assets/expansionboards/pysense1_dfu.png" alt="">]</td>
<td align="left"><img src="../../gitbook/assets/expansionboards/pysense2_dfu.png" alt=""></td>
<td align="left"><img src="../../gitbook/assets/expansionboards/pytrack1_dfu.png" alt=""></td>
<td align="left"><img src="../../gitbook/assets/expansionboards/pytrack2_dfu.png" alt=""></td>
<td align="left"><img src="../../gitbook/assets/expansionboards/pyscan_dfu.png" alt=""></td>
</tr>
</tbody>
</table>
<ol start="5">
<li>Plug in the USB cable to the host computer and wait 1 second before releasing the button</li>
<li>After this you will have approximately 7 seconds to run the DFU-util tool</li>
</ol>
<ul>
<li>For MacOS and Linux:
<div class="highlight"><pre style="background-color:#f0f0f0;-moz-tab-size:4;-o-tab-size:4;tab-size:4"><code class="language-bash" data-lang="bash">sudo dfu-util -D pytrack_0.0.8.dfu
</code></pre></div></li>
<li>For Windows:
<div class="highlight"><pre style="background-color:#f0f0f0;-moz-tab-size:4;-o-tab-size:4;tab-size:4"><code class="language-bash" data-lang="bash">dfu-util-static.exe -D filename.dfu
</code></pre></div></li>
</ul>
<p>If the update was successful, &ldquo;Done!&rdquo; should appear in the bottom of the command prompt.
The output should look like the following:</p>
<div class="highlight"><pre style="background-color:#f0f0f0;-moz-tab-size:4;-o-tab-size:4;tab-size:4"><code class="language-bash" data-lang="bash">dfu-util 0.9

Copyright 2005-2009 Weston Schmidt, Harald Welte and OpenMoko Inc.
Copyright 2010-2016 Tormod Volden and Stefan Schmidt
This program is Free Software and has ABSOLUTELY NO WARRANTY
Please report bugs to http://sourceforge.net/p/dfu-util/tickets/

Match vendor ID from file: 04d8
Match product ID from file: f014
Opening DFU capable USB device...
ID 04d8:f014
Run-time device DFU version <span style="color:#40a070">0100</span>
Claiming USB DFU Runtime Interface...
Determining device status: <span style="color:#bb60d5">state</span> <span style="color:#666">=</span> dfuIDLE, <span style="color:#bb60d5">status</span> <span style="color:#666">=</span> <span style="color:#40a070">0</span>
dfu-util: WARNING: Runtime device already in DFU state ?!?
Claiming USB DFU Interface...
Setting Alternate Setting <span style="color:#60a0b0;font-style:italic">#0 ...</span>
Determining device status: <span style="color:#bb60d5">state</span> <span style="color:#666">=</span> dfuIDLE, <span style="color:#bb60d5">status</span> <span style="color:#666">=</span> <span style="color:#40a070">0</span>
dfuIDLE, continuing
DFU mode device DFU version <span style="color:#40a070">0100</span>
Device returned transfer size <span style="color:#40a070">64</span>
Copying data from PC to DFU device
Download    <span style="color:#666">[</span><span style="color:#666">=</span><span style="color:#666">=</span><span style="color:#666">=</span><span style="color:#666">=</span><span style="color:#666">=</span><span style="color:#666">=</span><span style="color:#666">=</span><span style="color:#666">=</span><span style="color:#666">=</span><span style="color:#666">=</span><span style="color:#666">=</span><span style="color:#666">=</span><span style="color:#666">=</span><span style="color:#666">=</span><span style="color:#666">=</span><span style="color:#666">=</span><span style="color:#666">=</span><span style="color:#666">=</span><span style="color:#666">=</span><span style="color:#666">=</span><span style="color:#666">=</span><span style="color:#666">=</span><span style="color:#666">=</span><span style="color:#666">=</span><span style="color:#666">=</span><span style="color:#666">]</span> 100%        <span style="color:#40a070">16384</span> bytes
Download <span style="color:#007020;font-weight:bold">done</span>.
state<span style="color:#666">(</span>2<span style="color:#666">)</span> <span style="color:#666">=</span> dfuIDLE, status<span style="color:#666">(</span>0<span style="color:#666">)</span> <span style="color:#666">=</span> No error condition is present
Done!
</code></pre></div><h3 id="debugging">Debugging</h3>
<p>Using <code>lsusb</code> command, the device should be visible in both normal and bootloader modes.</p>
<p>For example, a Pytrack board is visible as either:</p>
<ul>
<li><code>Bus 020 Device 004: ID 04d8:f014 Microchip Technology Inc. Application Specific Device</code>
<ul>
<li>This is the bootloader mode (<code>f014</code> is USB PID). It is active for just 7-8 seconds, if the MCLR button was pressed just before plugging in the USB connector.</li>
</ul>
</li>
<li><code>Bus 020 Device 005: ID 04d8:f013 Microchip Technology Inc. Pytrack Serial: Pyabcde0</code>
<ul>
<li>This is the normal, application mode (<code>f013</code> is USB PID). This means the bootloader verified the firmware and it boot-up correctly.</li>
</ul>
</li>
</ul>
</v-card-text>
</v-card>
    <p>&nbsp;</p>
    






  
  
    
  
  

  
  
    
  
  

  
  
    
  
  
    
    
    
      
    
    
    
    
    
      
    
    
      
      
      
        
      
      
      
      
      
        
      
      
      
      
      
        
      
      
      
    
    
    
    
      
    
    
      
      
      
        
      
      
      
      
      
        
      
      
      
      
      
        
      
      
      
    
    
    
    
      
    
    
      
      
      
        
      
      
      
      
      
        
      
      
      
      
      
        
      
      
        
        
        
          
        
        
        
        
        
          
        
        
        
        
        
          
        
        
        
        
        
          
        
        
        
        
        
          
        
        
        
      
      
    
    
  

  
  
    
  
  
    
    
    
      
    
    
      
      
      
        
      
      
      
      
      
        
      
      
      
      
      
        
      
      
      
      
      
        
      
      
      
      
      
        
      
      
      
    
    
    
    
      
    
    
      
      
      
        
      
      
      
      
      
        
      
      
      
      
      
        
      
      
      
      
      
        
      
      
      
      
      
        
      
      
      
      
      
        
      
      
      
      
      
        
      
      
      
      
      
        
      
      
      
    
    
    
    
      
    
    
      
      
      
        
      
      
      
      
      
        
      
      
        
        
        
          
        
        
        
      
      
      
      
        
      
      
        
        
        
          
        
        
        
        
        
          
        
        
        
        
        
          
        
        
        
      
      
      
      
        
      
      
        
        
        
          
        
        
        
        
        
          
        
        
        
        
        
          
        
        
        
        
        
          
        
        
        
        
        
          
        
        
        
        
        
          
        
        
        
        
        
          
        
        
        
      
      
      
      
        
      
      
        
        
        
          
        
        
        
      
      
      
      
        
      
      
      
    
    
    
    
      
    
    
      
      
      
        
      
      
      
      
      
        
      
      
      
      
      
        
      
      
      
      
      
        
      
      
      
      
      
        
      
      
      
      
      
        
      
      
      
      
      
        
      
      
      
      
      
        
      
      
      
      
      
        
      
      
      
      
      
        
      
      
      
    
    
    
    
      
    
    
      
      
      
        
      
      
      
      
      
        
      
      
      
      
      
        
      
      
      
      
      
        
      
      
      
      
      
        
      
      
      
      
      
        
      
      
      
    
    
    
    
      
    
    
      
      
      
        
      
      
      
      
      
        
      
      
      
    
    
    
    
      
    
    
      
      
      
        
      
      
      
    
    
  

  
  
    
  
  
    
    
    
      
    
    
      
      
      
        
      
      
        
        
        
          
        
        
        
        
        
          
        
        
        
        
        
          
        
        
        
        
        
          
        
        
        
        
        
          
        
        
        
        
        
          
        
        
        
        
        
          
        
        
        
        
        
          
        
        
        
        
        
          
        
        
        
        
        
          
        
        
        
        
        
          
        
        
        
        
        
          
        
        
        
        
        
          
        
        
        
        
        
          
        
        
        
        
        
          
        
        
        
      
      
      
      
        
      
      
        
        
        
          
        
        
        
        
        
          
        
        
        
        
        
          
        
        
        
        
        
          
        
        
        
          
          
          
            
          
          
          
          
            
          
          
          
          
            
          
          
          
          
            
          
          
          
          
            
          
          
          
          
            
          
          
          
          
            
          
          
        
        
        
          
        
        
        
          
          
          
            
          
          
        
        
        
          
        
        
        
        
        
          
        
        
        
        
        
          
        
        
        
        
        
          
        
        
        
      
      
      
      
        
      
      
      
      
      
        
      
      
      
      
      
        
      
      
        
        
        
          
        
        
        
        
        
          
        
        
        
        
        
          
        
        
        
        
        
          
        
        
        
        
        
          
        
        
        
        
        
          
        
        
        
        
        
          
        
        
        
        
        
          
        
        
        
      
      
    
    
    
    
      
    
    
      
      
      
        
      
      
      
      
      
        
      
      
      
      
      
        
      
      
      
      
      
        
      
      
      
      
      
        
      
      
      
      
      
        
      
      
      
      
      
        
      
      
      
      
      
        
      
      
      
      
      
        
      
      
      
      
      
        
      
      
      
      
      
        
      
      
      
      
      
        
      
      
      
      
      
        
      
      
      
      
      
        
      
      
      
      
      
        
      
      
      
      
      
        
      
      
      
      
      
        
      
      
      
      
      
        
      
      
      
      
      
        
      
      
      
      
      
        
      
      
      
      
      
        
      
      
      
    
    
    
    
      
    
    
    
  

  
  
    
  
  
    
    
    
      
    
    
      
      
      
        
      
      
      
      
      
        
      
      
      
      
      
        
      
      
      
      
      
        
      
      
      
      
      
        
      
      
      
      
      
        
      
      
      
      
      
        
      
      
      
    
    
    
    
      
    
    
      
      
      
        
      
      
      
      
      
        
      
      
      
      
      
        
      
      
      
      
      
        
      
      
      
      
      
        
      
      
      
      
      
        
      
      
      
      
      
        
      
      
      
      
      
        
      
      
      
    
    
    
    
      
    
    
      
      
      
        
      
      
      
      
      
        
      
      
      
      
      
        
      
      
      
      
      
        
      
      
      
      
      
        
      
      
      
      
      
        
      
      
      
      
      
        
      
      
      
      
      
        
      
      
      
      
      
        
      
      
      
      
      
        
      
      
      
    
    
    
    
      
    
    
    
    
    
      
    
    
      
      
      
        
      
      
      
      
      
        
      
      
      
    
    
    
    
      
    
    
      
      
      
        
      
      
      
      
      
        
      
      
      
    
    
    
    
      
    
    
    
  

  
  
    
  
  
    
    
    
      
    
    
    
    
    
      
    
    
    
    
    
      
    
    
    
    
    
      
      
      
      
    
    
    

      <v-layout class="full-width  prev-next pa-2 mt-4 mb-0" styleZZ="background-color: #7800FF;">
  <v-flex xs6 class="ppurple">
  
  <v-btn class="ml-4" href="/updatefirmware/diff_ota/">Previous</v-btn>
  
  </v-flex>
  <v-flex xs6 class="text-xs-right">
  <v-btn class="mr-4 pbgpurple white--text"  href="/updatefirmware/ltemodem/">Next</v-btn>
    </v-flex>
</v-layout>


    
    
      
    
    
    
  

  
  
    
  
  
    
    
    
      
    
    
    
    
    
      
    
    
    
    
    
      
    
    
    
    
    
      
    
    
      
      
      
        
      
      
        
        
        
          
        
        
        
      
      
      
      
        
      
      
        
        
        
          
        
        
        
        
        
          
        
        
        
      
      
    
    
    
    
      
    
    
    
    
    
      
    
    
    
    
    
      
    
    
      
      
      
        
      
      
      
    
    
    
    
      
    
    
      
      
      
        
      
      
      
      
      
        
      
      
      
    
    
    
    
      
    
    
      
      
      
        
      
      
      
      
      
        
      
      
      
    
    
    
    
      
    
    
      
      
      
        
      
      
      
      
      
        
      
      
      
      
      
        
      
      
      
      
      
        
      
      
      
    
    
    
    
      
    
    
      
      
      
        
      
      
      
      
      
        
      
      
      
      
      
        
      
      
      
    
    
    
    
      
    
    
      
      
      
        
      
      
      
      
      
        
      
      
      
      
      
        
      
      
      
    
    
  

  
  
    
  
  
    
    
    
      
    
    
      
      
      
        
      
      
      
      
      
        
      
      
      
    
    
    
    
      
    
    
    
    
    
      
    
    
    
  

  
  
    
  
  
    
    
    
      
    
    
    
    
    
      
    
    
    
    
    
      
    
    
    
    
    
      
    
    
    
    
    
      
    
    
    
    
    
      
    
    
    
  

  
  
    
  
  
    
    
    
      
    
    
    
    
    
      
    
    
    
    
    
      
    
    
    
    
    
      
    
    
    
    
    
      
    
    
    
    
    
      
    
    
    
    
    
      
    
    
    
    
    
      
    
    
    
  

  
  
    
  
  
    
    
    
      
    
    
    
    
    
      
    
    
    
    
    
      
    
    
    
    
    
      
    
    
    
    
    
      
    
    
    
    
    
      
    
    
    
  

  
  
    
  
  
    
    
    
      
    
    
    
    
    
      
    
    
    
    
    
      
    
    
    
    
    
      
    
    
    
    
    
      
    
    
    
  

  
  
    
  
  


    <v-spacer/>


          </v-container>
      </v-container>
    </v-content>
 </v-app>

  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vuetify/1.5.13/vuetify.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue-resource/1.5.1/vue-resource.min.js"></script>
  <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/docsearch.js@2/dist/cdn/docsearch.min.js"></script>
  <script>
    var development = false;
    var app = new Vue({
      el: '#app',
      data: {
        page: 1,
        pageCount: 0,
        error: null,
        results: null,
        drawer: true,
        drawer2: true,
        toc: 0,
        branches: [
        { value: 'https://docs.pycom.io', text: 'version stable'},
          { value: 'https://development.pycom.io', text: 'version development'},
          

        ],
        branch: ""
      },
      mounted: function () {
        
        this.branch= this.branches[0]
        for (b in this.branches) {
          if ( document.location.href.indexOf(this.branches[b].value) > -1) {
            this.branch= this.branches[b]
          }
        }
        
        
        if (this.$refs.tocBtn) {
          var elem = this.$refs.tocBtn.$el
          setTimeout(function () {
              elem.click();

          }, 3500);
        }
        var elem2 = document.getElementById("vuetify-theme-stylesheet");
        elem2.parentNode.removeChild(elem2);

      },
      watch: {
        
        branch: function (newb, old) {
          if (newb.value != this.branches[0].value) {
          
          
          
          
          
          
          
          
          
          
          
          
          
          
          
            window.location = newb + window.location.pathname;
          }
        },
      },
    });

    
    docsearch({
      apiKey: 'a99fde9999fbec81c1772eb9ffcca488',
      indexName: 'pycom',
      inputSelector: '.algolia-search-field input',
      debug: false 
    });
  </script>
<script type="text/javascript">
_atrk_opts = { atrk_acct:"WpWNq1SZw320l9", domain:"pycom.io",dynamic: true};
(function() { var as = document.createElement('script'); as.type = 'text/javascript'; as.async = true; as.src = "https://certify-js.alexametrics.com/atrk.js"; var s = document.getElementsByTagName('script')[0];s.parentNode.insertBefore(as, s); })();
</script>
<noscript><img src="https://certify.alexametrics.com/atrk.gif?account=WpWNq1SZw320l9" style="display:none" height="1" width="1" alt="" /></noscript>


<script>
    (function(h,o,t,j,a,r){
        h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
        h._hjSettings={hjid:1216663,hjsv:6};
        a=o.getElementsByTagName('head')[0];
        r=o.createElement('script');r.async=1;
        r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
        a.appendChild(r);
    })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
</script>
<script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

ga('create', 'UA-72107804-3', 'auto');
ga('send', 'pageview');
</script>
</body>
</html>
