<!DOCTYPE html>
<html class="fancyScroll">
<head>
  <meta charset="utf-8">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900|Material+Icons" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
  
  <link href="../css/vuetify.css" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">

  <title>Getting Started </title>
  <meta name="description" content="">

  <script src="../js/smooth-scroll.js"></script>
  <link href="../css/doc-theme.css%3F.css" rel="stylesheet">
  <link rel="icon" href="../favicon.ico">
  
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/docsearch.js@2/dist/cdn/docsearch.min.css" />
</head>
<body>
</script>
<v-app id="app" class=""  v-cloak style="background-color: white;">
   <v-navigation-drawer
  v-model="drawer"
  fixed
  app
  class="lighten-4 pt-0"
  style="overflow-y: hidden; overflow-x: hidden;margin-top:68px;"
>

  <div class="fancyScroll pa-0 ma-0" style="overflow-y: scroll; overflow-x: hidden;
      max-height: 100%;" >

    <v-divider class="mr-2 ml-1 mb-4" style="border: 0"></v-divider>

      <ul class="lefttree">
        <li class="lefttree">
            <a href="../index.html" class="beba" style="color: #1E1E3C; text-decoration: none;" >
              <v-icon style="color: #1E1E3C;">home</v-icon> Introduction</a>
        </li>
      </ul>

    


<ul class="lefttree ">

  
  
  
  
  


    <li class="lefttree ">
      <v-icon style="color: transparent; display: hidden;" >done</v-icon>
      <a href="registration/lora/helium_hotspot_registration/index.html" class="">Pycom Helium Miner</a>
    </li>

  

  
  
  
  
  


    <li class="lefttree ">
      <v-icon style="color: transparent; display: hidden;" >done</v-icon>
      <a href="../products/index.html" class="">Pycom Products</a>
    </li>

  

  
  
  
  
  

  
    <li class="lefttree padleft hot" >
      <v-icon style="color: transparent; display: hidden;" >done</v-icon>
      <a href="index.html" class="hot">  Getting Started</a>
      
      
        


<ul class="lefttree ">

  
  
  
  
  


    <li class="lefttree hot">
      <v-icon style="color: transparent; display: hidden;" >done</v-icon>
      <a href="index.html" class="hot">Getting Started</a>
    </li>

  

  
  
  
  
  

  
    <li class="lefttree " >
      <v-icon style="color: transparent; display: hidden;" >done</v-icon>
      <a href="software/index.html" class="">  Software</a>
      
      

      

  

  
  
  
  
  

  
    <li class="lefttree " >
      <v-icon style="color: transparent; display: hidden;" >done</v-icon>
      <a href="programming/index.html" class="">  Programming the modules</a>
      
      

      

  

  
  
  
  
  

  
    <li class="lefttree " >
      <v-icon style="color: transparent; display: hidden;" >done</v-icon>
      <a href="registration.html" class="">  Device Registration</a>
      
      

      

  

</ul>

      

      
    </li>
      

  

  
  
  
  
  

  
    <li class="lefttree " >
      <v-icon style="color: transparent; display: hidden;" >done</v-icon>
      <a href="../tutorials/index.html" class="">  Tutorials &amp; Examples</a>
      
      

      

  

  
  
  
  
  

  
    <li class="lefttree " >
      <v-icon style="color: transparent; display: hidden;" >done</v-icon>
      <a href="../firmwareapi/index.html" class="">  Firmware &amp; API Reference</a>
      
      

      

  

  
  
  
  
  

  
    <li class="lefttree " >
      <v-icon style="color: transparent; display: hidden;" >done</v-icon>
      <a href="../datasheets/index.html" class="">  Product Info, Datasheets</a>
      
      

      

  

  
  
  
  
  

  
    <li class="lefttree " >
      <v-icon style="color: transparent; display: hidden;" >done</v-icon>
      <a href="../updatefirmware/index.html" class="">  Update Firmware</a>
      
      

      

  

  
  
  
  
  

  
    <li class="lefttree " >
      <v-icon style="color: transparent; display: hidden;" >done</v-icon>
      <a href="../pybytes/index.html" class="">  Pybytes</a>
      
      

      

  

  
  
  
  
  

  
    <li class="lefttree " >
      <v-icon style="color: transparent; display: hidden;" >done</v-icon>
      <a href="../cellularservices/index.html" class="">  Cellular Services</a>
      
      

      

  

  
  
  
  
  

  
    <li class="lefttree " >
      <v-icon style="color: transparent; display: hidden;" >done</v-icon>
      <a href="../pylife/index.html" class="">  Pylife</a>
      
      

      

  

  
  
  
  
  

  
    <li class="lefttree " >
      <v-icon style="color: transparent; display: hidden;" >done</v-icon>
      <a href="../pymesh.html" class="">  Pymesh</a>
      
      

      

  

  
  
  
  
  

  
    <li class="lefttree " >
      <v-icon style="color: transparent; display: hidden;" >done</v-icon>
      <a href="../docnotes/index.html" class="">  Micropython Support</a>
      
      

      

  

  
  
  
  
  

  
    <li class="lefttree " >
      <v-icon style="color: transparent; display: hidden;" >done</v-icon>
      <a href="../advance/downgrade.html" class="">  Advanced topics</a>
      
      

      

  

  
  
  
  
  


    <li class="lefttree ">
      <v-icon style="color: transparent; display: hidden;" >done</v-icon>
      <a href="../license/index.html" class="">License</a>
    </li>

  

</ul>


    <v-divider class="grey lighten-1 ma-2 mt-4 mb-4"></v-divider>

    <ul class="lefttree" >Have a question ?
      <li class="lefttree">  <a href="https://forum.pycom.io">Ask on the forum</a>
    </ul>
    <p>&nbsp;</p>
      <p>&nbsp;</p>
  </div>
</v-navigation-drawer>
<v-toolbar
  app
  fixed
  height=68
  class="pr-3 pl-2 navbar"
  dark
  style="background-color: #171730;"
  flat
>
  <v-toolbar-title style="width: 260px; " class="ml-4 pl-0  pt-2 text-xs-center hidden-sm-and-down">
    <v-img class="ml-4"  height=48 width=190  src="/logo.svg" class="">
  </v-toolbar-title>

    <v-btn icon @click.stop="drawer = !drawer" style="z-index: 1200;">
      <v-icon>toc</v-icon>
    </v-btn>
    <span class="beba" style="font-size: 1.6rem; opacity: 0.85;">
        Getting Started
    </span>

  <v-text-field
    style="max-width: 650px"
    class="ml-3 algolia-search-field"
    light
    hide-details
    label="Search the docs..."
    solo
    append-icon="search"
  ></v-text-field>

  <v-spacer></v-spacer>
  <v-btn icon ref="tocBtn" @click.stop="drawer2 = !drawer2" >
    <v-icon style="color: rgb(23, 255, 189);">more_vert</v-icon>
  </v-btn>
  
</v-toolbar>
<v-content >
      <v-container class="fluid pa-4" style="padding-top: 0 !important;">
          <v-container class="ma-1 pa-1"><v-slide-y-transition>
    <v-card class="menu-contextual" v-if="drawer2" @click.stop="drawer2 = !drawer2">
      <v-card-title class="beba" style="height: 68px; background-color: #1E1E3C; color: #17FFBD">
        What's in this document
        <v-btn icon @click.stop="drawer2 = !drawer2" style="color: #17FFBD; position: absolute; right: 0; top: 4px;;">
          <v-icon>more_vert</v-icon>
        </v-btn>


      </v-card-title>
      <v-card-text class="fancyScroll righttree">
    <nav id="TableOfContents">
  <ul>
    <li class="righttree"><a href="index.html#step-1-setting-up-the-hardware">Step 1: Setting up the hardware</a>
      <ul>
        <li class="righttree"><a href="index.html#connect-your-board-to-your-computer-through-usb">Connect your board to your computer through USB</a></li>
      </ul>
    </li>
    <li class="righttree"><a href="index.html#step-2-setting-up-your-computer">Step 2: Setting up your computer</a></li>
    <li class="righttree"><a href="index.html#step-3-programming-your-module">Step 3: Programming your module</a>
      <ul>
        <li class="righttree"><a href="index.html#running-your-first-code">Running your first code</a></li>
        <li class="righttree"><a href="index.html#creating-a-project-in-pymakr">Creating a project in Pymakr</a></li>
        <li class="righttree"><a href="index.html#uploading-to-your-module">Uploading to your module</a></li>
      </ul>
    </li>
    <li class="righttree"><a href="index.html#step-4-using-your-shield">Step 4: Using your shield</a></li>
    <li class="righttree"><a href="index.html#step-5-connecting-to-a-network">Step 5: Connecting to a network</a></li>
    <li class="righttree"><a href="index.html#further-references">Further references</a></li>
  </ul>
</nav>
      </v-card-text>
    </v-card>
</v-slide-y-transition>





<v-card flat class="DocSearch-content">
  <v-card-text>
    
    <h1>Getting Started</h1><p>Welcome to the getting started guide for your device!
In the following guide, we will explain the basic process to get started using your Pycom products.</p>
<ol>
<li><a href="index.html#step-1-setting-up-the-hardware">Setting up the hardware</a></li>
<li><a href="index.html#step-2-setting-up-your-computer">Setting up your computer</a></li>
<li><a href="index.html#step-3-programming-your-module">Programming the module</a></li>
<li><a href="index.html#step-4-using-your-shield">Using your Shield</a></li>
</ol>
<!-- raw HTML omitted -->
<h2 id="step-1-setting-up-the-hardware">Step 1: Setting up the hardware</h2>
<p>In the first part of this getting started guide, we will take you through setting up your device. Firstly we will cover how to connect the module to your computer via USB.</p>
<h3 id="connect-your-board-to-your-computer-through-usb">Connect your board to your computer through USB</h3>
<p>This step works the same for all our development boards and expansion boards. Insert your development board (Lopy, Wipy, etc.) into the expansion board (Pytrack, Pysense, Expansion board etc.) with the reset button and RGB LED above the USB connector like shown below. Connect an USB cable to the USB port and your computer. Now, you can talk to your device through USB, but we still need some software to upload your first program!</p>
<p><img src="../gitbook/assets/expansion_board_3_lopy4.png" alt=""></p>
<blockquote>
<p>Note: If you do not have an expansion board, you are able to use a <a href="programming/usbserial/index.html">USB-Serial converter</a> to connect or the <a href="../pybytes/smart/index.html">Pybytes App</a> to provision your device to Pybytes.</p>
</blockquote>
<h2 id="step-2-setting-up-your-computer">Step 2: Setting up your computer</h2>
<p>Now that your module is successfully connected, you will need to install some software on your computer to interface with it. For this, we use Pymakr, a plugin for both Visual Studio Code and Atom IDE. Through either one of the environments, we can connect to the board and talk Python!</p>
<p>Follow the link below for the installation instructions:</p>
<ul>
<li>
<p><a href="software/atom/index.html">Atom</a></p>
</li>
<li>
<p><a href="software/vscode/index.html">VS Code</a></p>
</li>
</ul>
<p>Once you have installed and opened the IDE, the board should automatically show up in the terminal. If not, check if any of your other plugins are in conflict. If everything is correct, the REPL (Read Evaluate Print Loop) terminal will show the classic Python <code>&gt;&gt;&gt;</code>.</p>
<blockquote>
<p>Note: If your device does not get recognized the first time on Windows, check if you need <a href="software/drivers/index.html">additional drivers</a></p>
</blockquote>
<h2 id="step-3-programming-your-module">Step 3: Programming your module</h2>
<p>Now that you have connected your device and installed Pymakr, it is time to begin programming your device!</p>
<h3 id="running-your-first-code">Running your first code</h3>
<p>If you have any experience with python, you know that the <code>&gt;&gt;&gt;</code> means we can start typing commands! Type the following commands in the REPL terminal:</p>
<div class="highlight"><pre style="background-color:#f0f0f0;-moz-tab-size:4;-o-tab-size:4;tab-size:4"><code class="language-python" data-lang="python"><span style="color:#666">&gt;&gt;</span><span style="color:#666">&gt;</span> <span style="color:#007020;font-weight:bold">import</span> <span style="color:#0e84b5;font-weight:bold">pycom</span>
<span style="color:#666">&gt;&gt;</span><span style="color:#666">&gt;</span> pycom<span style="color:#666">.</span>heartbeat(False)
<span style="color:#666">&gt;&gt;</span><span style="color:#666">&gt;</span> pycom<span style="color:#666">.</span>rgbled(<span style="color:#40a070">0x330033</span>)
</code></pre></div><p>This will turn the RGB LED on your device purple! Notice that the REPL does not give any feedback. Only when we make a mistake, or ask it to return something will it give us a response.</p>
<h3 id="creating-a-project-in-pymakr">Creating a project in Pymakr</h3>
<p>In this first project, we will make the on-board RGB LED flash different colors.</p>
<ol>
<li>Firstly you will need to create a new, empty, directory on your computer. For this example we will create one called <code>RGB-Blink</code>.</li>
<li>Open the project folder you have created in your IDE.</li>
<li>Now, we will need to add some files. A standard MicroPython project will have a <code>lib</code> folder for additional libraries, and two python files: <code>main.py</code> and <code>boot.py</code>.
<ul>
<li><code>main.py</code> This script runs directly after <code>boot.py</code> and should contain the main code you wish to run on your device.</li>
<li><code>boot.py</code> This is the first script that runs on your module when it turns on. This is often used to connect a module to a network without cluttering up the <code>main.py</code> file. As a beginner you generally do not need to use a <code>boot.py</code>.</li>
<li>It is often a good idea to split out re-usable code into libraries. If you want to create or use libraries created by others, you will need to create a <code>lib</code> directory and put the library files in this. It is important that you put <code>.py</code> files directly into <code>lib</code> rather than creating a directory tree. For example, the extra sensor libraries for the Pytrack, Pysense and Pyscan are put in this folder. In this example, we will not use it.</li>
</ul>
</li>
</ol>
<h4 id="controlling-the-on-board-rgb-led">Controlling the on-board RGB LED</h4>
<p>Now that you have setup and configured your project, we can move on to programming your module. The first thing we will need to do is import some libraries in order to interact with the on-board LED. The Pycom firmware comes with a large amount of built-in modules. You can find out more about these in the <a href="../firmwareapi/introduction.html">API documentation</a>. For this example you will need to open the <code>main.py</code> file and add the following code:</p>
<div class="highlight"><pre style="background-color:#f0f0f0;-moz-tab-size:4;-o-tab-size:4;tab-size:4"><code class="language-python" data-lang="python"><span style="color:#007020;font-weight:bold">import</span> <span style="color:#0e84b5;font-weight:bold">pycom</span>
<span style="color:#007020;font-weight:bold">import</span> <span style="color:#0e84b5;font-weight:bold">time</span>
</code></pre></div><p>This will import two libraries, <code>pycom</code> which is responsible for Pycom specific features, such as the on-board LED and <code>time</code> which is a standard library used for timing and delays.</p>
<blockquote>
<p>You may have noticed that when you power up your Pycom module, the on-board LED blinks blue on a regular basis. This &ldquo;heartbeat&rdquo; is used as a way of know that your module has powered up and started correctly.</p>
</blockquote>
<p>Before we can change the colour of this LED we need to disable this heart beat. Below your imports you will need to add the following:</p>
<div class="highlight"><pre style="background-color:#f0f0f0;-moz-tab-size:4;-o-tab-size:4;tab-size:4"><code class="language-python" data-lang="python">pycom<span style="color:#666">.</span>heartbeat(False)
</code></pre></div><p>Now it&rsquo;s time to test your code. On the Pymakr pane, you will see a <code>run</code> button, but als an <code>upload (to device)</code> button. For now, we will use <code>run</code>.</p>
<p>After running the example code above, you should see that that on-board LED stops blinking blue. Now, we can complete our script to blink the LED like so:</p>
<div class="highlight"><pre style="background-color:#f0f0f0;-moz-tab-size:4;-o-tab-size:4;tab-size:4"><code class="language-python" data-lang="python"><span style="color:#007020;font-weight:bold">import</span> <span style="color:#0e84b5;font-weight:bold">pycom</span>
<span style="color:#007020;font-weight:bold">import</span> <span style="color:#0e84b5;font-weight:bold">time</span>

pycom<span style="color:#666">.</span>heartbeat(False)

<span style="color:#007020;font-weight:bold">while</span> True:
    <span style="color:#60a0b0;font-style:italic">#colors in hexadecimal (0xRRGGBB)</span>
    pycom<span style="color:#666">.</span>rgbled(<span style="color:#40a070">0xFF0000</span>)  <span style="color:#60a0b0;font-style:italic"># Red</span>
    time<span style="color:#666">.</span>sleep(<span style="color:#40a070">1</span>)
    pycom<span style="color:#666">.</span>rgbled(<span style="color:#40a070">0x00FF00</span>)  <span style="color:#60a0b0;font-style:italic"># Green</span>
    time<span style="color:#666">.</span>sleep(<span style="color:#40a070">1</span>)
    pycom<span style="color:#666">.</span>rgbled(<span style="color:#40a070">0x0000FF</span>)  <span style="color:#60a0b0;font-style:italic"># Blue</span>
    time<span style="color:#666">.</span>sleep(<span style="color:#40a070">1</span>)
</code></pre></div><p>Once you run the above script, it will run forever (due to the infinite <code>While</code>-loop). In order to stop the script, click onto the Pymakr terminal, and press <code>ctrl-c</code> on your keyboard. This stops the script and returns to the interactive REPL.</p>
<p>Great work, the RGB-LED on your device should now blink in red, green and blue</p>
<h3 id="uploading-to-your-module">Uploading to your module</h3>
<p>In the previous section we got code running on on your Pycom module using the <code>run</code> feature of Pymakr. This is useful for quick testing but has a couple of drawbacks. Firstly the code does not remain on the device permanently. If you reboot the device, it will no longer be running your code. Secondly, it will only work if you are using libraries built into the firmware. If you need any extra libraries, these need to be copied to the device first. This is where the <code>upload</code> feature comes in. If instead of <code>run</code> you click <code>upload</code>, Pymakr will upload all the files in the project. These then persist on your device even between reboots, and allows you to use libraries from the <code>lib</code> folder in your project.</p>
<h2 id="step-4-using-your-shield">Step 4: Using your shield</h2>
<p>From here on, you can continue to use the additional features of your expansionboard:</p>
<blockquote>
<p>Note The Expansionboard requires no additional libraries and all functions work out of the box!</p>
</blockquote>
<table>
<thead>
<tr>
<th align="left"><a href="../datasheets/expansionboards/pygate/index.html"> Pygate</a></th>
<th align="left"><a href="../datasheets/expansionboards/pysense/index.html">Pysense</a></th>
<th align="left"><a href="../datasheets/expansionboards/pysense2/index.html">Pysense 2.0 X</a></th>
<th align="left"><a href="../datasheets/expansionboards/pytrack/index.html">Pytrack</a></th>
<th align="left"><a href="../datasheets/expansionboards/pytrack2/index.html">Pytrack 2.0 X</a></th>
<th align="left"><a href="../datasheets/expansionboards/pyscan/index.html">PyScan </a></th>
</tr>
</thead>
<tbody>
<tr>
<td align="left"><a href="../datasheets/expansionboards/pygate/index.html"><img src="../gitbook/assets/expansionboards/pygate.png" alt=""></a></td>
<td align="left"><a href="../datasheets/expansionboards/pysense/index.html"><img src="../gitbook/assets/expansionboards/pysense1.png" alt=""></a></td>
<td align="left"><a href="../datasheets/expansionboards/pysense2/index.html"><img src="../gitbook/assets/expansionboards/pysense2.png" alt=""></a></td>
<td align="left"><a href="../datasheets/expansionboards/pytrack/index.html"><img src="../gitbook/assets/expansionboards/pytrack1.png" alt=""></a></td>
<td align="left"><a href="../datasheets/expansionboards/pytrack2/index.html"><img src="../gitbook/assets/expansionboards/pytrack2.png" alt=""></a></td>
<td align="left"><a href="../datasheets/expansionboards/pyscan/index.html"><img src="../gitbook/assets/expansionboards/pyscan.png" alt=""></a></td>
</tr>
</tbody>
</table>
<h2 id="step-5-connecting-to-a-network">Step 5: Connecting to a network</h2>
<table>
<thead>
<tr>
<th align="left"><a href="../tutorials/networks/wlan.html">WiFi</a></th>
<th align="left"><a href="../tutorials/networks/lora/index.html">LoRa</a></th>
<th align="left"><a href="../tutorials/networks/sigfox.html">SigFox</a></th>
<th align="left"><a href="../tutorials/networks/ble.html">BLE</a></th>
<th align="left"><a href="../tutorials.networks/lte/index.html">LTE</a></th>
<th align="left">Ethernet</th>
</tr>
</thead>
</table>
<h2 id="further-references">Further references</h2>
<p>Now that we got the basic example running, you can continue with the links below.</p>
<ul>
<li>
<p><a href="../pybytes/gettingstarted/index.html">Connect using Pybytes</a></p>
</li>
<li>
<p><a href="../tutorials/index.html">Tutorials and examples</a></p>
</li>
<li>
<p><a href="../firmwareapi/index.html">Firmware API</a></p>
</li>
<li>
<p><a href="programming/ftp/index.html">FTP and Telnet</a></p>
</li>
<li>
<p><a href="registration.html">Registering with a network</a></p>
</li>
<li>
<p><a href="../updatefirmware/index.html">Updating the firmware of your device</a></p>
</li>
</ul>
<!-- raw HTML omitted -->
<!-- raw HTML omitted -->
<ul>
      
      </ul>
  </v-card-text>
</v-card>
<p>&nbsp;</p>







  
  
    
  
  

  
  
    
  
  

  
  
    
    
    
    
  
    
    

      <v-layout class="full-width  prev-next pa-2 mt-4 mb-0" styleZZ="background-color: #7800FF;">
  <v-flex xs6 class="ppurple">
  
  <v-btn class="ml-4" href="/products/">Previous</v-btn>
  
  </v-flex>
  <v-flex xs6 class="text-xs-right">
  <v-btn class="mr-4 pbgpurple white--text"  href="/gettingstarted/">Next</v-btn>
    </v-flex>
</v-layout>


    
    
      
      
      
      
    
    
    

      <v-layout class="full-width  prev-next pa-2 mt-4 mb-0" styleZZ="background-color: #7800FF;">
  <v-flex xs6 class="ppurple">
  
  <v-btn class="ml-4" href="/gettingstarted/">Previous</v-btn>
  
  </v-flex>
  <v-flex xs6 class="text-xs-right">
  <v-btn class="mr-4 pbgpurple white--text"  href="/gettingstarted/software/">Next</v-btn>
    </v-flex>
</v-layout>


    
    
      
    
    
      
      
      
        
      
      
      
      
      
        
      
      
      
      
      
        
      
      
      
    
    
    
    
      
    
    
      
      
      
        
      
      
      
      
      
        
      
      
      
      
      
        
      
      
      
    
    
    
    
      
    
    
      
      
      
        
      
      
      
      
      
        
      
      
      
      
      
        
      
      
        
        
        
          
        
        
        
        
        
          
        
        
        
        
        
          
        
        
        
        
        
          
        
        
        
        
        
          
        
        
        
      
      
    
    
  

  
  
    
  
  
    
    
    
      
    
    
      
      
      
        
      
      
      
      
      
        
      
      
      
      
      
        
      
      
      
      
      
        
      
      
      
      
      
        
      
      
      
    
    
    
    
      
    
    
      
      
      
        
      
      
      
      
      
        
      
      
      
      
      
        
      
      
      
      
      
        
      
      
      
      
      
        
      
      
      
      
      
        
      
      
      
      
      
        
      
      
      
      
      
        
      
      
      
    
    
    
    
      
    
    
      
      
      
        
      
      
      
      
      
        
      
      
        
        
        
          
        
        
        
      
      
      
      
        
      
      
        
        
        
          
        
        
        
        
        
          
        
        
        
        
        
          
        
        
        
      
      
      
      
        
      
      
        
        
        
          
        
        
        
        
        
          
        
        
        
        
        
          
        
        
        
        
        
          
        
        
        
        
        
          
        
        
        
        
        
          
        
        
        
        
        
          
        
        
        
      
      
      
      
        
      
      
        
        
        
          
        
        
        
      
      
      
      
        
      
      
      
    
    
    
    
      
    
    
      
      
      
        
      
      
      
      
      
        
      
      
      
      
      
        
      
      
      
      
      
        
      
      
      
      
      
        
      
      
      
      
      
        
      
      
      
      
      
        
      
      
      
      
      
        
      
      
      
      
      
        
      
      
      
      
      
        
      
      
      
    
    
    
    
      
    
    
      
      
      
        
      
      
      
      
      
        
      
      
      
      
      
        
      
      
      
      
      
        
      
      
      
      
      
        
      
      
      
      
      
        
      
      
      
    
    
    
    
      
    
    
      
      
      
        
      
      
      
      
      
        
      
      
      
    
    
    
    
      
    
    
      
      
      
        
      
      
      
    
    
  

  
  
    
  
  
    
    
    
      
    
    
      
      
      
        
      
      
        
        
        
          
        
        
        
        
        
          
        
        
        
        
        
          
        
        
        
        
        
          
        
        
        
        
        
          
        
        
        
        
        
          
        
        
        
        
        
          
        
        
        
        
        
          
        
        
        
        
        
          
        
        
        
        
        
          
        
        
        
        
        
          
        
        
        
        
        
          
        
        
        
        
        
          
        
        
        
        
        
          
        
        
        
        
        
          
        
        
        
      
      
      
      
        
      
      
        
        
        
          
        
        
        
        
        
          
        
        
        
        
        
          
        
        
        
        
        
          
        
        
        
          
          
          
            
          
          
          
          
            
          
          
          
          
            
          
          
          
          
            
          
          
          
          
            
          
          
          
          
            
          
          
          
          
            
          
          
        
        
        
          
        
        
        
          
          
          
            
          
          
        
        
        
          
        
        
        
        
        
          
        
        
        
        
        
          
        
        
        
        
        
          
        
        
        
      
      
      
      
        
      
      
      
      
      
        
      
      
      
      
      
        
      
      
        
        
        
          
        
        
        
        
        
          
        
        
        
        
        
          
        
        
        
        
        
          
        
        
        
        
        
          
        
        
        
        
        
          
        
        
        
        
        
          
        
        
        
        
        
          
        
        
        
      
      
    
    
    
    
      
    
    
      
      
      
        
      
      
      
      
      
        
      
      
      
      
      
        
      
      
      
      
      
        
      
      
      
      
      
        
      
      
      
      
      
        
      
      
      
      
      
        
      
      
      
      
      
        
      
      
      
      
      
        
      
      
      
      
      
        
      
      
      
      
      
        
      
      
      
      
      
        
      
      
      
      
      
        
      
      
      
      
      
        
      
      
      
      
      
        
      
      
      
      
      
        
      
      
      
      
      
        
      
      
      
      
      
        
      
      
      
      
      
        
      
      
      
      
      
        
      
      
      
      
      
        
      
      
      
    
    
    
    
      
    
    
    
  

  
  
    
  
  
    
    
    
      
    
    
      
      
      
        
      
      
      
      
      
        
      
      
      
      
      
        
      
      
      
      
      
        
      
      
      
      
      
        
      
      
      
      
      
        
      
      
      
      
      
        
      
      
      
    
    
    
    
      
    
    
      
      
      
        
      
      
      
      
      
        
      
      
      
      
      
        
      
      
      
      
      
        
      
      
      
      
      
        
      
      
      
      
      
        
      
      
      
      
      
        
      
      
      
      
      
        
      
      
      
    
    
    
    
      
    
    
      
      
      
        
      
      
      
      
      
        
      
      
      
      
      
        
      
      
      
      
      
        
      
      
      
      
      
        
      
      
      
      
      
        
      
      
      
      
      
        
      
      
      
      
      
        
      
      
      
      
      
        
      
      
      
      
      
        
      
      
      
    
    
    
    
      
    
    
    
    
    
      
    
    
      
      
      
        
      
      
      
      
      
        
      
      
      
    
    
    
    
      
    
    
      
      
      
        
      
      
      
      
      
        
      
      
      
    
    
    
    
      
    
    
    
  

  
  
    
  
  
    
    
    
      
    
    
    
    
    
      
    
    
    
    
    
      
    
    
    
    
    
      
    
    
    
    
    
      
    
    
    
  

  
  
    
  
  
    
    
    
      
    
    
    
    
    
      
    
    
    
    
    
      
    
    
    
    
    
      
    
    
      
      
      
        
      
      
        
        
        
          
        
        
        
      
      
      
      
        
      
      
        
        
        
          
        
        
        
        
        
          
        
        
        
      
      
    
    
    
    
      
    
    
    
    
    
      
    
    
    
    
    
      
    
    
      
      
      
        
      
      
      
    
    
    
    
      
    
    
      
      
      
        
      
      
      
      
      
        
      
      
      
    
    
    
    
      
    
    
      
      
      
        
      
      
      
      
      
        
      
      
      
    
    
    
    
      
    
    
      
      
      
        
      
      
      
      
      
        
      
      
      
      
      
        
      
      
      
      
      
        
      
      
      
    
    
    
    
      
    
    
      
      
      
        
      
      
      
      
      
        
      
      
      
      
      
        
      
      
      
    
    
    
    
      
    
    
      
      
      
        
      
      
      
      
      
        
      
      
      
      
      
        
      
      
      
    
    
  

  
  
    
  
  
    
    
    
      
    
    
      
      
      
        
      
      
      
      
      
        
      
      
      
    
    
    
    
      
    
    
    
    
    
      
    
    
    
  

  
  
    
  
  
    
    
    
      
    
    
    
    
    
      
    
    
    
    
    
      
    
    
    
    
    
      
    
    
    
    
    
      
    
    
    
    
    
      
    
    
    
  

  
  
    
  
  
    
    
    
      
    
    
    
    
    
      
    
    
    
    
    
      
    
    
    
    
    
      
    
    
    
    
    
      
    
    
    
    
    
      
    
    
    
    
    
      
    
    
    
    
    
      
    
    
    
  

  
  
    
  
  
    
    
    
      
    
    
    
    
    
      
    
    
    
    
    
      
    
    
    
    
    
      
    
    
    
    
    
      
    
    
    
    
    
      
    
    
    
  

  
  
    
  
  
    
    
    
      
    
    
    
    
    
      
    
    
    
    
    
      
    
    
    
    
    
      
    
    
    
    
    
      
    
    
    
  

  
  
    
  
  


<v-spacer/>


          </v-container>
      </v-container>
    </v-content>
 </v-app>

  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vuetify/1.5.13/vuetify.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue-resource/1.5.1/vue-resource.min.js"></script>
  <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/docsearch.js@2/dist/cdn/docsearch.min.js"></script>
  <script>
    var development = false;
    var app = new Vue({
      el: '#app',
      data: {
        page: 1,
        pageCount: 0,
        error: null,
        results: null,
        drawer: true,
        drawer2: true,
        toc: 0,
        branches: [
        { value: 'https://docs.pycom.io', text: 'version stable'},
          { value: 'https://development.pycom.io', text: 'version development'},
          

        ],
        branch: ""
      },
      mounted: function () {
        
        this.branch= this.branches[0]
        for (b in this.branches) {
          if ( document.location.href.indexOf(this.branches[b].value) > -1) {
            this.branch= this.branches[b]
          }
        }
        
        
        if (this.$refs.tocBtn) {
          var elem = this.$refs.tocBtn.$el
          setTimeout(function () {
              elem.click();

          }, 3500);
        }
        var elem2 = document.getElementById("vuetify-theme-stylesheet");
        elem2.parentNode.removeChild(elem2);

      },
      watch: {
        
        branch: function (newb, old) {
          if (newb.value != this.branches[0].value) {
          
          
          
          
          
          
          
          
          
          
          
          
          
          
          
            window.location = newb + window.location.pathname;
          }
        },
      },
    });

    
    docsearch({
      apiKey: 'a99fde9999fbec81c1772eb9ffcca488',
      indexName: 'pycom',
      inputSelector: '.algolia-search-field input',
      debug: false 
    });
  </script>
<script type="text/javascript">
_atrk_opts = { atrk_acct:"WpWNq1SZw320l9", domain:"pycom.io",dynamic: true};
(function() { var as = document.createElement('script'); as.type = 'text/javascript'; as.async = true; as.src = "https://certify-js.alexametrics.com/atrk.js"; var s = document.getElementsByTagName('script')[0];s.parentNode.insertBefore(as, s); })();
</script>
<noscript><img src="https://certify.alexametrics.com/atrk.gif?account=WpWNq1SZw320l9" style="display:none" height="1" width="1" alt="" /></noscript>


<script>
    (function(h,o,t,j,a,r){
        h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
        h._hjSettings={hjid:1216663,hjsv:6};
        a=o.getElementsByTagName('head')[0];
        r=o.createElement('script');r.async=1;
        r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
        a.appendChild(r);
    })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
</script>
<script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

ga('create', 'UA-72107804-3', 'auto');
ga('send', 'pageview');
</script>
</body>
</html>
